<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TEST ONLINE deviceponsive.com</title>
</head><body>&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_xs.css" media="only screen and (max-width: 767px)" /&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_sm.css" media="only screen and (min-width: 768px) and (max-width: 991px)" /&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_md.css" media="only screen and (min-width: 992px) and (max-width: 1199px)" /&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_lg.css" media="only screen and (min-width: 1200px)" /&gt;<br/>
<br/>
http://deviceponsive.com/?url=http%3A%2F%2Fdev4.softreactor.com%2F<br/>
http://deviceponsive.com/?url=<span style="font-size: 10pt"><span style="font-family: DejaVu Sans Mono"><div style="text-align: left">http://dev4.softreactor.com<b>/admin/contributor/index</b></div></span></span><br/>
http://deviceponsive.com/?url=<div style="text-align: left"><span style="font-family: DejaVu Sans Mono"><span style="font-size: 10pt">http://dev4.softreactor.com<b>/admin/dashboard/index</b></span></span></div><br/>
<b>xs</b>&nbsp;:<br/>
&nbsp; &nbsp; &nbsp;iPhone portrait 320 x 480<br/>
&nbsp; &nbsp; &nbsp;iPhone landscape 480 x 320<br/>
&nbsp; &nbsp; &nbsp;Kindle portrait 600 x 1024<br/>
&nbsp; &nbsp; &nbsp;Galaxy-y portrait 240 x 320<br/>
&nbsp; &nbsp; &nbsp;Galaxy-y landscape 320 x 240<br/>
<b>sm</b>&nbsp;:<br/>
&nbsp; &nbsp; &nbsp;iPad portrait 768 x 1024<br/>
<b>md</b>&nbsp;: <br/>
&nbsp; &nbsp; &nbsp;iPad landscape 1024 x 768<br/>
&nbsp; &nbsp; &nbsp;Kindle landscape 1024 x 600 <br/>
<br/>
<b>lg :<br/>
</b>&nbsp; &nbsp; &nbsp;Macbook 1280 x 800<br/>
<br/>
</body></html>