<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>tour_edit.twig</title>
</head><body><br/>
application/views/plain/admin/tour/tour_edit.twig<br/>
{% extends "plain/admin/base.twig" %}<br/>
{% block content %}<br/>
<br/>
&nbsp; &nbsp; &lt;script type="text/javascript"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; /*&lt;![CDATA[*/<br/>
&nbsp; &nbsp; &nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.set_error_keypress() }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#name").focus()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if IsInsert or Tour is empty %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; onChange_state_id('', '')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; onChange_state_id('{{ Tour.region_id }}', '{{ Tour.subregion_id }}')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourHighlightsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourInquerysLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourReviewsLoad()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //$('#tabpanel_information_highlights').tab('show');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) { // http://getbootstrap.com/javascript/#tabs<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( e.target.text == 'Contact Details' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#name").focus()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( e.target.text == 'Information &amp; Highlights' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#category_id").focus()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; })<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "::+11" )<br/>
/* &#09;});<br/>
&nbsp;{if $Tour neq "" and $IsInsert neq 1 }<br/>
&nbsp;{if $is_logged eq 1 and $user_role eq "Admin" and $Tour.status eq "A" }<br/>
&nbsp;$("#span_status_activate_button_label").css("display", "none")<br/>
&nbsp;{/if}<br/>
&nbsp;{if $is_logged eq 1 and $user_role eq "Admin" and $Tour.status eq "I" }<br/>
&nbsp;$("#span_status_deactivate_button_label").css("display", "none")<br/>
&nbsp;{/if}<br/>
&nbsp;TourInquerysLoad()<br/>
<br/>
&nbsp;{* {if $Tour neq "" and $Tour.feature eq "F"} &nbsp;*}<br/>
&nbsp;TourHighlightsLoad()<br/>
&nbsp;{* {/if} &nbsp;*}<br/>
<br/>
&nbsp;TourReviewsLoad()<br/>
&nbsp;{/if}<br/>
&nbsp;{if $IsInsert eq 1 }<br/>
&nbsp;$("#span_status_activate_button_label").css("display", "none")<br/>
&nbsp;$("#span_status_deactivate_button_label").css("display", "none")<br/>
&nbsp;{/if}<br/>
<br/>
<br/>
&nbsp;var active_tab = 0;<br/>
&nbsp;{if $active_tab neq "" }<br/>
&nbsp;active_tab = {$active_tab};<br/>
&nbsp;{/if}<br/>
&nbsp;$("#tabs").tabs({ &nbsp;active: active_tab &nbsp;}); &nbsp;// http://jqueryui.com/tabs/<br/>
<br/>
&nbsp;$("#name").focus()<br/>
&nbsp;// onChangeFeature()<br/>
&nbsp;{if $Tour neq "" and $IsInsert neq 1 }<br/>
&nbsp;onChange_state_id('{$Tour.region_id}', '{$Tour.subregion_id}')<br/>
&nbsp;{/if}<br/>
&nbsp;images_pane_init()<br/>
&nbsp;*/<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% if Tour is not empty and not IsInsert &nbsp;%}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% if Tour.active == 1 %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#span_active_activate_button_label").css("display", "none")#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endif %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% if Tour.active == 0 %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#span_active_deactivate_button_label").css("display", "none")#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endif %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endif %}#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% if IsInsert %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#span_active_activate_button_label").css("display", "none")#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#span_active_deactivate_button_label").css("display", "none")#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endif %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#span_status_activate_button_label").css("display", "none")#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#$("#first_name").focus();#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {# onChange_state_id('{{ Tour.region_id }}', '{{ Tour.subregion_id }}')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; postal_codeOnChange() &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "after onChange_state_id::"+var_dump(1) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; ////////// Tour Highlights Block End ///////////<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function TourHighlightsLoad() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/load_tour_highlights/tour_id/{{ id }}"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_LoadedHighlights').html(data.data);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.rows_count &lt; 2) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_highlights_number_label").css("display", "inline")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_highlights_number_label").html("You have " + data.rows_count + " highlight" + ( data.rows_count &gt; 1 || data.rows_count == 0 ? "s" : "" ) + ". You must have at least 2 highlights")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_highlights_number_label").css("display", "none")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_highlights_number_label").html("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function Tour_HighlightEdit(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; /*var HRef = "{$base_url}admin/tour/get_tour_highlight/id/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;get(HRef, function (data) {<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert("data::" + var_dump(data))<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;if (data.ErrorCode == 0) { &nbsp;*/<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_highlight_name").val('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "::Before modal open " + var_dump( $("#div_tour_highlights_edit") ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_tour_highlights_edit").modal({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; /*} // if ( data.ErrorCode== 0 ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}); &nbsp;*/<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function MakeTourHighlightAdd() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_highlight_name = $("#tour_highlight_name").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (tour_highlight_name == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter name !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#tour_highlight_name').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/change_tour_highlight"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var DataArray = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "tour_id": {{ id }},<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "tour_highlight_id":"",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "name": encodeURIComponent(tour_highlight_name),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //'csrf_test_name': $.cookie('csrf_cookie_name')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; };<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; data: DataArray,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; success: onChangedTourHighlight,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataType: "json"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function Tour_HighlightDelete(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!confirm("Do you want to delete this Tour Highlight ?")) return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/delete_tour_highlight/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourHighlightsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function onChangedTourHighlight(data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("onChangedTourHighlight data:"+var_dump(data))<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "::Before hiding" + var_dump( $("#div_tour_highlights_edit") ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_tour_highlights_edit").modal('hide');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$("#div_add_hostel_inquery").modal('hide');<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourHighlightsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert("Highlight was updated !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert((data.ErrorMessage))<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; ////////// Tour Highlights Block End ///////////<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function onChange_state_id(p_current_region_id, p_current_subregion_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var state_id = $("#state_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (current_region_id == "" &amp;&amp; typeof p_current_region_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_region_id = p_current_region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_regions_list_by_state_id/state-id/" + state_id + "/format/html/current-region-id/" + current_region_id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#region_id").html(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html('&lt;option value=""&gt;Select an Area&lt;/option&gt;')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; onChange_region_id(p_current_subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
&nbsp; &nbsp; function onChange_region_id(p_current_subregion_id, p_current_region_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_subregion_id = $("#subregion_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert( "onChange_region_id current_subregion_id::"+current_subregion_id + " &nbsp;p_current_subregion_id::"+p_current_subregion_id + " &nbsp;+ region_id::"+region_id )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (current_subregion_id == "" &amp;&amp; typeof p_current_subregion_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_subregion_id = p_current_subregion_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (region_id == "" &amp;&amp; typeof p_current_region_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; region_id = p_current_region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_subregions_list_by_region_id/region-id/" + region_id + "/format/html/current-subregion-id/" + current_subregion_id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "get_subregions_list_by_region_id::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //onChange_region_id()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function postal_codeOnChange(is_init) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var postal_code = $('#postal_code').val().trim()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (postal_code == "") return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = '{{ base_url }}admin/tour/get_location_by_postcode/postcode/' + postal_code;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode &gt; 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert(data.ErrorMessage)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#state_id').val(data.state_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#region_id').val(data.region_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#subregion_id').val(data.subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //onChange_state_id(data.region_id)<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var regionOptionsAsString = '&lt;option value=""&gt; -Select Region- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( 'data.regions_list_count::'+data.regions_list_count )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.regions_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SelectedItem = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.region_id == data.regions_list[i]['region_id']) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SelectedItem = ' selected';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "Selected Region data.region_id ::" + data.region_id + " &nbsp; &nbsp; &nbsp;: &nbsp; "+ var_dump( data.regions_list[i] ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "i::"+i+" &nbsp;: &nbsp;"+var_dump(data.regions_list[i]) );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; regionOptionsAsString += "&lt;option value='" + data.regions_list[i]['region_id'] + "' " + SelectedItem + " &gt;" + data.regions_list[i]['region_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert("regionOptionsAsString::"+regionOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#region_id").html(regionOptionsAsString);<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.suburb_list_count == 1) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_select_suburb_id").css("display", "none")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#select_suburb_id").empty()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SuburbOptionsAsString = '&lt;option value=""&gt; -Select Suburb- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.suburb_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SuburbOptionsAsString += "&lt;option value='" + data.suburb_list[i]['suburb_name'] + "'&gt;" + data.suburb_list[i]['suburb_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert("SuburbOptionsAsString::"+SuburbOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('select[name="select_suburb_id"]').append(SuburbOptionsAsString);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_select_suburb_id").css("display", "block")<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!is_init) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // $('#town').val('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "BEFORE region_id::" +region_id )<br/>
<br/>
<br/>
// &nbsp; &nbsp;onChange_region_id(data.subregion_id, data.region_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SubregionOptionsAsString = '&lt;option value=""&gt; -Select Subregion- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( 'data.subregions_list_count::'+data.subregions_list_count )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.subregions_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SelectedItem = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.subregion_id == data.subregions_list[i]['subregion_id']) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SelectedItem = ' selected';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "Selected Subregion data.subregion_id ::" + data.subregion_id + " &nbsp; &nbsp; &nbsp;: &nbsp; "+ var_dump( data.subregions_list[i] ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "i::"+i+" &nbsp;: &nbsp;"+var_dump(data.subregions_list[i]) );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SubregionOptionsAsString += "&lt;option value='" + data.subregions_list[i]['subregion_id'] + "' " + SelectedItem + " &gt;" + data.subregions_list[i]['subregion_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert("SubregionOptionsAsString::"+SubregionOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //$('select[name="select_subregion_id"]').html($(SubregionOptionsAsString));<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html(SubregionOptionsAsString);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function select_suburb_idOnChange() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //$('#town').val($('#select_suburb_id').val())<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function is_homepage_spotlightOnChange() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var is_homepage_spotlight_checked= $("#is_homepage_spotlight").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#span_is_homepage_spotlight_label").html( ( is_homepage_spotlight_checked ? "Yes": "No" ) )<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function is_priority_listingOnChange() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var is_priority_listing_checked= $("#is_priority_listing").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#span_is_priority_listing_label").html( ( is_priority_listing_checked ? "Yes": "No" ) )<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function onSubmit(IsReopen) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var theForm = $("#form_tour_edit");<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#is_reopen").val(IsReopen)<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var cbx_is_priority_listing= $("#cbx_is_priority_listing").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; alert( "cbx_is_priority_listing::" + cbx_is_priority_listing )<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //theForm.submit();<br/>
&nbsp; &nbsp; }<br/>
<br/>
/////////////////////<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function TourInquerysLoad() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/load_tour_inquerys/tour_id/{{ id }}";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_LoadedTourInquerys').html(data);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function TourReviewsLoad() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/load_tour_reviews/tour_id/{{ id }}";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_LoadedTourReviews').html(data);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function DeleteTour_Review(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!confirm("Do you want to delete this Tour Review ?")) return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/delete_tour_review/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourReviewsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; ///////////////////////////////////////// Tour_Inquery ////////////////////////////////////////////////<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function Tour_InqueryChangeStatus(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert(" Tour_InqueryChangeStatus() &nbsp;id::"+id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/get_tour_inquery/id/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert("data::" + var_dump(data.TourInquery) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_id").val(data.TourInquery['id'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_email").val(data.TourInquery['email'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_full_name").val(data.TourInquery['full_name'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_phone").val(data.TourInquery['phone'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_extro_info").val(data.TourInquery['extro_info'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_start_date").val(data.TourInquery['start_date'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_end_date").val(data.TourInquery['end_date'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_request_callback").val(data.TourInquery['request_callback'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_status").val(data.TourInquery['status'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_created_at").val(data.TourInquery['created_at'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_highlight_name").val('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_change_status_dialog").modal({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } // if ( data.ErrorCode== 0 ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function DeleteTour_Inquerys(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!confirm("Do you want to delete this Tour Inquery ?")) return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/delete_tour_inquery/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourInquerysLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function tourInqueryStatusChange() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //if (!confirm("Do you want to delete this Tour Inquery ?")) return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_inquery_status= $("#tour_inquery_status").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_inquery_id= $("#tour_inquery_id").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_inquery_extro_info= $("#tour_inquery_extro_info").html()<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert( " tourInqueryStatusChange tour_inquery_status::"+tour_inquery_status )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#var HRef = "{{ base_url }}admin/tour/change_tour_inquery/tour_inquery_id/" + tour_inquery_id + "/status/"+tour_inquery_status;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/change_tour_inquery";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var data_array= { tour_inquery_id : tour_inquery_id, status : tour_inquery_status, extro_info : tour_inquery_extro_info }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "data_array::"+var_dump(data_array) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; data: data_array,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; success: onChangedTourInquery,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataType: 'json'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$.get(HRef, function (data) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert( "data::"+var_dump(data) )<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;if (parseInt(data.ErrorCode) == 0) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TourInquerysLoad()<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;});<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function onChangedTourInquery(data) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert( "onChangedTourInquery::"+var_dump(onChangedTourInquery) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourInquerysLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Status of Tour Enquiry was changed !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_inquery_change_status_dialog").modal('hide');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert((data.ErrorMessage))<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; ///////////////////////////////////////////////////////////////////////////////////////////////<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; ///////////////////////// Tour_ReviewChangeStatus( /////////////////////////////////////////<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function Tour_ReviewChangeStatus(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/get_tour_review/id/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_tour_review_id= id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_id").val(data.TourReview['id'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_email_inquiried").val(data.TourReview['email_inquiried'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_full_name").val(data.TourReview['full_name'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_review").val(data.TourReview['review'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_flag_status").val(data.TourReview['flag_status'])<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_stars_rating_type_id").val(data.TourReview['stars_rating_type_id'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var ImagesSrc= '&lt;img src="{{ base_url }}resources/img/stars/stars' + data.TourReview['stars_rating_type_id'] + '.png"&gt;'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_stars_image").html( ImagesSrc )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_created_at").val(data.TourReview['created_at'])<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_change_status_dialog").modal({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } // if ( data.ErrorCode== 0 ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function MakeTourReviewUpdate() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_review_flag_status = $("#tour_review_flag_status").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_review_stars_rating_type_id = $("#tour_review_stars_rating_type_id").val()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (tour_review_flag_status == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Select changed Flag Status!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#tour_review_flag_status').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (tour_review_stars_rating_type_id == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Select &nbsp;Review Stars Rating !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#tour_review_stars_rating_type_id').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/change_tour_review"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var DataArray = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "tour_id": '28',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "tour_review_id": current_tour_review_id,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "flag_status": tour_review_flag_status,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "review": encodeURIComponent($("#tour_review_review").val()),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "stars_rating_type_id": encodeURIComponent($("#tour_review_stars_rating_type_id").val()),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 'csrf_test_name': $.cookie('csrf_cookie_name')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; };<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; data: DataArray,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; success: onChangedTourReview,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataType: "json"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function DeleteTour_Reviews(id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!confirm("Do you want to delete this Tour Review ?")) return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/delete_tour_review/" + id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourReviewsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function onChangedTourReview(data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // &nbsp;alert( var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TourReviewsLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Status of Tour Review was changed !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_tour_review_id= -1<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#tour_review_change_status_dialog").modal('hide');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert((data.ErrorMessage))<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; /*]]&gt;*/<br/>
&lt;/script&gt;<br/>
<br/>
<br/>
&lt;div class="row centered-form"&gt; &lt;!-- Tour Editor Block Start --&gt;<br/>
&nbsp; &nbsp; &lt;div class="panel-editor"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% if editor_message != '' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="alert-info col-sm-12"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;strong&gt;Notice!&lt;/strong&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a class="close" data-dismiss="alert" href="#"&gt;&amp;times;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &amp;nbsp;&amp;nbsp;{{ editor_message }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-editor-heading"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tour Management-&gt;{% if IsInsert %}New{% else %}Edit{% endif %} Tour<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-body"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; IsInsert::{{ IsInsert }} &nbsp;{# Tour::{{ dump(Tour) }} #}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;form role="form" class="form-horizontal" action="{{ base_url }}admin/tour/edit/{{ id }}{{ PageParametersWithSort }}" method="post" accept-charset="utf-8" id="form_tour_edit" name="form_tour_edit" &nbsp;enctype="multipart/form-data"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" /&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="hidden" id="is_reopen" name="is_reopen" value=""&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="hidden" id="id" name="id" value="{{ id }}"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if validation_errors_text != "" %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="error" style="margin-bottom: 20px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ validation_errors_text|raw }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="nav nav-tabs" role="tablist"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" &gt;&lt;a href="#tabpanel_contact_details" aria-controls="tabpanel_contact_details" role="tab" data-toggle="tab"&gt;Contact Details&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" &gt;&lt;a href="#tabpanel_information_highlights" aria-controls="tabpanel_information_highlights" role="tab" data-toggle="tab"&gt;Information &amp; Highlights&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" &nbsp;&gt;&lt;a href="#tabpanel_booking_engine" aria-controls="tabpanel_booking_engine" role="tab" data-toggle="tab"&gt;Booking Engine&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" &gt;&lt;a href="#tabpanel_image_gallery" aria-controls="tabpanel_image_gallery" role="tab" data-toggle="tab"&gt;Image Gallery&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" &gt;&lt;a href="#tabpanel_tour_enquiries" aria-controls="tabpanel_tour_enquiries" role="tab" data-toggle="tab"&gt;Tour Enquiries&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li role="presentation" class="active" &gt;&lt;a href="#tabpanel_tour_reviews" aria-controls="tabpanel_tour_reviews" role="tab" data-toggle="tab"&gt;Tour Reviews&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;!-- Tab panes --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="tab-content"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade" id="tabpanel_contact_details"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if not IsInsert %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="col-sm-4 control-label"&gt;Id&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="id" id="id" class="form-control readonly_field" value="{% if Tour is not empty %}{{ Tour.id }}{% endif %}" size="8" maxlength="8" readonly&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("name", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="name" class="col-sm-4 control-label"&gt;Name&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="name" id="name" class="form-control " value="{% if Tour is not empty %}{{ Tour.name }}{% endif %}" size="30" maxlength="100" placeholder="name of Tour. Must be unique in system" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("email", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="email" class="col-sm-4 control-label"&gt;Email&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="email" id="email" class="form-control " value="{% if Tour is not empty %}{{ Tour.email }}{% endif %}" size="30" maxlength="50" placeholder="Email of Tour. Must be unique in system" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("website", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="website" class="col-sm-4 control-label"&gt;Website&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="website" id="website" class="form-control " value="{% if Tour is not empty %}{{ Tour.website }}{% endif %}" size="30" maxlength="150" placeholder="Website of Tour. Must be valid url" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("state_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="state_id" class="col-sm-4 control-label"&gt;State&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control" name="state_id" id="state_id" onchange="javascript:onChange_state_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextState in StateValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextState.key }}" {% if Tour.state_id== nextState.key %} selected {% endif %}&gt;{{ nextState.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("region_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="region_id" class="col-sm-4 control-label"&gt;Region&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control" name="region_id" id="region_id" onchange="javascript:onChange_region_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextRegion in RegionValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextRegion.key }}" {% if Tour.region_id== nextRegion.key %} selected {% endif %}&gt;{{ nextRegion.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("subregion_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="subregion_id" class="col-sm-4 control-label"&gt;Area&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control " name="subregion_id" id="subregion_id" onchange="javascript:onChange_subregion_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextSubregion in SubregionValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextSubregion.key }}" {% if Tour.subregion_id== nextSubregion.key %} selected {% endif %}&gt;{{ nextSubregion.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-12"&gt;&lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("is_priority_listing", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="is_priority_listing" class="col-sm-4 control-label"&gt;Is Priority Listing&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8" data-toggle="buttons"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="btn btn-primary {% if Tour.is_priority_listing == 'Y' %}active{% endif %} "&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="checkbox" onchange="javascript:is_priority_listingOnChange();" autocomplete="off" {% if Tour.is_priority_listing == 'Y' %}checked{% endif %} class="only_checkbox" id="is_priority_listing" name="is_priority_listing"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon glyphicon-ok" aria-hidden="true"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="span_is_priority_listing_label"&gt;{% if Tour.is_priority_listing == 'Y' %}Yes{% else %}No{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/label&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="text-money"&gt;$30.00 AUD per month&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Increase the exposure of your tour with a Priority Listing. Priority &nbsp;Listings arew designed to make your tour stand out and bring them to the attention of travellers.<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/p&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("is_homepage_spotlight", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="is_homepage_spotlight" class="col-sm-4 control-label"&gt;Is Homepage Spotlight&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8" data-toggle="buttons"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="btn btn-primary {% if Tour.is_homepage_spotlight == 'Y' %}active{% endif %}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="checkbox" onchange="javascript:is_homepage_spotlightOnChange();" autocomplete="off" {% if Tour.is_homepage_spotlight == 'Y' %}checked{% endif %} class="only_checkbox" id="is_homepage_spotlight" name="is_homepage_spotlight"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon glyphicon-ok" aria-hidden="true" &gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="span_is_homepage_spotlight_label"&gt;{% if Tour.is_homepage_spotlight == 'Y' %}Yes{% else %}No{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="text-money"&gt;$80.00 AUD per month&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Have your tour seen by the widest audience possible with a Homepage Spotlight. An exclusive position limited to only a few tours at a time.<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/p&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade" id="tabpanel_information_highlights"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("category_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="category_id" class="col-sm-4 control-label"&gt;Category&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select &nbsp;class="form-control" name="category_id" id="category_id" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextCategory in CategoryValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextCategory.key }}" {% if Tour.category_id== nextCategory.key %} selected {% endif %}&gt;{{ nextCategory.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("price", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="price" class="col-sm-4 control-label"&gt;Price&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="price" id="price" class="form-control " value="{% if Tour is not empty %}{{ Tour.price }}{% endif %}" size="12" maxlength="12" placeholder="Price of Tour. Must be valid float" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("short_descr", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="short_descr" class="col-sm-4 control-label"&gt;Short Description&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea placeholder="Search result description in 150 characters." maxlength="150" rows="4" name="short_descr" id="short_descr" class="form-control"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("descr", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="descr" class="col-sm-4 control-label"&gt;Description&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea placeholder="Full description of your Tour in up to 500 characters." maxlength="500" rows="4" name="descr" id="descr" class="form-control"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("about_us", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="about_us" class="col-sm-4 control-label"&gt;About Us&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea placeholder="About your organisation in up to 2000 characters." maxlength="2000" rows="4" name="about_us" id="about_us" class="form-control"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("schedule_pricing", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="schedule_pricing" class="col-sm-4 control-label"&gt;Schedule Pricing&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea placeholder="Your Tours Schedule &amp; Pricing in up to 2000 characters." maxlength="2000" rows="4" name="schedule_pricing" id="schedule_pricing" class="form-control"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-6 {{ set_field_error_tag("additional_info", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="additional_info" class="col-sm-4 control-label"&gt;Additional Information&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea placeholder="Any other Additional Information in up to 2000 characters can be written here." maxlength="2000" rows="4" name="additional_info" id="additional_info" class="form-control"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-12 "&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_LoadedHighlights" class="col-sm-offset-right-2"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade" id="tabpanel_booking_engine"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-12 {{ set_field_error_tag("exl_psn", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="exl_psn" class="col-sm-4 control-label"&gt;Supplier&amp;nbsp;shortname&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="exl_psn" id="exl_psn" class="form-control " value="{% if Tour is not empty %}{{ Tour.exl_psn }}{% endif %}" size="12" maxlength="12" placeholder="Tour Supplier&amp;nbsp;shortname." &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-sm-12 {{ set_field_error_tag("exl_prd", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="exl_prd" class="col-sm-4 control-label"&gt;Product Code&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="exl_prd" id="exl_prd" class="form-control " value="{% if Tour is not empty %}{{ Tour.exl_prd }}{% endif %}" size="12" maxlength="12" placeholder="Tour Product Code." &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade" id="tabpanel_image_gallery"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 44444 &nbsp;Image Gallery<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade " id="tabpanel_tour_enquiries"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_LoadedTourInquerys"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div role="tabpanel" class="tab-pane fade in active" id="tabpanel_tour_reviews"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_LoadedTourReviews"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="tab-content"&gt; --&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class=" btn-group pull-right editor-btn-group col-sm-offset-right-2" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-success" onclick="javascript:onSubmit(1);" &gt;{% if IsInsert %}Add{% else %}Update{% endif %}&amp;Reopen&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-success" onclick="javascript:onSubmit(0);" &gt;{% if IsInsert %}Add{% else %}Update{% endif %}&amp;Listing&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="reset" class="btn btn-danger btn-cancel-action" onclick="javascript:document.location='{{ base_url }}admin/tour/index{{ PageParametersWithSort }}'" &gt;Cancel&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/form&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
&lt;/div&gt; &lt;!-- &lt;div class="row"&gt; --&gt; &lt;!-- Tour Editor Block end --&gt;<br/>
<br/>
&nbsp; &nbsp; {% include '/plain/admin/tour/tour_inquery_change_status_dialog.twig' %}<br/>
<br/>
{% endblock content %}</body></html>