{% macro show_next_hostel_info( nextHostel, field_param ) %}
	<div class="img_banner"  >
		<img src="static/images/{{ current_skin_name }}/spotlight.png">
	</div>

	<div class="next_hostel_image" >
		<a href="{{ base_url }}{{ nextHostel.name | show_hostel_make_view_url(nextHostel) | raw }}">
			<div class="back_image image_border" style="background-image: url('{{ nextHostel.default_image }}'); width:{{ nextHostel['width' ~ field_param] }}px; height:{{ nextHostel['height' ~ field_param] }}px;"   id="spotlight_img_hostel_{{ nextHostel.id }}"></div>
		</a>
	</div>

	<h3 class="site_content_title next_hostel_title text_overflowed" id="div_show_name_{{ nextHostel.id }}">
		<span class="glyphicon glyphicon-step-forward pull-left style_display_none margin_top_sm" id="span_show_name_{{ nextHostel.id }}"  data-toggle="tooltip" data-placement="bottom" title="{{ nextHostel.id }}->{{ nextHostel.name }} "  ></span>&nbsp;
		<a href="{{ base_url }}{{ nextHostel.name | show_hostel_make_view_url(nextHostel) | raw }}"  data-toggle="tooltip" data-placement="bottom" title="{{ nextHostel.id }}->{{ nextHostel.name }} " >
			{{ nextHostel.id }}->{{ nextHostel.name }}
		</a>
	</h3>


	<div class="row next_hostel_subtitle" >
		<h4 class="site_content_subtitle text_overflowed" title="{{ nextHostel.state_name }}" id="div_show_state_name_{{ nextHostel.id }}" >
			<span class="glyphicon glyphicon glyphicon-step-forward pull-left style_display_none" id="span_show_state_name_{{ nextHostel.id }}" data-toggle="tooltip" data-placement="bottom" title="{{ nextHostel.id }}->{{ nextHostel.state_name }}" ></span>&nbsp;
			<span data-toggle="tooltip" data-placement="bottom" title="{{ nextHostel.id }}->{{ nextHostel.state_name }} " >{{ nextHostel.id }}->{{ nextHostel.state_name }} </span>
		</h4>
	</div>

	<div class="row next_hostel_descr" >
		<h5 class="site_content_text" class="debug" >
			{{ nextHostel.short_descr | concat_str( 100 ) |raw }}
		</h5>
	</div>

	<div class="row next_hostel_stars" >
		<img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/stars/stars{{ nextHostel.reviews_avg_rating }}.png"  alt="{{ nextHostel.reviews_avg_rating | show_hostel_review_stars_rating_type_label_label }}" title="{{ nextHostel.reviews_avg_rating | show_hostel_review_stars_rating_type_label_label }}" class="pull-left"><span class="pull-right">{{ nextHostel.price | show_formatted_price( "AU$", "text_money" ) | raw }}</span>
	</div>

	<div class="row next_hostel_btn" >
		<a href="{{ base_url }}{{ nextHostel.name | show_hostel_make_view_url(nextHostel) | raw }}">
			<button class="item_details">View Details</button>
		</a>
	</div>

{% endmacro %}  {# show_next_hostel_info END #}

				<h2 class="site_content_title margin_top_lg">
                    <span class="fa fa-building-o fa-2x middle_icon" ></span>&nbsp;Spotlight Hostels
                </h2>
                {% for nextHostel in HostelsList %}
                    <div class="col-xs-12 col-sm-6 next_hostel">

                        <span class="visible-xs">
	                        {{ _self.show_next_hostel_info( nextHostel, "_xs" ) }}
	                    </span>
	                    <span class="visible-sm">
	                        {{ _self.show_next_hostel_info( nextHostel, "_sm" ) }}
	                    </span>
	                    <span class="visible-md">
	                        {{ _self.show_next_hostel_info( nextHostel, "_md" ) }}
	                    </span>
	                    <span class="visible-lg">
	                        {{ _self.show_next_hostel_info( nextHostel, "_md" ) }}
	                    </span>

                    </div>
                {% endfor %}