{% if votes_list | length > 0 -%}
	{{ components.header_block_start("Votes", "", "glyphicon glyphicon-thumbs-up", show_top_margin_sm) }}
	<div class="row text-center padding_md bottom_margin_md" >

		<section class="panel-group" id="votes_accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">

				{% for next_vote in votes_list %}
				<div role="tab" id="heading{{ next_vote.id }}" class="padding_md">
					<div class="site_content_subtitle text-left">
						<a role="button" data-toggle="collapse" data-parent="#votes_accordion" href="#collapse{{ next_vote.id }}" aria-expanded="true" aria-controls="collapse{{ next_vote.id }}">
							{{ next_vote.name }}<b>({{ next_vote.vote_item_result_count }} votes)</b>
						</a>
					</div>
				</div>
				<div id="collapse{{ next_vote.id }}" class="panel-collapse collapse {% if loop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{ next_vote.id }}">
					<div class="panel-body  text-left">
						<ul class="ul_multiline">
							{% set sub_items = next_vote.sub_items %}
							{% for next_sub_items in sub_items %}
							<li>
								<input type="radio" name="radio_next_vote_{{ next_vote.id }}" id="radio_next_vote_{{ next_vote.id }}_{{ next_sub_items.id }}" value="{{ next_sub_items.id }}">&nbsp;
								{{ next_sub_items.id }}->{{ next_sub_items.name }} - <b>{{ next_sub_items.vote_item_result_count }}</b>
							</li>
							{% endfor %}
						</ul>
						{% if next_vote.active == 'Y' %}
							<div class="btn-group search_btn_group pull-right bottom_margin_sm top_margin_sm">
								<button class="btn_run_filter" onclick="javascript:makeVote({{ next_vote.id }})">Vote</button>
							</div>
						{% else %}
							<button type="button" class="btn btn-error btn-sm btn-block">This voting is closed.</button>
						{% endif %}
					</div>
				</div>
				{% endfor  %}

			</div>
		</section>

	</div>
	{{ components.header_block_end("Votes Block End") }}
{% endif -%}