<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Twig</title>
</head><body><br/>
{{ get_params("get", '?') }}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $twig_config = array();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $this-&gt;load-&gt;library('twig', $twig_config);<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="<b>site_content_long_text</b>" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if cms_item.default_image is not empty %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;img src="{{ cms_item.default_image }}" width="{{ cms_item.width }}" height="{{ cms_item.height }}" class="leftimg"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="users-info top-margin"&gt;Author {{ cms_item.author_name }}, at {{ cms_item.created_at|date_format("MonthAsTextYear") | raw }}&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ cms_item.content | <b>set_content_paragraph</b>&nbsp;| raw &nbsp;}} <br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
{% set <b>has_middle</b>= false %}<br/>
{% &nbsp;for nextHostel in HostelsList %}<br/>
&nbsp; &nbsp; &lt;div class="row next_hostel_wide"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#loop.index::{{ loop.index }} &nbsp;loop.revindex::{{ loop.revindex }} &nbsp;has_middle::{{ has_middle }}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% if ENVIRONMENT == 'development' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if <b>loop.index &gt;= loop.revindex and has_middle</b>&nbsp;== false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span &gt;{{ components.set_page_anchors( false, true, false ) }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span &gt;{{ components.set_page_anchors_links( true, false , true ) }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set has_middle= true %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
&nbsp; &nbsp; {% set skin_name = "" %}<br/>
&nbsp; &nbsp; {% if <b>current_skin_name</b>&nbsp;is not empty %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% set skin_name= current_skin_name %}<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; skin_name::{{ skin_name }}&lt;hr&gt;<br/>
&nbsp; &nbsp; {% set <b>deleteSrc</b>&nbsp;= base_root_url ~ "/" ~ images_dir ~ "/" ~ &nbsp;skin_name ~ &nbsp;"/" ~ 'delete.png' %}<br/>
</body></html>