<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>css</title>
</head><body>https://habrahabr.ru/post/42151/<br/>
http://www.w3schools.com/cssref/playit.asp?filename=playcss_font-size&amp;preval=x-small<br/>
<br/>
http://www.w3schools.com/cssref/pr_font_font-size.asp<br/>
&nbsp;font-size:medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|<i>length</i>|initial|inherit;<br/>
font-size: <br/>
x-small = 12px<br/>
small = 13px<br/>
medium = 14px <br/>
large = 16px<br/>
x-large = 24px <br/>
xx-large = 32px<br/>
larger = <br/>
<br/>
<br/>
1px= <b>max</b>(1px, 0.1em)<br/>
2px= <b>max</b>(2px, <b>0.2em</b>)<br/>
<br/>
3px= 0.3em<br/>
4px = 0.4em<br/>
5px = 0.5em<br/>
7px = 0.7em<br/>
10px = 1em<br/>
15px = 1.5em<br/>
20px = 2em<br/>
<br/>
&nbsp;&lt;div class="top_margin_sm {% if hidden_radio_type != "have_opt_in" and hidden_radio_type != "" %}<b>style_display_none</b>{% endif %}" id="ul_i_have_opt_in" &gt;<br/>
<br/>
<br/>
Вообще, если все размеры в CSS задавать в em — <b>font-size</b>, <b>margin</b>, <b>padding</b>, то между дизайном и типографикой будут более <br/>
гибкие связи — станет гораздо проще вносить правки без ущерба внешнему виду.<br/>
<br/>
====================<br/>
<br/>
border-width: <b>max</b>(1px, 0.1em); border-style: solid; border-color: black;</body></html>