    {%  if imagesGalleryList.items | length == 0 %}
        <button type="button" class="btn btn-error btn-block">This Hostel has no images</button>
    {% endif %}

    {%  if imagesGalleryList.items | length > 0 %}
        <div class="site_content_title">
            Hostel has {{ imagesGalleryList.items | length }} images(s)
        </div>

        <div class="visible-xs">{{ components.show_images_carousel(1, 'col-xs-12', imagesGalleryList.items, '_xs', imagesGalleryList.orig_width, imagesGalleryList.orig_height ) }}</div>
        <div class="visible-sm">{{ components.show_images_carousel(2, 'col-sm-6', imagesGalleryList.items, '_sm', imagesGalleryList.orig_width, imagesGalleryList.orig_height  ) }}</div>
        <div class="visible-md">{{ components.show_images_carousel(3, 'col-md-4', imagesGalleryList.items, '_md', imagesGalleryList.orig_width, imagesGalleryList.orig_height  ) }}</div>
        <div class="visible-lg">{{ components.show_images_carousel(4, 'col-lg-3', imagesGalleryList.items, '_lg', imagesGalleryList.orig_width, imagesGalleryList.orig_height  ) }}</div>

    {% endif -%}
