{% extends "plain/admin/base.twig" %}
{% block content %}


    <script type="text/javascript">
        /*<![CDATA[*/

        function DeleteTour(id, tour_name) {
            $.confirm({
                icon: 'glyphicon glyphicon-signal',
                title: 'Confirm!',
                content: "Do you want to delete '" + tour_name + "' tour with all related data ?",
                confirmButton: 'YES',
                cancelButton: 'Cancel',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                keyboardEnabled: true,
                confirm: function(){
                    var HRef = "{{ base_url }}admin/tour/delete/" + id;
                    document.location= HRef
                }
            });
        }

        function ShowTourReviewsList(tour_id, tour_name, tour_address) {
            var HRef = "{{ base_url }}admin/tour/load_customer_reviews_for_popup/tour_id/" + tour_id+'/hide_edit_links/1'
            $.get(HRef, function (data) {
//                  alert( "ShowTourReviewsList::"+var_dump(data) )
                $("#span_tour_show_reviews_list_dialog_tour_name").html(tour_name);
                $("#span_tour_show_reviews_list_dialog_tour_address").html(tour_address);

                $("#div_tour_show_reviews_list_dialog").html(data);
                $("#modal_tour_show_reviews_list_dialog").modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                });
            });
        }

        function ShowTourInqueriesList(tour_id, tour_name, tour_address) {
            var HRef = "{{ base_url }}admin/tour/load_tour_inquerys/tour_id/" + tour_id + "/hide_edit_links/1"
//            alert( HRef )
            $.get(HRef, function (data) {
//                alert( var_dump(data) )
                $("#span_tour_show_inquerys_list_dialog_tour_name").html(tour_name);
                $("#span_tour_show_inquerys_list_dialog_tour_address").html(tour_address);

                $("#div_tour_show_inquerys_list_dialog").html(data);
                $("#modal_tour_show_inquerys_list_dialog").modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                });
            });
        }


        /*]]>*/
    </script>





    <div class="row"> <!-- Tours List Block Start -->

        <section class="panel_data_listing">

            {{ components.show_info(editor_message) }}

            <div class="panel_editor_heading padding_left_md">
                {% if filter_status == "A" %}Active&nbsp;{% endif %}{% if filter_status == "I" %}Inactive&nbsp;{% endif %}Tour Listing
                <button type="button" class="btn btn-default  btn-sm pull-right" onclick="javascript:document.location='{{ base_url }}admin/tour/edit/new?' " title="New Tour"><i class="glyphicon glyphicon-plus"></i></button>
            </div>

            <section class="table_info ">
                <div class="padding_right_sm ">
                    {% if ToursList|length > 0 %}
                        {{ ToursList|length }}&nbsp;Row{% if ToursList|length > 1 %}s{% endif %}&nbsp;of&nbsp;{{ RowsInTable }}&nbsp;(Page # <strong>{{ page }}</strong>)
                    {% endif %}

	                {% set filters_label %}{{ components.get_filters_label( [ {'label':'Name', 'value':filter_name}, {'label':'Region', 'value':filter_region_id|show_region_label}, {'label':'Feature', 'value':filter_feature|show_tour_feature_label}, {'label':'Status', 'value':filter_status|show_tour_status_label}, {'label':'From', 'value':filter_created_at_from}, {'label':'Till', 'value':filter_created_at_till},  ], '<br>'  ) }}{% endset %}
	                {% set filters_count %}{{ components.get_filters_count( [ {'label':'Name', 'value':filter_name}, {'label':'Region', 'value':filter_region_id|show_region_label}, {'label':'Feature', 'value':filter_feature|show_tour_feature_label}, {'label':'Status', 'value':filter_status|show_tour_status_label}, {'label':'From', 'value':filter_created_at_from}, {'label':'Till', 'value':filter_created_at_till},  ], true  ) |trim  }}{% endset %}

                    <button type="button" class="btn btn-default btn-sm pull_right_only_on_xs padding_right_sm" onclick="javascript:toursListFilterApplied();" data-toggle="tooltip" data-html="true" data-placement="top" title="Open dialog window to set filter for Tours. {% if filters_label | trim != "" %}Current filter(s):{% endif %} {{ filters_label | raw }}  "><i class="glyphicon glyphicon-filter"></i>&nbsp;Apply Filter {{ filters_count }}</button>

                </div>
            </section>

            <form role="form" action="{{ base_url }}admin/tour/index/page/1{{ PageParametersWithSort }}" method="post" accept-charset="utf-8" id="form_tours" name="form_tours"     enctype="multipart/form-data">
                <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" />

                <input type="hidden" id="page" name="page" value="1">
                <input type="hidden" id="hidden_filter_region_id_inited" name="hidden_filter_region_id_inited" value="">
                <input type="hidden" id="hidden_filter_region_id" name="filter_region_id" value="{{ filter_region_id }}">
                <input type="hidden" id="hidden_filter_name" name="filter_name" value="{{ filter_name }}">
                <input type="hidden" id="hidden_filter_feature" name="filter_feature" value="{{ filter_feature }}">
                <input type="hidden" id="hidden_filter_status" name="filter_status" value="{{ filter_status }}">
                <input type="hidden" id="hidden_filter_created_at_from" name="filter_created_at_from" value="{{ filter_created_at_from }}">
                <input type="hidden" id="hidden_filter_created_at_till" name="filter_created_at_till" value="{{ filter_created_at_till }}">


                {% if ToursList|length == 0  %}
                    <button type="button" class="btn btn-error btn-lg btn-block">No Data Found</button>
                {% else %}

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed">

                            <thead class="table_header">
                            <tr>
                                <th>
                                    {{ showListHeaderItem ( url='/admin/tour/index', filters_str=PageParametersWithoutSort, field_title="Name", fieldname="name", sort_direction=sort_direction, sort=sort )|raw }}
                                </th>
                                <th>
                                    {{ showListHeaderItem ( url='/admin/tour/index', filters_str=PageParametersWithoutSort, field_title="Package", fieldname="feature", sort_direction=sort_direction, sort=sort )|raw }}
                                </th>
                                <th>
                                    {{ showListHeaderItem ( url='/admin/tour/index', filters_str=PageParametersWithoutSort, field_title="Status", fieldname="Status", sort_direction=sort_direction, sort=sort )|raw }}
                                </th>
                                <th>Monthly Price
                                </th>
                                <th>Next Payment</th>
                                <th>Enquiries</th>
                                <th>Reviews</th>

                                <th>
                                    {{ showListHeaderItem ( url='/admin/tour/index', filters_str=PageParametersWithoutSort, field_title="Created At", fieldname="created_at", sort_direction=sort_direction, sort=sort )|raw }}
                                </th>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set has_middle= false %}
                            {% for nextTour in ToursList %}
                                <tr>
                                    <td>
                                        <a class="edit_link" href="{{ base_url }}admin/tour/edit/{{ nextTour.id }}{{ PageParametersWithSort }}">{{ nextTour.id}}->{{ nextTour.username}}->{{ nextTour.name }}</a><br>
                                        <small> {{ nextTour.state_name }}, Australia </small>
                                        {% if RESOLUTION_DEBUG %}
                                            {% if loop.index >= loop.revindex and has_middle == false %}
                                                <span >{{ components.set_page_anchors( false, true, false ) }}</span>
                                                <span >{{ components.set_page_anchors_links( true, false , true ) }}</span>
                                                {% set has_middle= true %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>

                                        {% if nextTour.feature == "S" %}Standard Listing{% endif %}
                                        {% if nextTour.feature == "F" %}Featured Listing{% endif %}
                                        {% if nextTour.is_homepage_spotlight == "Y" %}<br><small>+Homepage Spotlight</small>{% endif %}
                                        {% if nextTour.is_priority_listing == "Y" %}<br><small>+Priority Listing</small>{% endif %}
                                    </td>


                                    <td>
                                        {{ nextTour.status | show_tour_status_label}}
                                    </td>


                                    <td class="text-right">
                                        ${{ amount_per_month_standard }}
                                        {% if nextTour.is_homepage_spotlight == "Y" %}<br><small>${{ amount_tour_homepage_spotlight }}</small>{% endif %}
                                        {% if nextTour.is_priority_listing == "Y" %}<br><small>${{ amount_tour_priority_listing }}</small>{% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if nextTour.subscription_next_payment != "" %}{{ nextTour.subscription_next_payment|date(date_format)}} {% endif %}
                                    </td>


                                    <td class="text-center" >&nbsp;
                                        {% if nextTour.inqueries_count > 0 %}
                                            <a href="javascript:ShowTourInqueriesList( {{ nextTour.id }}, '{{ nextTour.name | addslashes }}', '' ) " >{{ nextTour.inqueries_count }}</a>
                                        {% else %}-
                                        {% endif %}
                                    </td>
                                    <td class="text-center" >&nbsp;
                                        {% if nextTour.reviews_count > 0 %}
                                            <a href="javascript:ShowTourReviewsList( '{{ nextTour.id }}', '{{ nextTour.name | addslashes}}', '' ) ">
                                                {{ nextTour.reviews_count }}</a>
                                        {% else %}-
                                        {% endif %}
                                    </td>

                                    <td>{{ nextTour.created_at|date_format("AsText")|raw }}</td>
                                    <td>
                                        <a class="edit_link" href="{{ base_url }}admin/tour/edit/{{ nextTour.id }}{{ PageParametersWithSort }}">Edit</a>
                                    </td>
                                    <td>
                                        <a class="delete_link" href="javascript:DeleteTour( '{{ nextTour.id }}', '{{ nextTour.name | escape('js') }}' )">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <li><em>no user found</em></li>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </form>

            <section class="table_pagination">
                {{ pagination_links|raw  }}
            </section>

        </section> <!-- <section class="panel_data_listing"> -->
    </div> <!-- <div class="row"> --> <!-- Tours List Block End -->
    {% include '/plain/admin/tour/tours_list_dialog_filter.twig' %}
    <!-- modal review start-->

    <!-- modal review end-->
    {% include '/plain/admin/tour/modal_tour_show_reviews_list_dialog.twig' %}
    {% include '/plain/admin/tour/modal_tour_show_inquerys_list_dialog.twig' %}

{% endblock content %}