{% extends "plain/admin/base.twig" %}
{% block attached_media %}
    {{ parent() }}
    <script type="text/javascript" language="JavaScript" src="{{ base_url }}static/js/jquery/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="{{ base_url }}static/css/jquery.fancybox.css" type="text/css" media="all"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url }}static/css/jquery.fileupload.css" media="screen"/>
    <script type="text/javascript" src="{{ base_url }}static/js/fileupload/jquery.fileupload.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ base_url }}static/js/fileupload/jquery.fileupload-process.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ base_url }}static/js/fileupload/jquery.ui.widget.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ base_url }}static/js/fileupload/jquery.iframe-transport.js" charset="utf-8"></script>
{% endblock attached_media %}

{% block content %}


    <script type="text/javascript">
        /*<![CDATA[*/
        var ImagesPreviewCount = 0
        var ImagesPreviewToUploadCommonCount = 0
        var ImagesPreviewUploadedCount = 0

        var current_tour_review_id= -1

        /*<![CDATA[*/
        jQuery(document).ready(function ($) {
            {{ components.set_error_keypress() }}
            $("#name").focus()
            {% if IsInsert or Tour is empty %}
            //onChange_state_id('', '')
            {% else %}
            onChange_state_id('{{ Tour.region_id }}', '{{ Tour.subregion_id }}')
            TourHighlightsLoad()
            TourInquerysLoad()
            TourReviewsLoad()
            loadTourImages('{{ Tour.id }}', '{{ Tour.name }}' )

            {% endif %}

            //$('#tabpanel_information_highlights').tab('show');
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) { // http://getbootstrap.com/javascript/#tabs
                if ( e.target.text == 'Contact Details' ) {
                    $("#name").focus()
                }
                if ( e.target.text == 'Information & Highlights' ) {
                    $("#category_id").focus()

                }
            })
            //alert( "::+11" )
            /* 	});
             {if $Tour neq "" and $IsInsert neq 1 }
             {if $is_logged eq 1 and $user_role eq "Admin" and $Tour.status eq "A" }
             $("#span_status_activate_button_label").css("display", "none")
             {/if}
             {if $is_logged eq 1 and $user_role eq "Admin" and $Tour.status eq "I" }
             $("#span_status_deactivate_button_label").css("display", "none")
             {/if}
             TourInquerysLoad()

             {* {if $Tour neq "" and $Tour.feature eq "F"}  *}
             TourHighlightsLoad()
             {* {/if}  *}

             TourReviewsLoad()
             {/if}
             {if $IsInsert eq 1 }
             $("#span_status_activate_button_label").css("display", "none")
             $("#span_status_deactivate_button_label").css("display", "none")
             {/if}


             var active_tab = 0;
             {if $active_tab neq "" }
             active_tab = {$active_tab};
             {/if}
             $("#tabs").tabs({  active: active_tab  });  // http://jqueryui.com/tabs/

             $("#name").focus()
             // onChangeFeature()
             {if $Tour neq "" and $IsInsert neq 1 }
             onChange_state_id('{$Tour.region_id}', '{$Tour.subregion_id}')
             {/if}
             */

            {#{% if Tour is not empty and not IsInsert  %}#}
            {#{% if Tour.active == 1 %}#}
            {#$("#span_active_activate_button_label").css("display", "none")#}
            {#{% endif %}#}
            {#{% if Tour.active == 0 %}#}
            {#$("#span_active_deactivate_button_label").css("display", "none")#}
            {#{% endif %}#}
            {#{% endif %}#}

            {#{% if IsInsert %}#}
            {#$("#span_active_activate_button_label").css("display", "none")#}
            {#$("#span_active_deactivate_button_label").css("display", "none")#}
            {#{% endif %}#}
            {#$("#span_status_activate_button_label").css("display", "none")#}
            {#$("#first_name").focus();#}
            {# onChange_state_id('{{ Tour.region_id }}', '{{ Tour.subregion_id }}')
            postal_codeOnChange()  #}
            //alert( "after onChange_state_id::"+var_dump(1) )
        });

        function clearAllTourData() {
//            alert( "clearAllTourData::" )
            clearAllData()
//            $("#is_priority_listing").val("")
            $("#cbx_is_priority_listing").prop('checked', false);
            is_priority_listingOnChange()
            statusOnChange("N")

            $("#cbx_is_homepage_spotlight").prop('checked', false);
            is_homepage_spotlightOnChange()

            $("#cbx_feature").prop('checked', false);
            featureOnChange();

            CancelUploadImage();
        }

        function deleteTourImage( image_name, tour_id ) {



            $.confirm({
                icon: 'glyphicon glyphicon-signal',
                title: 'Confirm!',
                content: "Do you want to delete '"+image_name+"' image ? ",
                confirmButton: 'YES',
                cancelButton: 'Cancel',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                keyboardEnabled: true,
                confirm: function(){

                    var HRef = "{{ base_url }}admin/tour/delete_tour_image/image/" + encodeURIComponent(image_name)+"/tour_id/" + tour_id
                    jQuery.ajax({
                        url: HRef,
                        type: 'POST',
                        dataType: 'json',
                        success: function(result) {
                            //                    alert( "result::"+var_dump(result) )
                            if (result.ErrorCode == 0) {
                                loadTourImages( tour_id, image_name )
                            }
                        }
                    });

                }
            });

        }


        function loadTourImages( tour_id, tour_name ) {
            var HRef = "{{ base_url }}admin/tour/upload_image_to_tmp_tour/tour_id/" + tour_id+"/tour_name/"+encodeURIComponent(tour_name)
//            alert( "loadTourImages HRef::"+var_dump(HRef) )
            $('.tour_image_fileupload').fileupload( {
                url: HRef,
                dataType: 'json',
                done: function (e, data) {
//                    alert( "data.result::"+var_dump(data.result.files) )
                    $("#div_upload_image").css("display", "none");
                    $("#div_save_upload_image").css("display", "block");
                    $("#img_preview_image").attr("src", data.result.files.url);
                    $("#img_preview_image").attr("width", data.result.files.FilenameInfo.Width);
                    $("#img_preview_image").attr("height", data.result.files.FilenameInfo.Height);
                    $("#hidden_selected_image").val(data.result.files.name);
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');


            jQuery.ajax({
                url: "{{ base_url }}admin/tour/load_tour_images/tour_id/"+tour_id+"/tour_name/"+encodeURIComponent(tour_name),
                type: 'POST',
                dataType: 'json',
                success: function(result) {
//                    alert( "load_tour_images result::"+var_dump(result) )
                    if (result.ErrorCode == 0) {
                        $('#div-tour-images').html(result.data)
                    }
                }
            });


            $(".fancybox-button").fancybox({  // http://pishemsite.ru/jquery/podklyuchenie-i-nastroyka-fancybox#
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: true,
                openEffect: 'none',
                closeEffect: 'none',
                'titlePosition': 'over',
                helpers: {
                    title: {type: 'inside'},
                    buttons: {}
                }
            });

        }


        function UploadImage() {
            var hidden_selected_image= $("#hidden_selected_image").val();
            var HRef= '{{ base_url }}admin/tour/upload_image_to_tour/tour_id/{{ Tour.id }}/tour_image/'+tbUrlEncode(hidden_selected_image)
//            alert( "HRef::"+HRef )
            jQuery.ajax({
                url: HRef,
                type: 'POST',
                dataType: 'json',
                success: function(result) {
//                     alert( "result::"+var_dump(result) )
                    if (result.ErrorCode == 0) {
                        loadTourImages('{{ Tour.id }}', '{{ Tour.name }}' )
                        CancelUploadImage()
                    }
                    if (result.ErrorCode > 0) {
                        alert( result.error_message );
                    }
                }
            });
        }
        function CancelUploadImage() {
            $("#div_upload_image").css("display", "block");
            $("#div_save_upload_image").css("display", "none");
            $("#img_preview_image").attr( "src","" );
            $("#hidden_selected_image" ).val( "" );
        }


        function statusOnChange(status) {
            //alert( "statusOnChange  status::"+status )
            $("#status").val( status )
            if (status=='A') {
                //alert(   $("#status_active").is(':checked') )
                $("#label_status_active_label").addClass("active");
                $("#status_active").prop('checked', true);
//                $("#span_status_active_label").html("Active")

                $("#label_status_inactive_label").removeClass("active");
                $("#status_inactive").prop('checked', false);
//                $("#span_status_inactive_label").html("")

                $("#label_status_new_label").removeClass("active");
                $("#status_new").prop('checked', false);
//                $("#span_status_new_label").html("")
            }

            if (status=='I') {
                $("#label_status_inactive_label").addClass("active");
                $("#status_inactive").prop('checked', true);
//                $("#span_status_inactive_label").html("Inactive")

                $("#label_status_active_label").removeClass("active");
                $("#status_active").prop('checked', false);
//                $("#span_status_active_label").html("")

                $("#label_status_new_label").removeClass("active");
                $("#status_new").prop('checked', false);
//                $("#span_status_new_label").html("")
            }

            if (status=='N') {
                $("#label_status_new_label").addClass("active");
                $("#status_new").prop('checked', true);
//                $("#span_status_new_label").html("New")

                $("#label_status_active_label").removeClass("active");
                $("#status_active").prop('checked', false);
//                $("#span_status_active_label").html("")

                $("#label_status_inactive_label").removeClass("active");
                $("#status_inactive").prop('checked', false);
//                $("#span_status_inactive_label").html("")
            }

        }
        ////////// Tour Highlights Block End ///////////
        function TourHighlightsLoad() {
            var HRef = "{{ base_url }}admin/tour/load_tour_highlights/tour_id/{{ id }}"
            $.get(HRef, function (data) {
                $('#div_LoadedHighlights').html(data.data);
//                alert( "data::"+var_dump(data) )
                if (data.rows_count < 2) {
                    $("#span_highlights_number_label").css("display", "inline")
                    $("#span_highlights_number_label").html("You have " + data.rows_count + " highlight" + ( data.rows_count > 1 || data.rows_count == 0 ? "s" : "" ) + ". You must have at least 2 highlights")
                } else {
                    $("#span_highlights_number_label").css("display", "none")
                    $("#span_highlights_number_label").html("")
                }
            });
        }

        function Tour_HighlightEdit(id) {
            $("#tour_highlight_name").val('')
            $("#tour_highlight_name").focus('')
            $("#div_tour_highlights_edit").modal({
                "backdrop": "static",
                "keyboard": true,
                "show": true
            });

        }
        function MakeTourHighlightAdd() {
            var tour_highlight_name = $("#tour_highlight_name").val()
            if (tour_highlight_name == "") {

                $.alert({
                    title: 'Validation error!',
                    content: 'Enter name !',
                    confirm: function(){
                        $('#tour_highlight_name').focus();
                    }
                });
                return;

            }


            var HRef = "{{ base_url }}admin/tour/change_tour_highlight"
            var DataArray = {
                "tour_id": '{{ id }}',
                "tour_highlight_id":"",
                "name": encodeURIComponent(tour_highlight_name),
                //'csrf_test_name': $.cookie('csrf_cookie_name')
            };

            jQuery.ajax({
                url: HRef,
                type: "POST",
                data: DataArray,
                success: onChangedTourHighlight,
                dataType: "json"
            });
        }

        function Tour_HighlightDelete(id) {
            $.confirm({
                icon: 'glyphicon glyphicon-remove',
                title: 'Confirm!',
                content: "Do you want to delete this Tour Highlight ?",
                confirmButton: 'YES',
                cancelButton: 'Cancel',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                keyboardEnabled: true,
                confirm: function(){
                    var HRef = "{{ base_url }}admin/tour/delete_tour_highlight/" + id;
                    $.get(HRef, function (data) {
                        if (parseInt(data.ErrorCode) == 0) {
                            TourHighlightsLoad()
                        }
                    });
                }
            });
        }
        function onChangedTourHighlight(data) {
//            alert( "data::"+var_dump(data) )
            if (parseInt(data.ErrorCode) == 0) {
                $("#div_tour_highlights_edit").modal('hide');
                setTimeout(function() {
                    TourHighlightsLoad()
                }, 1000);
            } else {
                alert((data.ErrorMessage))
            }
        }

        ////////// Tour Highlights Block End ///////////


        function onChange_state_id(p_current_region_id, p_current_subregion_id) {
            var state_id = $("#state_id option:selected").val()
            var current_region_id = $("#region_id option:selected").val()
            if (current_region_id == "" && typeof p_current_region_id != "undefined") {
                current_region_id = p_current_region_id
            }
            var HRef = "{{ base_url }}main/get_regions_list_by_state_id/state-id/" + state_id + "/format/html/current-region-id/" + current_region_id;
            // alert(HRef)
            $.getJSON(HRef, function (data) {
                // alert( "data::"+var_dump(data) )
                if (data.ErrorCode == 0) {
                    // alert(data.html)
                    $("#region_id").html(data.html)
                    $("#subregion_id").html('<option value="">Select an Area</option>')
                    onChange_region_id(p_current_subregion_id)
                }
            });
        }
        function onChange_region_id(p_current_subregion_id, p_current_region_id) {
            var region_id = $("#region_id option:selected").val()
            var current_subregion_id = $("#subregion_id option:selected").val()
            // alert( "onChange_region_id current_subregion_id::"+current_subregion_id + "  p_current_subregion_id::"+p_current_subregion_id + "  + region_id::"+region_id )
            if (current_subregion_id == "" && typeof p_current_subregion_id != "undefined") {
                current_subregion_id = p_current_subregion_id
            }
            if (region_id == "" && typeof p_current_region_id != "undefined") {
                region_id = p_current_region_id
            }
            var HRef = "{{ base_url }}main/get_subregions_list_by_region_id/region-id/" + region_id + "/format/html/current-subregion-id/" + current_subregion_id;
            // alert(HRef)
            $.getJSON(HRef, function (data) {
                // alert( "get_subregions_list_by_region_id::"+var_dump(data) )
                if (data.ErrorCode == 0) {
                    $("#subregion_id").html(data.html)
                    //onChange_region_id()
                }
            });
        }


        function postal_codeOnChange(is_init) {
            var postal_code = $('#postal_code').val().trim()
            if (postal_code == "") return;
            var HRef = '{{ base_url }}admin/tour/get_location_by_postcode/postcode/' + postal_code;
            //alert(HRef)
            $.getJSON(HRef, function (data) {
                //alert( var_dump(data) )
                if (data.ErrorCode > 0) {
                    alert(data.ErrorMessage)
                    return
                }
                $('#state_id').val(data.state_id)
                $('#region_id').val(data.region_id)
                $('#subregion_id').val(data.subregion_id)
                //onChange_state_id(data.region_id)


                var regionOptionsAsString = '<option value=""> -Select Region- </option>';
                //alert( 'data.regions_list_count::'+data.regions_list_count )
                for (var i = 0; i < data.regions_list_count; i++) {
                    var SelectedItem = '';
                    if (data.region_id == data.regions_list[i]['region_id']) {
                        SelectedItem = ' selected';
                        //alert( "Selected Region data.region_id ::" + data.region_id + "      :   "+ var_dump( data.regions_list[i] ) )
                    }
                    //alert( "i::"+i+"  :  "+var_dump(data.regions_list[i]) );
                    regionOptionsAsString += "<option value='" + data.regions_list[i]['region_id'] + "' " + SelectedItem + " >" + data.regions_list[i]['region_name'] + "</option>";
                }
                // alert("regionOptionsAsString::"+regionOptionsAsString)
                $("#region_id").html(regionOptionsAsString);


                if (data.suburb_list_count == 1) {
                    $("#span_select_suburb_id").css("display", "none")
                } else {
                    $("#select_suburb_id").empty()
                    var SuburbOptionsAsString = '<option value=""> -Select Suburb- </option>';
                    for (var i = 0; i < data.suburb_list_count; i++) {
                        SuburbOptionsAsString += "<option value='" + data.suburb_list[i]['suburb_name'] + "'>" + data.suburb_list[i]['suburb_name'] + "</option>";
                    }
                    // alert("SuburbOptionsAsString::"+SuburbOptionsAsString)
                    $('select[name="select_suburb_id"]').append(SuburbOptionsAsString);
                    $("#span_select_suburb_id").css("display", "block")

                    if (!is_init) {
                        // $('#town').val('')
                    }
                }

                var region_id = $("#region_id option:selected").val()
                //alert( "BEFORE region_id::" +region_id )


//    onChange_region_id(data.subregion_id, data.region_id)
                var SubregionOptionsAsString = '<option value=""> -Select Subregion- </option>';
                //alert( 'data.subregions_list_count::'+data.subregions_list_count )
                for (var i = 0; i < data.subregions_list_count; i++) {
                    var SelectedItem = '';
                    if (data.subregion_id == data.subregions_list[i]['subregion_id']) {
                        SelectedItem = ' selected';
                        //alert( "Selected Subregion data.subregion_id ::" + data.subregion_id + "      :   "+ var_dump( data.subregions_list[i] ) )
                    }
                    //alert( "i::"+i+"  :  "+var_dump(data.subregions_list[i]) );
                    SubregionOptionsAsString += "<option value='" + data.subregions_list[i]['subregion_id'] + "' " + SelectedItem + " >" + data.subregions_list[i]['subregion_name'] + "</option>";
                }
                //alert("SubregionOptionsAsString::"+SubregionOptionsAsString)
                //$('select[name="select_subregion_id"]').html($(SubregionOptionsAsString));
                $("#subregion_id").html(SubregionOptionsAsString);
            });
        }


        function select_suburb_idOnChange() {
            //$('#town').val($('#select_suburb_id').val())
        }

        function is_homepage_spotlightOnChange() {
            var is_homepage_spotlight_checked= $("#cbx_is_homepage_spotlight").is(':checked')
            $("#span_is_homepage_spotlight_label").html( ( is_homepage_spotlight_checked ? "Yes": "No" ) )
            $("#is_homepage_spotlight").val(is_homepage_spotlight_checked ? "Y": "N" )
        }

        function featureOnChange() {
            var feature_checked= $("#cbx_feature").is(':checked')
            $("#span_feature_label").html( ( feature_checked ? "Featured": "Standard" ) )
            $("#feature").val(feature_checked ? "F": "S" )
        }

        function is_priority_listingOnChange() {
            var is_priority_listing_checked= $("#cbx_is_priority_listing").is(':checked')
            $("#span_is_priority_listing_label").html( ( is_priority_listing_checked ? "Yes": "No" ) )
            $("#is_priority_listing").val(is_priority_listing_checked ? "Y": "N" )
        }

        function onSubmit(IsReopen) {
            var theForm = $("#form_tour_edit");
            $("#is_reopen").val(IsReopen)

            var cbx_is_priority_listing= $("#cbx_is_priority_listing").is(':checked')
            //alert( "cbx_is_priority_listing::" + cbx_is_priority_listing )


            theForm.submit();
        }

        /////////////////////

        function TourInquerysLoad() {
            var HRef = "{{ base_url }}admin/tour/load_tour_inquerys/tour_id/{{ id }}";
            $.get(HRef, function (data) {
                $('#div_LoadedTourInquerys').html(data);
            });
        }

        function TourReviewsLoad() {
            var HRef = "{{ base_url }}admin/tour/load_tour_reviews/tour_id/{{ id }}";
            $.get(HRef, function (data) {
                $('#div_LoadedTourReviews').html(data);
            });
        }
        function DeleteTour_Review(id) {
            $.confirm({
                icon: 'glyphicon glyphicon-remove',
                title: 'Confirm!',
                content: "Do you want to delete this Tour Review ?",
                confirmButton: 'YES',
                cancelButton: 'Cancel',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                keyboardEnabled: true,
                confirm: function(){
//                    document.location = "{{ base_url }}admin/contributor/delete/" + encodeURIComponent(id) + "{{ PageParametersWithSort }}"
                    var HRef = "{{ base_url }}admin/tour/delete_tour_review/" + id;
                    $.get(HRef, function (data) {
                        if (parseInt(data.ErrorCode) == 0) {
                            TourReviewsLoad()
                        }
                    });
                }
            });
        }

        ///////////////////////////////////////// Tour_Inquery ////////////////////////////////////////////////
        function Tour_InqueryChangeStatus(id) {
            // alert(" Tour_InqueryChangeStatus()  id::"+id)
            var HRef = "{{ base_url }}admin/tour/get_tour_inquery/id/" + id;
            $.get(HRef, function (data) {
                //alert("data::" + var_dump(data.TourInquery) )
                if (data.ErrorCode == 0) {
                    $("#tour_inquery_id").val(data.TourInquery['id'])
                    $("#tour_inquery_email").val(data.TourInquery['email'])
                    $("#tour_inquery_full_name").val(data.TourInquery['full_name'])
                    $("#tour_inquery_phone").val(data.TourInquery['phone'])
                    $("#tour_inquery_extro_info").val(data.TourInquery['extro_info'])
                    $("#tour_inquery_start_date").val(data.TourInquery['start_date'])
                    $("#tour_inquery_end_date").val(data.TourInquery['end_date'])
                    $("#tour_inquery_request_callback").val(data.TourInquery['request_callback'])
                    $("#tour_inquery_status").val(data.TourInquery['status'])
                    $("#tour_inquery_created_at").val(data.TourInquery['created_at'])
                    $("#tour_highlight_name").val('')
                    $("#tour_inquery_change_status_dialog").modal({
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true
                    });
                } // if ( data.ErrorCode== 0 ) {
            });

        }

        function DeleteTour_Inquerys(id) {

            $.confirm({
                icon: 'glyphicon glyphicon-remove',
                title: 'Confirm!',
                content: "Do you want to delete this Tour Inquery ?",
                confirmButton: 'YES',
                cancelButton: 'Cancel',
                confirmButtonClass: 'btn-info',
                cancelButtonClass: 'btn-danger',
                keyboardEnabled: true,
                confirm: function(){
                    var HRef = "{{ base_url }}admin/tour/delete_tour_inquery/" + id;
                    $.get(HRef, function (data) {
                        if (parseInt(data.ErrorCode) == 0) {
                            TourInquerysLoad()
                        }
                    });
                }
            });
        }

        function tourInqueryStatusChange() {
            //if (!confirm("Do you want to delete this Tour Inquery ?")) return
            var tour_inquery_status= $("#tour_inquery_status").val()
            var tour_inquery_id= $("#tour_inquery_id").val()
            var tour_inquery_extro_info= $("#tour_inquery_extro_info").val()
//            alert( " tourInqueryStatusChange tour_inquery_status::"+tour_inquery_status +"  tour_inquery_extro_info::" + tour_inquery_extro_info )
            {#var HRef = "{{ base_url }}admin/tour/change_tour_inquery/tour_inquery_id/" + tour_inquery_id + "/status/"+tour_inquery_status;#}
            var HRef = "{{ base_url }}admin/tour/change_tour_inquery";
            var data_array= { tour_inquery_id : tour_inquery_id, status : tour_inquery_status, extro_info : tour_inquery_extro_info }
            //alert( "data_array::"+var_dump(data_array) )
            $.ajax({
                type: "POST",
                url: HRef,
                data: data_array,
                success: onChangedTourInquery,
                dataType: 'json'
            });
//            $.get(HRef, function (data) {
//                alert( "data::"+var_dump(data) )
//                if (parseInt(data.ErrorCode) == 0) {
//                    TourInquerysLoad()
//                }
//            });
        }


        function onChangedTourInquery(data) {
//            alert( "onChangedTourInquery::"+var_dump(onChangedTourInquery) )
            if (parseInt(data.ErrorCode) == 0) {
                TourInquerysLoad()
                alert("Status of Tour Enquiry was changed !")
                $("#tour_inquery_change_status_dialog").modal('hide');
            } else {
                alert((data.ErrorMessage))
            }
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////


        ///////////////////////// Tour_ReviewChangeStatus( /////////////////////////////////////////
        function Tour_ReviewChangeStatus(id) {
            var HRef = "{{ base_url }}admin/tour/get_tour_review/id/" + id;
            current_tour_review_id= id
            $.get(HRef, function (data) {
                if (data.ErrorCode == 0) {
//                    alert( "data::"+var_dump(data) )
                    $("#tour_review_id").val(data.TourReview['id'])
                    $("#tour_review_email_inquiried").val(data.TourReview['email_inquiried'])
                    $("#tour_review_full_name").val(data.TourReview['full_name'])
                    $("#tour_review_review").val(data.TourReview['review'])
                    $("#tour_review_flag_status").val(data.TourReview['flag_status'])

                    $("#tour_review_stars_rating_type_id").val(data.TourReview['stars_rating_type_id'])
                    var ImagesSrc= '<img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/stars/stars' + data.TourReview['stars_rating_type_id'] + '.png">'
                    $("#tour_review_stars_image").html( ImagesSrc )
                    $("#tour_review_created_at").val(data.TourReview['created_at'])

                    $("#tour_review_change_status_dialog").modal({
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true
                    });
                } // if ( data.ErrorCode== 0 ) {
            });

        }

        function MakeTourReviewUpdate() {
            var tour_review_flag_status = $("#tour_review_flag_status").val()
            var tour_review_stars_rating_type_id = $("#tour_review_stars_rating_type_id").val()

            if (tour_review_flag_status == "") {
                alert("Select changed Flag Status!")
                $('#tour_review_flag_status').focus();
                return;
            }

            if (tour_review_stars_rating_type_id == "") {
                alert("Select  Review Stars Rating !")
                $('#tour_review_stars_rating_type_id').focus();
                return;
            }

            var HRef = "{{ base_url }}admin/tour/change_tour_review"
            //alert(HRef)
            var DataArray = {
                "tour_id": '{{ id }}',
                "tour_review_id": current_tour_review_id,
                "flag_status": tour_review_flag_status,
                "review": encodeURIComponent($("#tour_review_review").val()),
                "stars_rating_type_id": encodeURIComponent($("#tour_review_stars_rating_type_id").val()),
                //'csrf_test_name': $.cookie('csrf_cookie_name')
            };
            jQuery.ajax({
                url: HRef,
                type: "POST",
                data: DataArray,
                success: onChangedTourReview,
                dataType: "json"
            });
        }


        function onChangedTourReview(data) {
            //  alert( var_dump(data) )
            if (parseInt(data.ErrorCode) == 0) {
                TourReviewsLoad()
                alert("Status of Tour Review was changed !")
                current_tour_review_id= -1
                $("#tour_review_change_status_dialog").modal('hide');
            } else {
                alert((data.ErrorMessage))
            }
        }

        /*]]>*/
    </script>


    <div class="row centered-form"> <!-- Tour Editor Block Start -->
        <div class="panel-editor">

            {{ components.show_info(editor_message) }}

            <section class="panel_editor_heading">
                Tour Management->{% if IsInsert %}New{% else %}Edit{% endif %} {#Tour IsInsert::{{ IsInsert }}  #}{# Tour::{{ dump(Tour) }} #}
            </section>

            <section class="panel-body">

                <form role="form" class="form-horizontal" action="{{ base_url }}admin/tour/edit/{{ id }}{{ PageParametersWithSort }}" method="post" accept-charset="utf-8" id="form_tour_edit" name="form_tour_edit"  enctype="multipart/form-data">
                    <input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" />
                    <input type="hidden" id="is_reopen" name="is_reopen" value="">
                    <input type="hidden" id="id" name="id" value="{{ id }}">

                    {% if validation_errors_text != "" %}
                        <div class="error top_margin_sm" >
                            {{ validation_errors_text|raw }}
                        </div>
                    {% endif %}

	                {#TabTour_DetailsHasError::{{ TabTour_DetailsHasError }}#}
	                {#TabTour_BookingHasError::{{ TabTour_BookingHasError }}#}

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tabpanel_contact_details" aria-controls="tabpanel_contact_details" role="tab" data-toggle="tab">
                                <span class="{% if TabTour_DetailsHasError %}has-error{% endif %}">Contact Details</span>
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#tabpanel_information_highlights" aria-controls="tabpanel_information_highlights" role="tab" data-toggle="tab">
                                <span  class="{% if TabTour_InformationHasError %}has-error{% endif %}">Information & Highlights</span>
                            </a>
                        </li>
                        <li role="presentation"  >
                            <a href="#tabpanel_booking_engine" aria-controls="tabpanel_booking_engine" role="tab" data-toggle="tab">
                                <span class="{% if TabTour_BookingHasError %}has-error{% endif %}">Booking Engine</span>
                            </a>
                        </li>
                        <li role="presentation"  >
                            <a href="#tabpanel_image_gallery" aria-controls="tabpanel_image_gallery" role="tab" data-toggle="tab">
                                <span class="{% if TabTour_GalleryHasError %}has-error{% endif %}">Image Gallery</span>
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#tabpanel_tour_enquiries" aria-controls="tabpanel_tour_enquiries" role="tab" data-toggle="tab">
                                <span>Tour Enquiries</span>
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#tabpanel_tour_reviews" aria-controls="tabpanel_tour_reviews" role="tab" data-toggle="tab">
                                <span>Tour Reviews</span>
                            </a>
                        </li>
                        <li class="pull-right top_margin_sm tab_hint_color" >
                            <span ><small>Navigate tabs...</small></span>&nbsp;&nbsp;
                        </li>
                    </ul>



                    <!-- Tab panes -->
                    <div class="tab-content">
                        <section role="tabpanel" class="tab-pane fade in active padding_sm" id="tabpanel_contact_details">
                            {% if not IsInsert %}
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 control-label">Id</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="id" id="id" class="form-control" value="{% if Tour is not empty %}{{ Tour.id }}{% endif %}" size="8" maxlength="8" readonly>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="form-group col-sm-6 {{ set_field_error_tag("name", ' has-error ') }}">
                                <label for="name" class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" id="name" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.name }}{% endif %}" size="30" maxlength="100" placeholder="name of Tour. Must be unique in system" >
                                </div>
                            </div>

                            <div class="form-group col-sm-6 {{ set_field_error_tag("email", ' has-error ') }}">
                                <label for="email" class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" name="email" id="email" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.email }}{% endif %}" size="30" maxlength="50" placeholder="Email of Tour. Must be unique in system" >
                                </div>
                            </div>

                            <div class="form-group col-sm-6 {{ set_field_error_tag("website", ' has-error ') }}">
                                <label for="website" class="col-sm-4 control-label">Website</label>
                                <div class="col-sm-8">
                                    <input type="text" name="website" id="website" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.website }}{% endif %}" size="30" maxlength="150" placeholder="Website of Tour. Must be valid url" >
                                </div>
                            </div>

                            <div class="form-group col-sm-6 {{ set_field_error_tag("state_id", ' has-error ') }}">
                                <label for="state_id" class="col-sm-4 control-label">State</label>
                                <div class="col-sm-8">
                                    <select class="form-control editable_field" name="state_id" id="state_id" onchange="javascript:onChange_state_id()">
                                        {% for nextState in StateValueArray %}
                                            <option value="{{ nextState.key }}" {% if Tour.state_id== nextState.key %} selected {% endif %}>{{ nextState.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6 {{ set_field_error_tag("region_id", ' has-error ') }}">
                                <label for="region_id" class="col-sm-4 control-label">Region</label>
                                <div class="col-sm-8">
                                    <select class="form-control editable_field" name="region_id" id="region_id" onchange="javascript:onChange_region_id()">
                                        {% for nextRegion in RegionValueArray %}
                                            <option value="{{ nextRegion.key }}" {% if Tour.region_id== nextRegion.key %} selected {% endif %}>{{ nextRegion.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 {{ set_field_error_tag("subregion_id", ' has-error ') }}">
                                    <label for="subregion_id" class="col-sm-4 control-label">Area</label>
                                    <div class="col-sm-8">
                                        <select class="form-control editable_field" name="subregion_id" id="subregion_id" onchange="javascript:onChange_subregion_id()">
                                            {% for nextSubregion in SubregionValueArray %}
                                                <option value="{{ nextSubregion.key }}" {% if Tour.subregion_id== nextSubregion.key %} selected {% endif %}>{{ nextSubregion.value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row"> <!-- is_priority_listing & is_homepage_spotlight BLOCK START -->
                                {% if RESOLUTION_DEBUG %}
                                    <span >{{ components.set_page_anchors( false, true, false ) }}</span>
                                    <span >{{ components.set_page_anchors_links( true, false , true ) }}</span>
                                {% endif %}
                                <div class="form-group col-sm-6 {{ set_field_error_tag("is_priority_listing", ' has-error ') }}">
                                    <input type="hidden" name="is_priority_listing" id="is_priority_listing" value="{% if Tour is not empty %}{{ Tour.is_priority_listing }}{% endif %}" class="editable_field">
                                    <label for="is_priority_listing" class="col-sm-4 control-label">Is Priority<br>Listing</label>
                                    <div class="col-sm-8" data-toggle="buttons">

                                        <label class="btn btn-primary {% if Tour.is_priority_listing == 'Y' %}active{% endif %} ">
                                            <input type="checkbox" onchange="javascript:is_priority_listingOnChange();" autocomplete="off" {% if Tour.is_priority_listing == 'Y' %}checked{% endif %} class="only_checkbox" id="cbx_is_priority_listing" name="cbx_is_priority_listing">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <span id="span_is_priority_listing_label">{% if Tour.is_priority_listing == 'Y' %}Yes{% else %}No{% endif %}</span>
                                        </label>

                                        <span >
                                            <span class="text_money">$30.00 AUD per month</span>
                                            <span class="pull-right" ><img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/priority-icon-150x150.png" width="64px" height="64px"></span>
                                        </span>

                                        <p class="notice_p">
                                            Increase the exposure of your tour with a Priority Listing. Priority  Listings arew designed to make your tour stand out and bring them to the attention of travellers.
                                        </p>

                                    </div>
                                </div>

                                <div class="form-group col-sm-6 {{ set_field_error_tag("is_homepage_spotlight", ' has-error ') }}">
                                    <input type="hidden" name="is_homepage_spotlight" id="is_homepage_spotlight" value="{% if Tour is not empty %}{{ Tour.is_homepage_spotlight }}{% endif %}">
                                    <label for="is_homepage_spotlight" class="col-sm-4 control-label">Is Homepage<br>Spotlight</label>
                                    <div class="col-sm-8" data-toggle="buttons">
                                        <label class="btn btn-primary {% if Tour.is_homepage_spotlight == 'Y' %}active{% endif %}">
                                            <input type="checkbox" onchange="javascript:is_homepage_spotlightOnChange();" autocomplete="off" {% if Tour.is_homepage_spotlight == 'Y' %}checked{% endif %} class="only_checkbox" id="cbx_is_homepage_spotlight" name="cbx_is_homepage_spotlight">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                                            <span id="span_is_homepage_spotlight_label">{% if Tour.is_homepage_spotlight == 'Y' %}Yes{% else %}No{% endif %}</span>
                                        </label>
                                        <span class="text_money">$80.00 AUD per month</span>
                                        <span class="pull-right" ><img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/spotlight2.png" width="64px" height="64px"></span>
                                        <p class="notice_p">
                                            Have your tour seen by the widest audience possible with a Homepage Spotlight. An exclusive position limited to only a few tours at a time.
                                        </p>

                                    </div>
                                </div>
                            </div>  <!-- is_priority_listing & is_homepage_spotlight BLOCK END -->

                            <div class="row"> <!-- Status & feature Block Start -->
                                <div class="form-group col-sm-6 {{ set_field_error_tag("status", ' has-error ') }} ">
                                    <label for="status" class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-8">
                                        <input type="hidden" name="status" id="status" value="{% if Tour is not empty %}{{ Tour.status }}{% endif %}">



                                        <div data-toggle="buttons" >

                                            <label class="btn btn-primary top_margin_sm {% if Tour.status == 'A' %}active{% endif %} " id="label_status_active_label">
                                                <input type="checkbox" onchange="javascript:statusOnChange('A');" autocomplete="off" {% if Tour.status == 'A' %}checked{% endif %} class="only_checkbox" id="status_active" name="status_active">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                <span id="span_status_active_label">Active</span>
                                            </label>

                                            <label class="btn btn-primary top_margin_sm {% if Tour.status == 'I' %}active{% endif %} " id="label_status_inactive_label">
                                                <input type="checkbox" onchange="javascript:statusOnChange('I');" autocomplete="off" {% if Tour.status == 'I' %}checked{% endif %} class="only_checkbox" id="status_inactive" name="status_inactive">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                <span id="span_status_inactive_label">Inactive</span>
                                            </label>

                                            <label class="btn btn-primary top_margin_sm {% if Tour.status == 'N' %}active{% endif %} " id="label_status_new_label">
                                                <input type="checkbox" onchange="javascript:statusOnChange('N');" autocomplete="off" {% if Tour.status == 'N' %}checked{% endif %} class="only_checkbox" id="status_new" name="status_new">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                <span id="span_status_new_label">New</span>
                                            </label>

                                        </div>



                                    </div>
                                </div> <!-- Status & feature Block End -->



                                <div class="form-group col-sm-6 {{ set_field_error_tag("feature", ' has-error ') }}" >
                                    <input type="hidden" name="feature" id="feature" value="{% if Tour is not empty %}{{ Tour.feature }}{% endif %}">
                                    <label for="feature" class="col-sm-4 control-label">Is Featured</label>
                                    <div class="col-sm-8" data-toggle="buttons">
                                        <label class="btn btn-primary {% if Tour.feature == 'F' %}active{% endif %}">
                                            <input type="checkbox" onchange="javascript:featureOnChange();" autocomplete="off" {% if Tour.feature == 'F' %}checked{% endif %} class="only_checkbox" id="cbx_feature" name="cbx_feature">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                                            <span id="span_feature_label">{% if Tour.feature == 'F' %}Featured{% else %}Standard{% endif %}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            {% if not IsInsert %}
                            <div class="row">  <!-- created_at & updated_at Block Start-->
                                <div class="form-group col-sm-6{{ set_field_error_tag("created_at", ' has-error ') }}">
                                    <label for="created_at" class="col-sm-4 col-xs-12 control-label">Created At</label>
                                    <div class="col-sm-8 ">
                                        <input type="text" name="created_at" id="created_at" readonly class="form-control" value="{% if Tour != "" %}{{ Tour.created_at|date_format("AsText")|raw }}{% endif %}" size="30" >
                                    </div>
                                </div>

                                <div class="form-group col-sm-6{{ set_field_error_tag("updated_at", ' has-error ') }}">
                                    <label for="updated_at" class="col-sm-4 col-xs-12 control-label">Updated At</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="text" name="updated_at" id="updated_at" readonly class="form-control" value="{% if Tour != "" %}{{ Tour.updated_at|date_format("AsText")|raw  }}{% endif %}" size="30" >
                                    </div>
                                </div>
                            </div> <!-- created_at & updated_at Block End-->
                            {% endif %}


                        </section> <!-- tabpanel_contact_details -->


                        <section role="tabpanel" class="tab-pane fade padding_sm" id="tabpanel_information_highlights">
                            <div class="row">
                                <div class="form-group col-sm-6 {{ set_field_error_tag("category_id", ' has-error ') }}">
                                    <label for="category_id" class="col-sm-4 control-label">Category</label>
                                    <div class="col-sm-8">
                                        <select  class="form-control editable_field" name="category_id" id="category_id" >
                                            {% for nextCategory in CategoryValueArray %}
                                                <option value="{{ nextCategory.key }}" {% if Tour.category_id== nextCategory.key %} selected {% endif %}>{{ nextCategory.value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 {{ set_field_error_tag("price", ' has-error ') }}">
                                    <label for="price" class="col-sm-4 control-label">Price</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="price" id="price" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.price }}{% endif %}" size="12" maxlength="12" placeholder="Price of Tour. Must be valid float" >
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 {{ set_field_error_tag("short_descr", ' has-error ') }}">
                                    <label for="short_descr" class="col-sm-4 control-label">Short Description</label>
                                    <div class="col-sm-8">
                                        <textarea placeholder="Search result description in 150 characters." maxlength="150" rows="4" name="short_descr" id="short_descr" class="form-control editable_field">{% if Tour is not empty %}{{ Tour.short_descr }}{% endif %}</textarea>
                                    </div>
                                </div>


                                <div class="form-group col-sm-6 {{ set_field_error_tag("descr", ' has-error ') }}">
                                    <label for="descr" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <textarea placeholder="Full description of your Tour in up to 500 characters." maxlength="500" rows="4" name="descr" id="descr" class="form-control editable_field">{% if Tour is not empty %}{{ Tour.descr }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 {{ set_field_error_tag("about_us", ' has-error ') }}">
                                    <label for="about_us" class="col-sm-4 control-label">About Us</label>
                                    <div class="col-sm-8">
                                        <textarea placeholder="About your organisation in up to 2000 characters." maxlength="2000" rows="4" name="about_us" id="about_us" class="form-control editable_field">{% if Tour is not empty %}{{ Tour.about_us }}{% endif %}</textarea>
                                    </div>
                                </div>


                                <div class="form-group col-sm-6 {{ set_field_error_tag("schedule_pricing", ' has-error ') }}">
                                    <label for="schedule_pricing" class="col-sm-4 control-label">Schedule Pricing</label>
                                    <div class="col-sm-8">
                                        <textarea placeholder="Your Tours Schedule & Pricing in up to 2000 characters." maxlength="2000" rows="4" name="schedule_pricing" id="schedule_pricing" class="form-control editable_field">{% if Tour is not empty %}{{ Tour.schedule_pricing }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 {{ set_field_error_tag("additional_info", ' has-error ') }}">
                                    <label for="additional_info" class="col-sm-4 control-label">Additional Information</label>
                                    <div class="col-sm-8">
                                        <textarea placeholder="Any other Additional Information in up to 2000 characters can be written here." maxlength="2000" rows="4" name="additional_info" id="additional_info" class="form-control editable_field">{% if Tour is not empty %}{{ Tour.additional_info }}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div id="div_LoadedHighlights" class="col-sm-offset-right-2"></div>
                            </div>

                        </section> <!-- tabpanel_information_highlights -->


                        <section role="tabpanel" class="tab-pane fade padding_sm" id="tabpanel_booking_engine">

                            <div class="form-group {{ set_field_error_tag("exl_psn", ' has-error ') }}">
                                <label for="exl_psn" class="col-sm-4 control-label">Supplier&nbsp;shortname</label>
                                <div class="col-sm-6 col-sm-offset-right-2">
                                    <input type="text" name="exl_psn" id="exl_psn" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.exl_psn }}{% endif %}" size="12" maxlength="12" placeholder="Tour Supplier&nbsp;shortname." >
                                </div>
                            </div>

                            <div class="form-group {{ set_field_error_tag("exl_prd", ' has-error ') }}">
                                <label for="exl_prd" class="col-sm-4 control-label">Product Code</label>
                                <div class="col-sm-6 col-sm-offset-right-2">
                                    <input type="text" name="exl_prd" id="exl_prd" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.exl_prd }}{% endif %}" size="12" maxlength="12" placeholder="Tour Product Code." >
                                </div>
                            </div>

                            <div class="form-group {{ set_field_error_tag("book_now_link", ' has-error ') }}">
                                <label for="book_now_link" class="col-sm-4 control-label">Book now link</label>
                                <div class="col-sm-6 col-sm-offset-right-2">
                                    <input type="text" name="book_now_link" id="book_now_link" class="form-control editable_field" value="{% if Tour is not empty %}{{ Tour.book_now_link }}{% endif %}" size="50" maxlength="255" placeholder="Book now link" >
                                </div>
                            </div>

                        </section>  <!-- tabpanel_booking_engine-->


                        <section role="tabpanel" class="tab-pane fade " id="tabpanel_image_gallery">
                            <div class="row" >
                                <div class="form-group {{ set_field_error_tag("fileupload", ' has-error ') }} " >


	                                {% if not IsInsert %}
                                    <div class="row">
                                        <div id="div_upload_image">
                                            <div class="block_padding_lg row">
                                                <div class="col-xs-12  col-sm-3">
                                                    Upload your image:&nbsp;
                                                </div>
                                                <div class="col-xs-12  col-sm-3">
                                                    <input id="fileupload"  type="file" class="tour_image_fileupload" name="files[]" multiple>
                                                </div>
                                            </div >
                                        </div >
                                    </div >
	                                {% else %}
		                                <section class="alert alert-info row">
			                                <span class="glyphicon glyphicon-info-sign middle_icon" style="font-size: xx-large"></span>
			                                <a class="close" data-dismiss="alert" href="#">&times;</a>
			                                <span class="site_content_subtitle">&nbsp;&nbsp;Save Tour to Upload images!</span>
		                                </section>

	                                {% endif %}


                                    <div class="row block_padding_lg">
                                        <div id="div_save_upload_image"  class="block_padding_lg style_display_none " >

                                            <div class="row" >
                                                <img id="img_preview_image" alt="Preview" title="Preview" width="128" height="128" >
                                                <input type="hidden" id="hidden_selected_image">
                                            </div>

                                            <div class="row" >
                                                <div class=" btn-group pull-left editor_btn_group" >
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:UploadImage();">Upload Image</button>
                                                    <button type="button" class="btn btn-cancel-action" data-dismiss="modal" onclick="javascript:CancelUploadImage();">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="div-tour-images" class="padding_left_md"></div>
                        </section> <!-- tabpanel_image_gallery -->

                        <section role="tabpanel" class="tab-pane fade padding_sm" id="tabpanel_tour_enquiries">
                            <div id="div_LoadedTourInquerys"></div>
                        </section> <!-- tabpanel_tour_enquiries -->

                        <section role="tabpanel" class="tab-pane fade padding_sm" id="tabpanel_tour_reviews">
                            <div id="div_LoadedTourReviews"></div>
                        </section> <!-- tabpanel_tour_reviews -->
                    </div> <!-- <div class="tab-content"> -->

                </form>

            </section>

            <section class="row disable-the-width">
                <div class="  btn-group pull-right editor_btn_group col-sm-offset-right-1" >
                    <div class="col-xs-6  col-sm-4 pull_left_only_on_xs padding_left_sm">
                        <button type="button" class="btn btn-primary" onclick="javascript:onSubmit(1);" >{% if IsInsert %}Add{% else %}Update{% endif %}&Reopen</button>
                    </div>
                    <div class="col-xs-6  col-sm-4 ">
                        <button type="button" class="btn btn-primary" onclick="javascript:onSubmit(0);" >{% if IsInsert %}Add{% else %}Update{% endif %}&Listing</button>
                    </div>
                    <div class="col-xs-12  col-sm-4 pull_left_only_on_xs padding_left_sm">
                        <button type="reset" class="btn btn-cancel-action" onclick="javascript:document.location='{{ base_url }}admin/tour/index{{ PageParametersWithSort }}'" >Cancel</button>
                        <img src="{{ base_url }}static/images/{{ current_skin_name }}/clear-data.png" alt="Clear All Data" title="Clear All Data" class="a_link  padding_left_md padding_right_md img_clear_data" onclick="javascript:clearAllTourData()">
                    </div>
                </div>
            </section>

        </div> <!-- panel-editor -->
    </div> <!-- <div class="row centered-form"> --> <!-- Tour Editor Block end -->

    {% include '/plain/admin/tour/tour_review_change_status_dialog.twig' %}
    {% include '/plain/admin/tour/tour_inquery_change_status_dialog.twig' %}

{% endblock content %}