<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>choose_calendar.twig</title>
</head><body><br/>
{% extends "plain/base.twig" %}<br/>
{% block content %}<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="/static/bootstrap/css/calendar.css"/&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="/static/bootstrap/css/easyTree.css"/&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="/static/bootstrap/css/multisuggest-plugin.css"/&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="/static/bootstrap/css/bootstrap-multiselect.css"/&gt;<br/>
&nbsp; &nbsp; {# &nbsp;&lt;link rel="stylesheet" href="/static/bootstrap/css/jquery.typeahead.css"/&gt; #}<br/>
<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="/static/js/underscore.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="/static/bootstrap/js/easyTree.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="/static/bootstrap/js/calendar.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; {# &lt;script type="text/javascript" src="/static/bootstrap/js/multisuggest-plugin.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="/static/bootstrap/js/jquery.typeahead.js"&gt;&lt;/script&gt; #}<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="/static/bootstrap/js/bootstrap-multiselect.js"&gt;&lt;/script&gt; {#https://github.com/davidstutz/bootstrap-multiselect#}<br/>
<br/>
&nbsp; &nbsp; {# &lt;script type="text/javascript" src="/static/bootstrap/js/bootstrap-treenav.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="/static/bootstrap/css/bootstrap-treenav.css"/&gt; #}<br/>
<br/>
&nbsp; &nbsp; &lt;!-- &lt;input type="button" value="Load" onclick="javascript:load_regions_data();"&gt; --&gt;<br/>
&nbsp; &nbsp; &lt;script type="text/javascript"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; /*&lt;![CDATA[*/<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var is_app_inited= false;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_hostel_id= '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_state_id= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_region_id= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_subregion_id= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_calendar_month= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; appInit();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#calendar_month').MonthPicker({ SelectedMonth: new Date({{ current_year }},{{ current_month }}), ShowIcon: false, MonthFormat: 'MM/yy' });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('input[type=month]').MonthPicker().css('backgroundColor', 'lightyellow');<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; make_load_hostel_treeview_data() // UNCOMMENT ONLY FOR TESTING<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //activate_multisuggest()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; activate_facility_multiselect() //<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //makeCalendarFilter(1, 1, 1, 1) &nbsp; // UNCOMMENT ONLY FOR TESTING<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_hostel_id= 1<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$.alert({<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;title: 'Validation error!',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;content: 'Enter your full name !',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;confirm: function(){<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$.alert('Confirmed!'); // shorthand.<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;});<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; /* http://jsfiddle.net/kidsysco/JeZap/ */<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function showHostelImages() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "showHostelImages &nbsp;current_hostel_id::"+var_dump( current_hostel_id ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}calendar/get_images_carousel/type/hostel/id/" + encodeURIComponent(current_hostel_id);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "max_width::{{ max_width }} &nbsp;max_height::{{ max_height }}"+"data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_carousel_container").html(data.html);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#images_carousel_label").html(data.title);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('.carousel').carousel( &nbsp;)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_images_carousel').modal({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; width : parseInt( data.max_width ) + 50,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; height : parseInt( data.max_height )+100,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; keyboard: false<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; })<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function answer_to_callback(event_obj, event_id, data_day) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; event_obj.stopPropagation();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}calendar/get_calendar_data_day/data_day/"+encodeURIComponent(data_day)+"/event_id/" + encodeURIComponent(event_id)+"/hostel_id/" + encodeURIComponent(current_hostel_id);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "HRef::"+HRef )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_modal_body").html( htmlspecialchars_decode(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; al( data )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $( "#div_calendar_answer_to_callbacks" ).modal( &nbsp;{<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } &nbsp;);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function add_hostel(event_obj) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; event_obj.stopPropagation( );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //al( current_hostel_id, "add_hostel current_hostel_id::" ) // http://formvalidation.io/examples/<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_selected_item_info/type/hostel/hostel_id/" + encodeURIComponent(current_hostel_id);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "HRef::"+HRef )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "data::"+var_dump(data.hostel) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_hostel_new_enquiry_hostel_name").html( htmlspecialchars_decode(data.hostel['name']) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_hostel_new_enquiry_hostel_short_descr").html( htmlspecialchars_decode(data.hostel['short_descr']) )<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_start_date').datepicker( {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; format: 'mm-dd-yyyy', &nbsp; // March 25, 2012 12:39PM<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; startDate: '+3d'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_end_date').datepicker( {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; format: 'mm-dd-yyyy', &nbsp; // March 25, 2012 12:39PM<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; startDate: '+3d'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } );<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $( "#div_add_hostel_inquery" ).modal( &nbsp;{<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } &nbsp;);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function HostelNewEnquiryDialogOk() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_full_name = $("#hostel_new_enquiry_full_name").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_full_name == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert("Enter your full name !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.alert({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Validation error!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: 'Enter your full name !',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirm: function(){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.alert('Confirmed!'); // shorthand.<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_full_name').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_email = $("#hostel_new_enquiry_email").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_email == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_email').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!CheckEmail(hostel_new_enquiry_email)) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter valid email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_email').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_extro_info = $("#hostel_new_enquiry_extro_info").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_phone = $("#hostel_new_enquiry_phone").val()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_start_date = $("#hostel_new_enquiry_start_date").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_start_date == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your Check-In Date !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_start_date').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_end_date = $("#hostel_new_enquiry_end_date").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_end_date == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your Check-Out Date !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_end_date').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_request_callback = $("#hostel_new_enquiry_request_callback").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; hostel_new_enquiry_request_callback = ( &nbsp;hostel_new_enquiry_request_callback ? "Y" : "N" )<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}hostels/insert_hostel_inquery"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var DataArray = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "hostel_id": current_hostel_id,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "email": encodeURIComponent(hostel_new_enquiry_email),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "phone": encodeURIComponent(hostel_new_enquiry_phone),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "full_name": encodeURIComponent(hostel_new_enquiry_full_name),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "start_date": encodeURIComponent(hostel_new_enquiry_start_date),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "end_date": encodeURIComponent(hostel_new_enquiry_end_date),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "extro_info": encodeURIComponent(hostel_new_enquiry_extro_info),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "request_callback": hostel_new_enquiry_request_callback,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //'csrf_test_name': $.cookie('csrf_cookie_name')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; };<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( HRef+" &nbsp;"+var_dump(DataArray) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; data: DataArray,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; success: onInsertedHostelInquery,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; dataType: "json"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function onInsertedHostelInquery(data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "onInsertedHostelInquery::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode != 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert(data.ErrorMessage)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Your Booking Enquiry was created and email was sent to operator of this Hostel !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_add_hostel_inquery").modal('hide');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function add_tour(event_obj) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; event_obj.stopPropagation();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; al( current_tour_id, "add_tour current_tour_id::" )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function SetRequestCallbackStatus( type, id ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.confirm({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; icon: 'glyphicon glyphicon-earphone',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Confirm!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: "Do you want to clear Request Callback Status ?",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirmButton: 'YES',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButton: 'Cancel',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirmButtonClass: 'btn-info',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButtonClass: 'btn-danger',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; keyboardEnabled: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirm: function(){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}calendar/set_request_callback_status/type/"+encodeURIComponent(type)+"/id/" + encodeURIComponent(id);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$("#tr_calendar_data_" + data.id).css("display", "none");<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function activate_facility_multiselect() { //https://github.com/davidstutz/bootstrap-multiselect<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#filter_facility').multiselect();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert( "filter_facility &nbsp;AFTER::"+var_dump(1) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
// &nbsp; &nbsp; &nbsp; &nbsp;function activate_multisuggest() {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var americanCheese = [ { id: 1, name: 'American', description: 'Pasteurized processed food product' }, { id: 2, name: 'Brick', description: 'Brick-shaped medium-soft cheese, crumbles easily.' }, { id: 3, name: 'Monterey Jack', description: 'Creamy, mild, white.' }, { id: 4, name: 'Colby', description: 'Semi-hard, washed-curd cheese.' }, { id: 5, name: 'Cream Cheese', description: 'Mild, spreadable cheese, popular on bagels.' }, { id: 6, name: 'Maytag Blue', description: 'Semi-hard blue cheese made from homogenized cows milk.' } ],<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;europeanCheese = [ { id: 101, name: 'Gouda', description: 'Iconic Dutch yellow cheese.' }, { id: 102, name: 'Gjetost', description: 'Caramelized brown Scandinavian whey cheese.' }, { id: 103, name: 'Roquefort', description: 'Sheep milk blue cheese from the south of France.' }, { id: 104, name: 'Emmentaler', description: 'Yellow, medium-hard Swiss cheese with characteristic holes.' }, { id: 105, name: 'Gruyere', description: 'Sweet, slightly salty Swiss cheese, aged five months to one year.' }, { id: 106, name: 'Danish Blue', description: 'A strong, blue-veined cows-milk cheese.' } ];<br/>
//<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var arrayFilter = function(items, term) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var matcher = new RegExp($.fn.multisuggest.escapeRegex(term), "i");<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;return _.filter(items, function(item) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;return (matcher.test(item.name) || matcher.test(item.description));<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;});<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;};<br/>
//<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var arrayListFormatter = function(item, term) {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;// A simple Underscore template for formatting each result<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var compiled = _.template("&lt;% print(hl(item.name)) %&gt;&lt;br /&gt;&lt;small class=\"muted\"&gt;&lt;% print(hl(item.description)) %&gt;&lt;/small&gt;");<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;return compiled({<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;hl : $.proxy($.fn.multisuggest.highlighter, this, term),<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;item: item<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;});<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;};<br/>
//<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var arrayInputFormatter = function(item) { return item.name; }<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var arrayValueAttribute = function(item) { return item.id; }<br/>
//<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$('input[name="cheeses"]').multisuggest({<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;sources: [<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;header: 'American',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;type: 'array',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;data: americanCheese,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;filter: arrayFilter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;listFormatter: arrayListFormatter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;inputFormatter: arrayInputFormatter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;valueAttribute: arrayValueAttribute<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;},<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;header: 'European',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;type: 'array',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;data: europeanCheese,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;filter: arrayFilter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;listFormatter: arrayListFormatter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;inputFormatter: arrayInputFormatter,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;valueAttribute: arrayValueAttribute<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;],<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;link: '&lt;a tabFocus="0" href="javascript:void(0);"&gt;Add a new cheese...&lt;/a&gt;',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;linkHandler: function() {<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert('Display new cheese form.');<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;},<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;loadingIconClass: 'msuggest-loading',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;noResultsText: 'No matching cheeses.',<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;enableDropdownMode: true,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;delay: 300,<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;minLength: 2<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;});<br/>
// &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function showItemImages(hostel_id, state_id, region_id, subregion_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("showItemImages &nbsp; hostel_id::" + hostel_id + " &nbsp; state_id::" + state_id + " &nbsp; region_id::" + region_id + " &nbsp; subregion_id::" + subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function refreshCalendarFilter() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "current_calendar_month::"+var_dump(current_calendar_month) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; makeCalendarFilter(current_hostel_id, current_state_id, current_region_id, current_subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function makeCalendarFilter(hostel_id, state_id, region_id, subregion_id ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_month= $("#calendar_month").val()<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;al( &nbsp;var_dump($("#calendar_month")), '', "" &nbsp;)<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert( $("#calendar_month").MonthPicker('GetSelectedYear') );<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert($("#calendar_month").MonthPicker('GetSelectedYear'));<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;alert($("#calendar_month").MonthPicker('GetSelectedMonthYear'));<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_hostel_id= hostel_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_state_id= state_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_region_id= region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_subregion_id= subregion_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_calendar_month= calendar_month<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "makeCalendarFilter &nbsp; hostel_id::"+hostel_id +" &nbsp; state_id::"+state_id +" &nbsp; region_id::" + region_id +" &nbsp; subregion_id::"+subregion_id +" &nbsp;calendar_month::"+calendar_month)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var filter_facilitys= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#filter_facility :selected').each(function(i, selected){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter_facilitys = filter_facilitys+$(selected).val()+",";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( jQuery.trim(filter_facilitys) == '') {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter_facilitys = ',';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_year= $("#calendar_month").MonthPicker('GetSelectedYear');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_month= $("#calendar_month").MonthPicker('GetSelectedMonth');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; load_calendar_hostel_inqueries(hostel_id, filter_facilitys, calendar_year, calendar_month &nbsp;)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_hostel_id= hostel_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; load_hostel_info(hostel_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function load_calendar_hostel_inqueries(hostel_id, filter_facilitys, calendar_year, calendar_month) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}calendar/load_calendar_hostel_inqueries/hostel_id/"+hostel_id+"/filter_facilitys/"+filter_facilitys+"/calendar_month/"+calendar_month + "/calendar_year/"+calendar_year<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "HRef::"+var_dump(HRef) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar = $("#div_calendar").calendar( &nbsp; &nbsp; // https://github.com/Serhioromano/bootstrap-calendar<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {tmpl_path: "/static/tmpls/", events_source: HRef, modal: "#events-modal", "dayNamesShort" : true }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function load_hostel_info(hostel_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_selected_item_info/type/hostel/hostel_id/" + encodeURIComponent(hostel_id);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_selected_item_info").html(data.html);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( parseInt( data.images_count ) &gt; 0 ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_selected_item_show_images").css("display","inline")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function make_load_hostel_treeview_data() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var checked_states_selection = ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('input.checked_states:checked').each(function () {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; checked_states_selection = checked_states_selection + $(this).val() + ','<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( checked_states_selection == '' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "Select at least 1 state !" )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // &nbsp; &nbsp; alert( $("#hostel_new_enquiry_request_callback").is(':checked') )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var only_with_items= $("#cbx_only_with_items").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //al( only_with_items, "only_with_items")<br/>
// &nbsp; &nbsp; alert( $("#hostel_new_enquiry_request_callback").is(':checked') )<br/>
// &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;if ( $("#hostel_new_enquiry_request_callback").is(':checked') ) {<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var filter_facilitys= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#filter_facility :selected').each(function(i, selected){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter_facilitys = filter_facilitys+$(selected).val()+",";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ( jQuery.trim(filter_facilitys) == '') {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter_facilitys = ',';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var region_id= '-'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var hostel_id= '-'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //var state_id= '-'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var subregion_id= '-'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_month= $("#calendar_month").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //al( &nbsp;var_dump($("#calendar_month")), '', "" &nbsp;)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_year= $("#calendar_month").MonthPicker('GetSelectedYear');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var calendar_month= $("#calendar_month").MonthPicker('GetSelectedMonth');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert($("#calendar_month").MonthPicker('GetSelectedYear'));<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert($("#calendar_month").MonthPicker('GetSelectedMonthYear'));<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; load_hostel_treeview_data(hostel_id, checked_states_selection, region_id, subregion_id, filter_facilitys, only_with_items, calendar_year, calendar_month )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp;function load_hostel_treeview_data( hostel_id, state_id, region_id, subregion_id, filter_facilitys, only_with_items, calendar_year, calendar_month ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "state_id::"+state_id )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var only_with_items_value= only_with_items ? '1' : '0'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}calendar/get_hostels_treeview_data/hostel-id/"+encodeURIComponent(hostel_id)+"/state-id/" + encodeURIComponent(state_id) + "/region-id/"+region_id+"/subregion-id/"+subregion_id+"/filter_facilitys/" + encodeURIComponent(filter_facilitys) + "/only_with_items/" +only_with_items_value + "/calendar_month/" + calendar_month + "/calendar_year/" + calendar_year + "/format/html";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "load_hostel_treeview_data HRef::"+var_dump(HRef) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_hostel_treeview_data").html(data.ret_html);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_hostel_treeview_data').EasyTree({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; selectable: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; select_function_name: 'makeCalendarFilter',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; addable: false,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; editable: false,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; deletable: false<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_calendar").html('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_selected_item_info").html('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_selected_item_show_images").css('display', 'none')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!is_app_inited) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; makeCalendarFilter(1, 1, 1, 1) &nbsp; // UNCOMMENT ONLY FOR TESTING<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; is_app_inited= true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } // function load_hostel_treeview_data() {<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; /*]]&gt;*/<br/>
&nbsp; &nbsp; &lt;/script&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;div class="row"&gt;<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="form-group " data-toggle="buttons" style="padding-bottom: 2px"&gt;#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% set first_item = true %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% for nextState in StatesList %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;label class="btn btn-primary {% if (nextState.id == 1) %} active {% endif %}" style="margin-left:0px; margin-right:0px;"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;input class="checked_states" type="checkbox" autocomplete="off" value="{{ nextState.id }}" {% if (nextState.id == 1) %} checked {% endif %} &gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;span class="glyphicon glyphicon-ok" aria-hidden="true"&gt;&lt;/span&gt;{{ nextState.name }}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/label&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% set first_item = false %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endfor %}#}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;!-- Filter Block Start --&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class=" form-group " &gt;#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;label for="calendar_month" class="col-xs-6 col-sm-3 col-md-3 col-lg-3 control-label " style="border: 0px dotted red; padding-top: 6px;"&gt;Select Month&lt;/label&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 " style="border: 1px dotted #000080"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;input type="text" id="calendar_month" size="15" maxlength="15" value=""&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;label for="filter_facility" class="col-xs-6 col-sm-2 col-md-2 col-lg-2 control-label" &nbsp;style="border: 0px dotted brown; padding-top: 6px;"&gt;Select Facility&lt;/label&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="col-xs-6 col-sm-4 col-md-4 &nbsp;col-lg-4"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;select name="filter_facility" id="filter_facility" class="form-control" multiple&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% for nextFacility in facilitysList %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;option value="{{ nextFacility.id }}" &gt;{{ nextFacility.name }}&lt;/option&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endfor %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/select&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#000000&lt;div class="form-group " data-toggle="buttons" style="padding-bottom: 2px"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;label class="btn btn-primary active col-xs-6 col-sm-6 col-md-6 col-lg-6 " style="border: 1px dotted green"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&amp;#123;&amp;#35;&lt;input type="checkbox" class="only_checkbox" autocomplete="off" id="cbx_only_with_items"&gt;&amp;#35;&amp;#125;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;input type="checkbox" class="only_checkbox" autocomplete="off" id="cbx_only_with_items"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;span class="glyphicon glyphicon-ok" &nbsp;aria-hidden="true"&gt;&lt;/span&gt;Only with items#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/label&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;1111111#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="form-group col-xs-6 col-sm-6 col-md-6 &nbsp;col-lg-6" style="border: 1px dotted darkgray; padding-top: 6px;"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;button type="button" class="btn btn-primary btn-xs pull-left" onclick="javascript:make_load_hostel_treeview_data();"&gt;Retrieve&lt;/button&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;!-- Filter Block End --&gt;#}<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;hr&gt;#}<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt; &lt;!-- Panels with Collapse Start --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel panel-default clearfix"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-heading"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;h2 class="panel-title"&gt;Package Heading&lt;/h2&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p class="small"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Package Description<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/p&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 toggle-header"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-6"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-primary btn-sm hidden-xs" data-toggle="collapse" data-target="#feature-1"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;i class="glyphicon glyphicon-resize-vertical"&gt;&lt;/i&gt;Toggle Feature Set<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-primary btn-xs visible-xs" data-toggle="collapse" data-target="#feature-1"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;i class="glyphicon glyphicon-resize-vertical"&gt;&lt;/i&gt;Toggle Set<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-2 text-center"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="hidden-xs"&gt;Small&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="visible-xs"&gt;S&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-2 text-center"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="hidden-xs"&gt;Medium&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="visible-xs"&gt;M&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-2 text-center"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="hidden-xs"&gt;Large&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="visible-xs"&gt;L&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="feature-1" class="collapse in"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-body"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="" data-toggle="buttons" style="padding-bottom: 2px"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set first_item = true %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextState in StatesList %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="btn btn-primary {% if (nextState.id == 1) %} active {% endif %}" style="margin-left:0px; margin-right:0px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input class="checked_states" type="checkbox" autocomplete="off" value="{{ nextState.id }}" {% if (nextState.id == 1) %} checked {% endif %} &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon glyphicon-ok" aria-hidden="true"&gt;&lt;/span&gt;{{ nextState.name }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set first_item = false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-body"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="calendar_month" class="col-xs-6 col-sm-3 col-md-3 col-lg-3 control-label " style="border: 0px dotted red; padding-top: 6px;"&gt;Select Month&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 " style="border: 1px dotted #000080"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" id="calendar_month" size="15" maxlength="15" value=""&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="filter_facility" class="col-xs-6 col-sm-2 col-md-2 col-lg-2 control-label" &nbsp;style="border: 0px dotted brown; padding-top: 6px;"&gt;Select Facility&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-6 col-sm-4 col-md-4 &nbsp;col-lg-4"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select name="filter_facility" id="filter_facility" class="form-control" multiple&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextFacility in facilitysList %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextFacility.id }}" &gt;{{ nextFacility.name }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;div class="row"&gt; &lt;!-- Panels with Collapse End --&gt;<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-md-3 col-sm-6 col-xs-12 "&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_hostel_treeview_data"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-md-9 &nbsp;col-sm-6 col-xs-12 "&gt;<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="span_selected_item_info" &nbsp;class="pull-left"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="span_selected_item_show_images" style="display: none;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-primary btn-xs pull-right" onclick="javascript:showHostelImages();"&gt;show Hostel Images&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div&gt;&amp;nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_calendar" style="padding-top: 0px;"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;!-- Modal --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal fade" id="div_images_carousel" tabindex="-1" role="dialog" aria-labelledby="images_carousel_label"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-dialog" role="document"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-content"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-header"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-title" id="images_carousel_label"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-body"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_carousel_container" style=""&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-footer"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal fade" id="div_add_hostel_inquery" tabindex="-1" role="dialog" aria-labelledby="images_carousel_label"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-dialog" role="document"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-content"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-header"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-title" id="images_carousel_label"&gt;New Booking Enquiry&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-body"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;form role="form" id="form_add_hostel_inquery" &nbsp;class="form-horizontal"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;h5 style="padding-left: 10px; text-align: left;"&gt;You are making new booking enquiry for hostel&lt;/h5&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;h4&gt;&lt;span id="span_hostel_new_enquiry_hostel_name" style="padding-left: 10px; text-align: left;" &gt;&lt;/span&gt;&lt;/h4&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;h6&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="div_hostel_new_enquiry_hostel_short_descr" style="padding-left: 20px; padding-right: 20px; text-align: left;"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/h6&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_full_name" class="col-xs-12 col-sm-3 control-label"&gt;Name&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_full_name" name="hostel_new_enquiry_full_name" value="" size="30" maxlength="100" class="form-control" type="text" placeholder="Full Name"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_email" class="col-xs-12 col-sm-3 control-label"&gt;Email&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_email" name="hostel_new_enquiry_email" value="" size="30" maxlength="50" class="form-control" type="text" placeholder="Email"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_phone" class="col-xs-12 col-sm-3 control-label"&gt;Phone&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_phone" name="hostel_new_enquiry_phone" value="" size="16" maxlength="16" class="form-control" type="text" placeholder="Phone"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_extro_info" class="col-xs-12 col-sm-3 control-label"&gt;Extro Info&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;textarea id="hostel_new_enquiry_extro_info" name="hostel_new_enquiry_extro_info" value="" rows="8" cols="50" class="form-control" type="text" placeholder="Enquiry"&gt;&lt;/textarea&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_start_date" class="col-xs-12 col-sm-3 control-label"&gt;Start Date&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_start_date" name="hostel_new_enquiry_start_date" value="" size="10" maxlength="10" class="form-control" type="text" placeholder="Start Date"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_end_date" class="col-xs-12 col-sm-3 control-label"&gt;End Date&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_end_date" name="hostel_new_enquiry_end_date" value="" size="10" maxlength="10" class="form-control" type="text" placeholder="End Date"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="hostel_new_enquiry_request_callback" class="col-xs-12 col-sm-3 control-label"&gt;Request Callback&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-9"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input id="hostel_new_enquiry_request_callback" name="hostel_new_enquiry_request_callback" value="1" type="checkbox"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/form&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="modal-body"&gt; --&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="modal-footer"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-primary" onclick="javascript:HostelNewEnquiryDialogOk(); "&gt;Save changes&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="modal fade" id="div_add_hostel_inquery" --&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% include '/plain/calendar/calendar_answer_to_callbacks.twig' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% include '/plain/hostel/add_hostel_inquery.twig' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; http://formvalidation.io/examples/<br/>
<br/>
<br/>
&nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="row"&gt; --&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;a href="{{ base_url }}main/code_highlight?page={{ "application/views/plain/calendar/choose_calendar.twig" |url_encode }}&amp;format=twig&amp;data-line=487-564"&gt;choose_calendar.twig&lt;/a&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;a href="{{ base_url }}main/code_highlight?page={{ "application/controllers/Main.php" |url_encode }}&amp;format=php"&gt;application/controllers/Main.php&lt;/a&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;a href="{{ base_url }}main/code_highlight?page={{ "application/models/Mpricing.php" |url_encode }}&amp;format=php&amp;data-line=17-18"&gt;application/models/Mpricing.php&lt;/a&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;a href="{{ base_url }}main/code_highlight?page={{ "static/js/funcs.js" |url_encode }}&amp;format=js"&gt;static/js/funcs.js&lt;/a&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;a href="{{ base_url }}main/code_highlight?page={{ "static/css/plain/styles.css" |url_encode }}&amp;format=css&amp;data-line=7-11"&gt;static/css/styles.css&lt;/a&gt;&lt;/div&gt;<br/>
<br/>
{% endblock content %}</body></html>