<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>blog_view</title>
</head><body>{% extends "plain/base.twig" %}<br/>
<br/>
{% block content %}<br/>
<br/>
&lt;script type="text/javascript"&gt;<br/>
<br/>
&nbsp; &nbsp; var current_image, selector, counter = 0;<br/>
&nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_breadcrumbs").rcrumbs();<br/>
&nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; /*]]&gt;*/<br/>
&lt;/script&gt;<br/>
<br/>
&lt;div class="row"&gt; &nbsp;&lt;!-- Breadcrumbs row start --&gt;<br/>
&nbsp; &nbsp; {{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs' ) }}<br/>
&lt;/div&gt; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;!-- Breadcrumbs row end --&gt;<br/>
<br/>
&lt;div class="row"&gt; &nbsp;&lt;!-- Blogl View Page start --&gt;<br/>
<br/>
&nbsp; &nbsp; {#cms_item::{{ dump(cms_item) }}#}<br/>
&nbsp; &nbsp; &lt;div class="row" &gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="site_content_title"&gt;{{ cms_item.title }}&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="users-info top-margin"&gt;Author {{ cms_item.author_name }}, at {{ cms_item.created_at|date_format("MonthAsTextYear") | raw }}&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;p class="text-left" style="text-align: left;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if cms_item.default_image is not empty %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;img src="{{ cms_item.default_image }}" width="{{ cms_item.width }}" height="{{ cms_item.height }}" class="leftimg"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="users-info top-margin"&gt;Author {{ cms_item.author_name }}, at {{ cms_item.created_at|date_format("MonthAsTextYear") | raw }}&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;p class="site_content_long_text top-margin text-left" style="text-align: left;"&gt;{{ cms_item.content|stripslashes | raw }}&lt;/p&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/p&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="col-xs-12 col-sm-6 text-left top-margin" &gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% if cms_item.default_image is not empty %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;img src="{{ cms_item.default_image }}" width="{{ cms_item.width }}" height="{{ cms_item.height }}"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#{% endif %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="col-xs-12 col-sm-6 text-left top-margin" &gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="site_content_title"&gt;{{ cms_item.title }}&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="users-info top-margin"&gt;Author {{ cms_item.author_name }}, at {{ cms_item.created_at|date_format("MonthAsTextYear") | raw }}&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;article class="site_content_long_text top-margin"&gt;{{ cms_item.content|stripslashes | raw }}&lt;/article&gt; &amp;#123;&amp;#35; | escape &nbsp;&amp;#35;&amp;#125;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt;#}<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;div class="row" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-6 text-left top-margin" style="border: 0px red solid"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="site_content_title"&gt;More Blogs&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul style="list-style: none" class="text-left"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for next_Cms_Item in Cms_ItemsList %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div style="background-image: url('{{ next_Cms_Item.default_image }}')" alt="{{ next_Cms_Item.title }}" title="{{ next_Cms_Item.title }}"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="{{ base_url }}/main/blog_view/{{ next_Cms_Item.alias }}/id/{{ next_Cms_Item.id }}"&gt;{{ next_Cms_Item.title }}&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span&gt;by {{ next_Cms_Item.author_name }} at {{ next_Cms_Item.created_at|date_format("MonthAsTextYear") | raw }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ pagination_links }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-6"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="top-margin"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% include '/plain/subscribe to_newsletter.twig' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
&lt;/div&gt; &lt;!-- &nbsp;&lt;div class="row"&gt; --&gt; &nbsp;&lt;!-- Blogl View Page start --&gt;<br/>
{% endblock content %}<br/>
</body></html>