<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>application/views/plain/admin/lib/components.twig</title>
</head><body>{% macro responsive_helper() %}<br/>
{# &nbsp; &nbsp;&lt;div class="visible-xs"&gt;&lt;b&gt;xs:&lt;/b&gt;Extra small:Phones (&lt;768px)&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-sm"&gt;&lt;b&gt;sm:&lt;/b&gt;Small:Tablets (≥768px)&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-md"&gt;&lt;b&gt;md:&lt;/b&gt;Medium:Desktops (≥992px)&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-lg"&gt;&lt;b&gt;lg:&lt;/b&gt;Large:Desktops (≥1200px)&lt;/div&gt; #}<br/>
&nbsp; &nbsp; &lt;div class="visible-xs"&gt;&lt;b&gt;xs&lt;/b&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-sm"&gt;&lt;b&gt;sm&lt;/b&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-md"&gt;&lt;b&gt;md&lt;/b&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-lg"&gt;&lt;b&gt;lg&lt;/b&gt;&lt;/div&gt;<br/>
{% endmacro %} &nbsp;{# responsive_helper END #}<br/>
<br/>
<br/>
{% macro menu_item(title, active_admin_link, control_link, items_array) %}<br/>
{# &nbsp; &nbsp;title::{{ title }}&lt;br&gt;<br/>
&nbsp; &nbsp; items_array::{{ dump(items_array) }}&lt;br&gt; &nbsp;#}<br/>
&nbsp; &nbsp; &lt;li class=" dropdown &nbsp;{% if admin_link==control_link %}active{% endif %}"&gt;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;{{ title }} &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="dropdown-menu"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for key,next_item in items_array %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}{{ next_item.url }}"&gt;{{ next_item.title }}&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor &nbsp;%}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &lt;/li&gt;<br/>
<br/>
{% endmacro %} &nbsp;{# menu_item END #}<br/>
<br/>
<br/>
{% macro progress_bar(step, base_url) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class="form-group"&gt; #}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 1 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 1 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep1" style="cursor:pointer; color: white;" &gt;Step 1&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep1" style="cursor:pointer; color: white;" &gt;Hostel&amp;nbsp;Details&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 1&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Hostel&amp;nbsp;Details&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 2 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 2 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep2" style="cursor:pointer;color: white;" &gt;Step 2&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep2" style="cursor:pointer; color: white;" &gt;Advertising&amp;nbsp;Options&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 2&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Advertising&amp;nbsp;Options&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 3 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 3 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep3" style="cursor:pointer;color: white;" &gt;Step 3&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep3" style="cursor:pointer; color: white;" &gt;Hostel&amp;nbsp;Setup&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 3&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Hostel&amp;nbsp;Setup&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 4 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 4 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep4" style="cursor:pointer;color: white;" &gt;Step 4&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep4" style="cursor:pointer; color: white;" &gt;Booking&amp;nbsp;Engine&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 4&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Booking&amp;nbsp;Engine&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 5 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 5 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep5" style="cursor:pointer;color: white;" &gt;Step 5&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep5" style="cursor:pointer; color: white;" &gt;Hostel&amp;nbsp;Gallery&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 5&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Hostel&amp;nbsp;Gallery&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-12 col-sm-4 col-md-2" style="background-color: {% if step &gt;= 6 %}#7B9F35{% else %}#ffffff{% endif %};border: 1px solid #7B9F35; padding: 3px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 6 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep6" style="cursor:pointer;color: white;" &gt;Step 6&lt;/a&gt;&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep6" style="cursor:pointer; color: white;" &gt;Preview&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h4"&gt;Step 6&lt;/span&gt;&lt;br&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="h5" style=" text-transform: uppercase;"&gt;Preview&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {# &lt;/div&gt; #}<br/>
<br/>
{% endmacro %} &nbsp;{# progress_bar END #}<br/>
<br/>
<br/>
<br/>
{% macro input(name, value, type, size) %}<br/>
&nbsp; &nbsp; &lt;input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" /&gt;<br/>
{% endmacro %}<br/>
<br/>
{% macro textarea(name, value, rows, cols) %}<br/>
&nbsp; &nbsp; &lt;textarea name="{{ name }}" rows="{{ rows|default(10) }}" cols="{{ cols|default(40) }}"&gt;{{ value|e }}&lt;/textarea&gt;<br/>
{% endmacro %}<br/>
<br/>
<br/>
{% macro header_block_start(header_title, row_class, row_style, xs_cols, sm_cols, md_cols) %}<br/>
{# col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class=" header_block_start"&gt; &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="widgettitle"&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;{{ header_title }}&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {# &lt;/div&gt; #}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;div class=""&gt; col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="widgetcontent {{ row_class }}"&gt;<br/>
{% endmacro %} {# header_block_start #}<br/>
<br/>
{% macro header_block_end(end_marker) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/div&gt; #}&lt;!-- {{ end_marker }} --&gt;<br/>
{% endmacro %}<br/>
<br/>
<br/>
<br/>
{% macro table_block_start(header_title) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="table-wrapper " &gt; {#style="padding-top: 20px; margin-top: 40px"#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="widgettitle"&gt;&amp;nbsp;{{ header_title }}&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="widgetcontent table-responsive"&gt; {#row #}<br/>
{% endmacro %} {# table_block_start #}<br/>
<br/>
{% macro table_block_end(end_marker) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;&lt;!-- {{ end_marker }} --&gt;<br/>
{% endmacro %} {# table_block_end #}<br/>
<br/>
<br/>
{% macro menu(end_marker) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class=" dropdown &nbsp;{% &nbsp;if admin_link=='hostel'%}active{% endif %}"&gt;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;Hostels &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="dropdown-menu"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/index"&gt;All Hostels&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_featured_listings"&gt;Active Featured Hostels&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_priority_listing_listings"&gt;Active Priority Listing Hostels&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_homepage_spotlight_listings"&gt;Active Homepage Spotlight Hostels&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/new"&gt;Add New&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/li&gt;<br/>
{% endmacro %} {# table_block_end #}<br/>
<br/>
<br/>
</body></html>