<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
</head><body><br/>
6) footer header tags http://www.w3schools.com/w3css/w3css_containers.asp<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;https://habrahabr.ru/post/214407/<br/>
<br/>
Add nearly anything with this simple plugin, including the navbar, tabs, and pills.<br/>
<br/>
<br/>
----------------<br/>
15) <b>https://speckyboy.com/2014/06/16/plugins-for-extending-bootstrap/</b><br/>
&nbsp; Breadcrumbs, Calendar, Checkbox, Combobox, Form Validation, HTML Tables, Image Gallery, In-Place Editing, Progress Bars, Ratings, Social Buttons, Selects, Tags<br/>
Video Player, Website Tour, WYSIWYG, http://jsfiddle.net/kidsysco/JeZap/<br/>
file:///_wwwroot/tb/uploads/video/video.mp4<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 18) add centered "Loading message"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 19) all inside of file:///_wwwroot/tb/static/images/plain &nbsp;<b>{{ template_name }}</b><br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20) &nbsp;{{ next_calendar_data.extro_info }} &nbsp;limit of chars<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 22) in frontend if admin is logged<br/>
25) &#09;&#09;dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], // For formatting<br/>
&#09;&#09;dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], // For formatting<br/>
&#09;&#09;return self.options.templates['week-days'](t);<br/>
<br/>
28) jquery 3, (https://jquery.com/download/)<ul><li>&nbsp;Первая версия осталась пронумерованной как 1.x (в настоящее время 1.11.1). Она обеспечивает совместимость с максимальным числом браузеров.</li>
<li>Версия семейства 2.x (в настоящее время 2.1.1) не поддерживает старые браузеры (включая IE8 и ниже), чтобы оптимизировать количество и качество кода. Версии jQuery 1.x и 2.x имеют практически одинаковый API. При этом они несколько отличаются по внутреннему устройству.</li>
</ul>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;29) datepicker color &nbsp; at &nbsp; http://local-tb.com/admin/contributor/index &nbsp; filter<br/>
42) big time of session<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; header_block_start(header_title, row_class, glyphicon &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 43) on frontend profile<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;50) use last 2 parameters &nbsp; &nbsp; &nbsp; &nbsp; $this-&gt;showTwigTemplate('myprofile', $data, false, true, true);<br/>
&nbsp; &nbsp;53) .container -&gt; &nbsp; margin: auto &nbsp;- not centered<br/>
54) header.twig ?<br/>
<br/>
56) is bootsrap (Bootstrap video player) http://html5-ninja.com/preview/index/5#.URI96mdRbLv &nbsp;?<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;57) panel http://bootsnipp.com/snippets/featured/feature-panels-with-collapse<br/>
58) no doubled key for keyboardEnabled: true in show_alert &nbsp;https://craftpip.github.io/jquery-confirm/<br/>
59) test email sending on server<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;60) twig code into var<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;61) show grid of cells<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;62) show ID in editors<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;64) is not hidden &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_tour_highlights_edit").modal('hide');<br/>
<br/>
<b>68)</b>&nbsp;carusel http://bootsnipp.com/snippets/featured/thumbnail-bootstrap-carousel-with-hover-captions<br/>
++ http://bootsnipp.com/snippets/featured/responsive-moving-box-carousel<br/>
+++ http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal<br/>
++++ http://bootsnipp.com/snippets/featured/responsive-moving-box-carousel<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 71) The Description field can not be mor erro on tab I need<ul><li style="list-style-type: none">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 72) remove '<b>jono</b>' from db</li>
</ul>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 73) replace &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$config_array = $this-&gt;config-&gt;config;with &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 'site_name' =&gt; $this-&gt;app_config['site_name'],<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 75) {% if cms_page == "about_us" %} error <br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 76) make http://local-tb.com/terms_condition as accordion inregister<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 77) test on server under sm footer not visible at http://local-tb.com/<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 79) template "plain/admin/blog_view.tpl.twig<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 81) open <span style="font-family: Roboto"><span style="font-size: 13pt"><div style="text-align: right"> </div></span></span><a href="javascript:ShowReviewsList( 1, 'tobos h'ostelsssss', 'Queene street, 51' )">2 reviews<br/>
</a><a href="javascript:ShowReviewsList( 1, 'tobos h'ostelsssss', 'Queene street, 51' )">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 82) make all header_block_start(header_title, row_class, glyphicon<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;83) &lt;title&gt;(local-)tb.com : Dashboard&lt;/title&gt; ащк вум4<br/>
</a>&nbsp;<br/>
<b>88)</b>&nbsp;image bootstr popup http://local-tb.com//main/blog_view/blog_alias_19/id/145<br/>
90) calendar with carusel<br/>
<br/>
<br/>
http://bootsnipp.com/snippets/featured/carousel-rows<br/>
98) voting, with table data<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 101 ) add http://fontawesome.io/icons/<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;104) first error in http://local-tb.com/hostels/search_hostels_by_state/state/australian-capital-territory <b>SM<br/>
</b><b>106) center &lt;span class="fa fa-newspaper-o fa-2x" style="padding-top:0px; "&gt;&lt;/span&gt;&amp;nbsp;&lt;span style="padding-top:0px; border: 2px red; background-color: navy;<br/>
</b>108) &nbsp;h1, h2 USE http://shpargalkablog.ru/2015/02/h1-seo.html, &nbsp; &nbsp;http://www.internet-technologies.ru/articles/article_2647.html, &nbsp; http://shpargalkablog.ru/2011/11/strong-b-h.html &nbsp;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 110) carousel WITH DIV ONLY<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;120) make VM602:1 Uncaught ReferenceError: ShowInqueriesList is not defined(anonymous function) @ VM602:1<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VM603:1 Uncaught ReferenceError: ShowReviewsList is not defined in TOURS LIST<br/>
<b>122) remove class= from twigs</b>&nbsp;: &nbsp;frontend done<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 124) remove all clear_size<br/>
128) ask http://deviceponsive.com/ reload <br/>
<b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 129)</b>&nbsp;check filter setup refion selection in xs http://local-tb.com/admin/tour/index/page/1/page/1/filter_feature/F/filter_status/A<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 130) in xs buttons not left<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 131) in all listings 1columns as link<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 132) bootstrap get device width programmatically<br/>
148) ask sm to 100%<br/>
<b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;150) </b>in xs on http://local-tb.com/admin/hostel/hostelstep2? wrong checkboxes<br/>
<br/>
<b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;153)</b>&nbsp;for dialogs set min, max width<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 155) login page musdt look as rest<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;158) Error &nbsp;.col-xs-6, .col-sm-4 { width: auto !important; } for http://local-tb.com/admin/hostel/hostelstep1 in sm<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;160) different height between columns in http://local-tb.com/admin/tour/edit/3/page/1 and http://local-tb.com/admin/contributor/edit/64/filter_user_group/3<br/>
161) bootstrap center container class &nbsp;http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3<br/>
http://jsfiddle.net/hashem/ut5sbqvz/<br/>
162) <div style="text-align: left"><span style="font-size: 12pt"><span style="font-family: Verdana">Использовать нормальный Code Style</span></span></div><br/>
163) теги spaceles if, for, conponent<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;164) ask on caching http://deviceponsive.com/?url=http%3A%2F%2Fdev4.softreactor.com%2F<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 167) twig without caching<br/>
168) use or delete application/views/plain/admin/hostel/google_large_map.twig<br/>
<b>&nbsp; &nbsp;http://webmap-blog.ru/google-maps/ispolzuem-google-maps-v-modalnom-okne-twitter-bootstrap</b><br/>
<b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 169)</b>&nbsp;fill &nbsp;on<span style="font-family: dejavu sans mono"><span style="font-size: 11pt"><div style="text-align: left">  Individual Payment Plan </div></span></span>&nbsp;new hostel<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;171) labels at &nbsp;ahttp://local-tb.com/admin/hostel/hostelstep3?#anchor_link_middlet <b>xs<br/>
</b><br/>
176) ask if kubuntu can show icons in some order ?<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 180) top_margin=&gt;top_margin_sm all changes md=10, sm=5, lg=20<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 181) remove marked<br/>
<b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 182) </b>hostestep 3 rooms<br/>
3) watch joomla/wordpress for features<br/>
184) remade all images listing with files twig (calendar)<br/>
185) in kate last opened menu<br/>
186) make as macros &nbsp; &nbsp; {% set deleteSrc = base_root_url ~ "/" ~ images_dir ~ "/" ~ &nbsp;skin_name ~ &nbsp;"/" ~ 'delete.png' %}<br/>
http://craftcms.stackexchange.com/questions/10065/use-a-twig-macro-to-set-a-variable/10068#10068<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;188) replace style="white-space: nowrap;"<br/>
189) upload images with space http://local-tb.com/admin/tour/upload_image_to_tour<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;193) <span style="font-family: MyRobotoRegular"><span style="font-size: 16pt"><div style="text-align: center">Customer Reviews</div></span></span>&nbsp;in page wihout device<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 195) all blocks to separate file <br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;last in admin : &nbsp; &nbsp; delete_link<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 197) <div style="text-align: center"><span style="font-size: 16pt"><span style="font-family: MyRobotoRegular">Customer Inqueries</span></span></div>&nbsp;popup cell centered<br/>
198) ubuntu utility to convert text to upper case<br/>
199) restore nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){*/<br/>
&nbsp; &nbsp; /*border-botto<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 200) long text in carousel<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 201) on home page get Spotlight Hostels<b>&nbsp;in block?<br/>
</b><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 202) in xs top menu without border<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 203) in http://local-tb.com/admin/hostel/index Filter Popup date selection is not visible in xs<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 204) xs check last application/views/plain/admin/hostel/hostels_list.twig <br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 205) to filter dialogs add clear aall<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 206) top menu<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;207) minimum width for buttons<br/>
</b><b>208) </b><span style="font-family: dejavu sans mono"><span style="font-size: 11pt"><div style="text-align: left">  Filter Applied : </div></span></span>&nbsp;does not work at xs for http://local-tb.com/admin/hostel/index/page/2/<b>filter_status</b>/filter_region_id/1<b><br/>
</b>209) look into http://www.awesomescreenshot.com<br/>
210) <span style="font-family: inherit">Confirm!</span>&nbsp;must be centered "jquery-confirm &nbsp;center box" &nbsp; https://craftpip.github.io/jquery-confirm/<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;211) search images for tour edit<br/>
212) tour edit error in tab<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 213)in notice labes set symbol before messafe<br/>
214) ask on smartphone in date selection to hide key board<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 215) ask in smartphone page title<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 216) in <span style="font-family: MyRobotoRegular"><span style="font-size: 16pt"><div style="text-align: center">Contributors Filter Setup</div></span></span>&nbsp;last status field is very narrow, also in editor<br/>
217) chrome/FF plugings for debugger<br/>
218) in chosen-plugin restore items after clear http://stackoverflow.com/questions/8980131/changing-selection-in-a-select-with-the-chosen-plugin<br/>
http://stackoverflow.com/questions/11365212/how-do-i-reset-a-jquery-chosen-select-option-with-jquery<br/>
http://stackoverflow.com/questions/7897760/jquery-chosen-reset<br/>
219)on smartphone does not work Google Map on Hostel1<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 220) for Contributors Filter Setup and more set right margin<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 221) for group list add top size<br/>
Save Hostel<br/>
222) use &lt;section and dd, dt for frontend<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;223) coloe for table_header<br/>
224) use &nbsp;margin-top: 1em; /* Отступ сверху */<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;225) move code in static/css/plain/jquery.rcrumbs.min.css to mine css\<br/>
225) add remove left right padding in dasb Hostel Listings on xs<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;226) set cell_value to all of http://local-tb.com/admin/hostel/hostelstep6<br/>
227) em all next font-size<br/>
<b>==========================</b><br/>
http://dev4.softreactor.com//uploads/hostels/-hostel-3/44c9cc2b1edd.jpg<br/>
http://dev4.softreactor.com//uploads/hostels/-hostel-3/].jpg<br/>
http://dev4.softreactor.com//uploads/hostels/-hostel-16/43e7f7cc672e.jpg<br/>
http://dev4.softreactor.com//uploads/hostels/-hostel-9/4b2c9c910f3f.jpg<br/>
http://dev4.softreactor.com//uploads/hostels/-hostel-9/67c54181da98.jpg<br/>
----------- <br/>
Всем привет,<br/>
Не подскажите, есть ли возможности в Chromium, &nbsp;49.0.2623.108 Ubuntu 14.04<br/>
алертом выводить если не весь текст, то покраней мере больше чем по умолчанию?<br/>
&nbsp;по умолчанию при выводе большого куска текста он очень сильно режется...<br/>
<a href="http://phpclub.ru/talk/members/11088/">@mstdmstd</a><span style="font-family: Arial"><span style="font-size: 14pt"><div style="text-align: left">, кхм, тогда советую юзать тебе специальные утилиты, ту же консоль хрома в dev.tools. Ни алерт ни попап могут не сработать в некоторых случаях так, как тебе надо.</div></span></span><br/>
<br/>
-------------<br/>
Всем привет,<br/>
Когда у меня нет интернета, то мои локальные сайты под Apache/2.4.7 (Ubuntu) на &nbsp;Chromium, &nbsp;49.0.2623.108 Ubuntu 14.04 работают нормально.<br/>
Но под Firefox 45.0.1 выдают ошибку вида Server not found...<br/>
Это какие-то настройки Firefox?<br/>
Чекнув File-&gt;Work Offline проблему не решает...<br/>
<br/>
# lsb_release -d; uname -r; uname -i<br/>
Description: &nbsp; &nbsp;Ubuntu 14.04.4 LTS<br/>
3.16.0-70-generic<br/>
i686<br/>
<br/>
Спасибо !<br/>
<br/>
//////////////////// IMPLEMENT LATER ////////////////////<br/>
69) USE LATER :<br/>
form <b>wizard</b>&nbsp;(using tabs) &nbsp;- http://bootsnipp.com/snippets/featured/form-wizard-using-tabs<br/>
<br/>
<b>105) http://webmap-blog.ru/google-maps/ispolzuem-google-maps-v-modalnom-okne-twitter-bootstrap<br/>
</b>133) search by last date оптимизация CSS site:http://habrahabr.ru/<br/>
95) <b>Table tag</b>&nbsp;( http://bootsnipp.com/tags/table 24 first done ) : &nbsp;<br/>
151) delete Tour/Hostel<br/>
93) diff &nbsp;http://forum.0day.kiev.ua/index.php?showtopic=503045<br/>
<br/>
<br/>
http://bootsnipp.com/snippets/featured/bootstrap-30-responsive-pricing-tables, <br/>
http://bootsnipp.com/snippets/featured/mobile-friendly-api-documentation, <br/>
http://bootsnipp.com/snippets/featured/responsive-pricing-table,<br/>
http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table ++<br/>
http://bootsnipp.com/snippets/featured/dynamic-table-row-creation-and-deletion&#09;<br/>
<br/>
<br/>
=========================================================<br/>
</body></html>