{% extends current_skin_name ~ "/admin/base.twig" %}
{% block content %}

	<script type="text/javascript">
		/*<![CDATA[*/
		var SelectionValuesCount= 0
		var current_attribute_item_id
		jQuery(document).ready(function ($) {
			{{ components.setErrorKeypress() }}
			{% if not is_insert %}
			var type= $("#type").val()
			if ( type== "S" ) { // Select input with items
				AttributeItemsLoad()
			}
			{% endif %}
			$("#name").focus();
		});

		function onSubmit(IsReopen) {
			var theForm = $("#form_attribute_edit");
			$("#is_reopen").val(IsReopen)
			theForm.submit();
		}

		function typeOnChange() {
			var type= $("#type").val()
			if ( type== "S" ) { // Select input with items
				$("#div_attribute_items").css( "display", "block" );
				AttributeItemsLoad()
			}
			if ( type== "I" ) { // Text input without items
				$("#div_attribute_items").css( "display", "none" );
			}
		}
		////////// Attribute Items Block End ///////////

		function switchAttributeItemsLoader(show_attribute_items_images_loader) {
			if (!show_attribute_items_images_loader) {
				$("#div_attribute_items").css( "display", "none" );
				$("#div_attribute_items_block_loading_image").css( "display", "block" );
			} else {
				$("#div_attribute_items").css( "display", "block" );
				$("#div_attribute_items_block_loading_image").css( "display", "none" );
			}
		}

		function AttributeItemsLoad() {
			var HRef = "{{ base_url }}admin/attribute/load_attribute_items/attribute_id/{{ id }}"
			switchAttributeItemsLoader(false)
			$.get(HRef, function (data) {
				switchAttributeItemsLoader(true)
				$('#div_attribute_items').html(data);
			});
		}

		function Attribute_ItemEdit(id) {
			if ( id.toLowerCase() == "new" ) {
				showAttributeItemEditor()
				current_attribute_item_id= ''
			} else {
				current_attribute_item_id= id
				var HRef = "{{ base_url }}admin/attribute/get_attribute_item/attribute_item_id/" + id;
				$.get(HRef, function (data) {
					if (parseInt(data.error_code) == 0) {
						showAttributeItemEditor(data)
					}
				});
			}

			$("#div_attribute_items_edit").modal({
				"backdrop": "static",
				"keyboard": true,
				"show": true
			});
			$("#attribute_item_item_value").focus()
		}

		function showAttributeItemEditor(row) {
			if ( typeof row == "undefined") {
				$("#attribute_item_item_value").val('')
				$("#attribute_item_item_label").val('')
			} else {
				$("#attribute_item_item_value").val(row.item_value)
				$("#attribute_item_item_label").val(row.item_label)
			}
		}

		function MakeAttributeItemAdd() {
			var attribute_item_item_value = $("#attribute_item_item_value").val()
			if (attribute_item_item_value == "") {
				$.alert({
					title: 'Validation error!',
					content: 'Enter Item Value !',
					icon: 'glyphicon glyphicon-remove',
					confirmButton: 'OK',
					keyboardEnabled: true,
					confirm: function(){
						$('#attribute_item_item_value').focus();
					}
				});
				return;
			}

			var attribute_item_item_label = $("#attribute_item_item_label").val()
			if (attribute_item_item_label == "") {
				$.alert({
					title: 'Validation error!',
					content: 'Enter Item label !',
					icon: 'glyphicon glyphicon-remove',
					confirmButton: 'OK',
					keyboardEnabled: true,
					confirm: function(){
						$('#attribute_item_item_label').focus();
					}
				});
				return;
			}

			var HRef = "{{ base_url }}admin/attribute/update_attribute_item"
			var DataArray = {
				"attribute_id": '{{ id }}',
				"attribute_item_id":current_attribute_item_id,
				"item_value": encodeURIComponent(attribute_item_item_value),
				"item_label": encodeURIComponent(attribute_item_item_label),
				'csrf_test_name': $.cookie('csrf_cookie_name') // TODO : UNCOMMENT ON LIVE
			};

			jQuery.ajax({
				url: HRef,
				type: "POST",
				data: DataArray,
				success: onChangedAttributeItem,
				dataType: "json"
			});
		}

		function Attribute_ItemDelete(id, item_value) {
			$.confirm({
				icon: 'glyphicon glyphicon-remove',
				title: 'Confirm!',
				content: 'Do you want to delete "'+item_value+'" Attribute Item ?',
				confirmButton: 'YES',
				cancelButton: 'Cancel',
				confirmButtonClass: 'btn-info',
				cancelButtonClass: 'btn-danger',
				keyboardEnabled: true,
				confirm: function(){
					var HRef = "{{ base_url }}admin/attribute/delete_attribute_item/" + id;
					$.get(HRef, function (data) {
						if (parseInt(data.error_code) == 0) {
							AttributeItemsLoad()
						}
					});
				}
			});
		}

		function onChangedAttributeItem(data) {
			if (parseInt(data.error_code) == 0) {
				$("#div_attribute_items_edit").modal('hide');
				setTimeout(function() {
					AttributeItemsLoad()
				}, 1000);
			} else {
				$.alert({
					title: 'Validation error!',
					content: data.ErrorMessage,
					icon: 'glyphicon glyphicon-remove',
					confirmButton: 'OK',
					keyboardEnabled: true,
					confirm: function(){
						$('#attribute_item_item_value').focus();
					}
				});
				$("#attribute_item_item_value").focus()
			}
		}

		////////// Attribute Items Block End ///////////
		
		/*]]>*/
	</script>

	<div id="page-wrapper">

		<section class="container-fluid {{ layout_col_offset }}">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<h1 class="page-header">
						{% if is_insert %}New{% else %}Edit{% endif %} Attribute
					</h1>
					{{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs', "  " ) }}
					{{ components.showInfo(editor_message, "") }}
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<section class="col-xs-12">

					<form role="form" class="form-horizontal" action="{{ base_url }}admin/attribute/edit/{{ id }}{{ page_parameters_with_sort }}" method="post" accept-charset="utf-8" id="form_attribute_edit" name="form_attribute_edit" enctype="multipart/form-data">

						<input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" />
						<input type="hidden" id="is_reopen" name="is_reopen" value="">
						<input type="hidden" id="id" name="id" value="{{ id }}">
						<input type="hidden" id="hidden_filter_name" name="filter_name" value="{{ filter_name }}">
						<input type="hidden" id="hidden_filter_created_at_from" name="filter_created_at_from" value="{{ filter_created_at_from }}">
						<input type="hidden" id="hidden_filter_created_at_till" name="filter_created_at_till" value="{{ filter_created_at_till }}">
						<input type="hidden" id="hidden_filter_created_at_from_formatted" name="filter_created_at_from_formatted" value="{{ filter_created_at_from_formatted }}">
						<input type="hidden" id="hidden_filter_created_at_till_formatted" name="filter_created_at_till_formatted" value="{{ filter_created_at_till_formatted }}">
						{% if validation_errors_text != "" %}
							<div class="row error" >
								{{ validation_errors_text|raw }}
							</div>
						{% endif %}

						{% if not is_insert %}
							<div class="row">
								<div class="form-group">
									<label>Id</label>
									<input type="text" name="id" id="id" class="form-control integer_input" value="{% if Attribute is not empty %}{{ Attribute.id }}{% endif %}" size="8" maxlength="8" readonly>
								</div>
							</div>
						{% endif %}

						<div class="row">
							<div class="form-group {{ set_field_error_tag("name", ' has-error ') }} ">
								<label for="name">Name<span class="required"> * </span></label>
								<input type="text" name="name" id="name" class="form-control editable_field string_input" value="{% if Attribute.name is defined %}{{ Attribute.name }}{% endif %}" size="30" maxlength="50" placeholder="Enter string name" >
								<p class="help-block">Name of Attribute. Must be unique in system.</p>
							</div>
						</div>

						<div class="row">
							<div class="form-group {{ set_field_error_tag("label", ' has-error ') }} ">
								<label for="label">Label<span class="required"> * </span></label>
								<input type="text" name="label" id="label" class="form-control editable_field string_input" value="{% if Attribute.label is defined %}{{ Attribute.label }}{% endif %}" size="30" maxlength="50" placeholder="Enter string label" >
								<p class="help-block">Label of Attribute. Must be unique in system.</p>
							</div>
						</div>

						<div class="row">
							<div class="form-group {{ set_field_error_tag("type", ' has-error ') }} ">
								<label for="type">Type<span class="required"> * </span></label>
								<select id="type" name="type" class="form-control editable_field"  onchange="javascript:typeOnChange()"  >
									<option value="">  -Select Type-  </option>
									{% for next_attributeTypeValue in attributeTypeValueArray %}
										<option value="{{ next_attributeTypeValue.key }}" {% if Attribute.type is defined and next_attributeTypeValue.key == Attribute.type %}selected{% endif %} >{{ next_attributeTypeValue.value }}</option>
									{% endfor %}
								</select>
								<p class="help-block">If "Select" option is selected, then listing of Attribute Items is visible and can be filled.</p>
							</div>
						</div>

						<div class="row">
							<div class="form-group {{ set_field_error_tag("ordering", ' has-error ') }} ">
								<label for="ordering">Sorting<span class="required"> * </span></label>
								<input type="text" name="ordering" id="ordering" class="form-control editable_field integer_input" value="{% if Attribute.ordering is defined %}{{ Attribute.ordering }}{% endif %}" size="30" maxlength="50" placeholder="Enter integer value" >
								<p class="help-block">Sorting of Attribute.</p>
							</div>
						</div>

						{% if not is_insert %}
							<div class="row">
								<div class="form-group ">
									<label>Created at</label>
									<input type="text" name="created_at" id="created_at" readonly class="form-control date_input" value="{% if Attribute.created_at is defined %}{{ Attribute.created_at|date_format("AsText")|raw }}{% endif %}" size="30" >
								</div>
							</div>
						{% endif %}

						{% if not is_insert %}
							<div class="row">
								<div id="div_attribute_items"></div>
								<div class="padding_sm align image_outer_loading" id="div_attribute_items_block_loading_image" style="display:none;">
									<div class="image_inner_loading">
										<img src="{{ base_url }}{{ images_dir }}{{ current_skin_name }}/big_loading.gif" class="padding_sm">
									</div>
								</div>

							</div>
						{% endif %}

						<section class="row disable-the-width  ">
							<div class=" btn-group pull-right editor_btn_group " >
								<div class="col-xs-6  col-sm-4 pull_left_only_on_xs ">
									<button type="button" class="btn btn-primary" onclick="javascript:onSubmit(1);" >{% if is_insert %}Add{% else %}Update{% endif %}&Reopen
									</button>
								</div>
								<div class="col-xs-6  col-sm-4 ">
									<button type="button" class="btn btn-primary" onclick="javascript:onSubmit(0);" >{% if is_insert %}Add{% else %}Update{% endif %}&Listing
									</button>
								</div>
								<div class="col-xs-12 col-sm-4 pull_left_only_on_xs ">
									<button type="reset" class="btn btn-cancel-action" onclick="javascript:document.location='{{ base_url }}admin/attribute/index{{ page_parameters_with_sort }}'"  >
										Cancel
									</button>
									<img src="{{ base_url }}{{ images_dir }}{{ current_skin_name }}/clear-data.png" alt="Clear All Data" title="Clear All Data" class="a_link    img_clear_data" onclick="javascript:clearAllData()">
								</div>
							</div>
						</section>

					</form>

				</section>

			</div>
			<!-- /.row -->

		</section>
		<!-- /.container-fluid -->

	</div>


{% endblock content %}