<div class="modal fade" id="attributes_list_dialog_filter" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<section class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<div class="modal-title">Attributes&nbsp;Filter&nbsp;Setup</div>
			</section>

			<section class="modal-body dialog_table">
				<form role="form" class="form-horizontal" >

					<div class="row">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-4 control-label" for="filter_name">Name</label>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control editable_field" value="" id="filter_name" type="text" size="20" maxlength="50">
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-4 control-label" for="filter_status">Created at from</label>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control editable_field datepicker_input" value="" id="filter_created_at_from" type="text">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-4 control-label" for="filter_status">Created at till</label>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control editable_field datepicker_input" value="" id="filter_created_at_till" type="text">
							</div>
						</div>
					</div>


				</form>
			</section>


			<section class="modal-footer ">
				<div class="btn-group  pull-right editor_btn_group " role="group" aria-label="group button">
					<button type="button" id="saveImage" class="btn btn-primary" onclick="javascript:attributesListMakeFilterDialogSubmit(); return false; " role="button">Filter</button>
					<button type="button" class="btn btn-cancel-action" data-dismiss="modal"  role="button">Cancel</button>
					<img src="{{ base_url }}{{ images_dir }}{{ current_skin_name }}/clear-data.png" alt="Clear All Data" title="Clear All Data" class="a_link " onclick="javascript:clearAllData()">
				</div>
			</section>
		</div>
	</div>
</div>