{% extends current_skin_name ~ "/admin/base.twig" %}
{% block content %}

	<div id="page-wrapper">

		<section class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<h1 class="page-header">
					Categories
				</h1>
				{{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs' ) }}
				{{ components.showInfo(editor_message) }}
			</div>
			<!-- /.row -->

			<div class="row">
				<form role="form" action="{{ base_url }}admin/category/index/page/1{{ page_parameters_with_sort }}" method="post" accept-charset="utf-8" id="form_categories" name="form_categories" enctype="multipart/form-data">
					<input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" />

					<input type="hidden" id="page" name="page" value="1">
					<input type="hidden" id="hidden_filter_name" name="filter_name" value="{{ filter_name }}">
					<input type="hidden" id="hidden_filter_in_description" name="filter_in_description" value="{{ filter_in_description }}">
					<input type="hidden" id="hidden_filter_created_at_from" name="filter_created_at_from" value="{{ filter_created_at_from }}">
					<input type="hidden" id="hidden_filter_created_at_till" name="filter_created_at_till" value="{{ filter_created_at_till }}">
					<input type="hidden" id="hidden_filter_created_at_from_formatted" name="filter_created_at_from_formatted" value="{{ filter_created_at_from_formatted }}">
					<input type="hidden" id="hidden_filter_created_at_till_formatted" name="filter_created_at_till_formatted" value="{{ filter_created_at_till_formatted }}">

					<section class="table_info">
						{% if categoriesList|length > 0 %}
							{{ categoriesList|length }}&nbsp;Row{% if categoriesList|length > 1 %}s{% endif %}&nbsp;of&nbsp;{{ rows_in_request }}&nbsp;(Page # <strong>{{ page
							}}</strong>)
						{% endif %}

						{% set filters_label %}{{ components.getFiltersLabel( [ {'label':'Name', 'value':filter_name}, {'label':'In description', 'value':filter_in_description | get_yes_no_label(false)},  {'label':'From', 'value':filter_created_at_from_formatted}, {'label':'Till', 'value':filter_created_at_till_formatted},  ], "<br>"  ) |trim  }}{% endset %}
						{% set filters_count %}{{ components.getFiltersCount( [ {'label':'Name', 'value':filter_name}, {'label':'In description', 'value':filter_in_description},  {'label':'From', 'value':filter_created_at_from_formatted}, {'label':'Till', 'value':filter_created_at_till_formatted},  ], true  ) |trim  }}{% endset %}

						<button type="button" class="btn btn-default btn-sm pull_right_only_on_xs padding_right_sm" onclick="javascript:categoriesListFilterApplied( '{{ datepicker_format_submit }}', '{{ datepicker_format_view }}' );" data-toggle="tooltip" data-html="true" data-placement="top" title="" data-original-title="Open dialog window to set filter for Categories. {% if filters_label | trim != "" %}Current filter(s):{% endif %} {{ filters_label | raw }}
  "><i class="glyphicon glyphicon-filter"></i>&nbsp;Filter </button>

						<button type="button" class="btn btn-default  btn-sm pull-right" onclick="javascript:document.location='{{ base_url }}admin/category/edit/new{{ page_parameters_with_sort }}' " title="New Category"><i class="glyphicon glyphicon-plus"></i></button>
					</section>

					{% if categoriesList|length == 0  %}
						<button type="button" class="btn btn-error btn-lg btn-block">No Data Found</button>
					{% else %}
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped">
								<thead>
								<tr>
									<th>ID</th>
									<th>{{ showListHeaderItem ( url='/admin/category/index', filters_str=page_parameters_without_sort, field_title="Name", fieldname="name", sort_direction=sort_direction, sort=sort )|raw }}</th>
									<th>{{ showListHeaderItem ( url='/admin/category/index', filters_str=page_parameters_without_sort, field_title="Slug", fieldname="slug", sort_direction=sort_direction, sort=sort )|raw }}</th>
									<th>{{ showListHeaderItem ( url='/admin/category/index', filters_str=page_parameters_without_sort, field_title="Description", fieldname="description", sort_direction=sort_direction, sort=sort )|raw }}</th>
									<th>Image</th>
									<th>{{ showListHeaderItem ( url='/admin/category/index', filters_str=page_parameters_without_sort, field_title="Created at", fieldname="created_at", sort_direction=sort_direction, sort=sort )|raw }}</th>
									<th colspan="2"></th>
								</tr>
								</thead>
								<tbody>

								{% for nextCategory in categoriesList %}
									<tr>
										<td class="td_right">{{ nextCategory.id }}</td>
										<td><a href="{{ base_url }}admin/category/edit/{{ nextCategory.id }}{{ page_parameters_with_sort }}">
												{{ nextCategory.name }}</a>
											{% if nextCategory.products_count is defined and nextCategory.products_count > 0  %}
												<span class="details_info">, used by {{ nextCategory.products_count }} product(s)</span>
											{% endif %}
										</td>

										<td>{{ nextCategory.slug }}</td>

										<td>
											{% if nextCategory.img is not empty %}
												{{ components.showImageIconWithFancyPopup( nextCategory.img | get_category_icon ( nextCategory.id ), nextCategory.img, nextCategory.file_info ) }}
											{% endif %}
										</td>

										<td>{{ nextCategory.description | concat_str(50) }}</td>
										<td class="td_center">{{ nextCategory.created_at |date_format("AsText") | raw }}</td>
										<td>
											<a href="{{ base_url }}admin/category/edit/{{ nextCategory.id }}{{ page_parameters_with_sort }}"><i class="fa fa-edit" style="font-size:larger;"></i></a>
										</td>
										<td>
											{% if nextCategory.products_count is defined and nextCategory.products_count == 0  %}
												<a href="javascript:deleteCategory( '{{ base_url }}', '{{ nextCategory.id }}', '{{ nextCategory.name | escape('js') }}', '{{ page_parameters_with_sort }}' )"><i class="fa fa-remove"  style="font-size:larger;"></i></a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					{% endif %}

					<section class="table_pagination">
						{{ pagination_links |raw }}
					</section>


				</form>
			</div>
			<!-- /.row -->

		</section>
		<!-- /.container-fluid -->

	</div>

	{% include '/' ~ current_skin_name ~ '/admin/category/categories_list_dialog_filter.twig' %}
{% endblock content %}