
{% macro showOrderIconByStatus(span_id, status) %}
	<span id="{{ span_id }}D" {% if status != "D" %}style="display: none;" {% endif %}><i data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Draft Order" style="font-size:36px"  class="fa fa-external-link"></i></span>

	<span id="{{ span_id }}I" {% if status != "I" %}style="display: none;" {% endif %}><i  data-toggle="tooltip" data-html="true" data-placement="top" data-original-title=" Invoice Order" style="font-size:36px" class="fa fa-battery-0"></i></span>
	<span id="{{ span_id }}O" {% if status != "O" %}style="display: none;" {% endif %}><i data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Completed Order" style="font-size:36px" class="fa fa-check-square"></i></span>

	<span id="{{ span_id }}P" {% if status != "P" %}style="display: none;" {% endif %}><i data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Processing Order" style="font-size:36px" class="fa fa-assistive-listening-systems"></i></span>

	<span id="{{ span_id }}C" {% if status != "C" %}style="display: none;" {% endif %}><i data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Cancelled Order" style="font-size:36px"  class="fa fa-times-circle-o a_link"></i></span>

	<span id="{{ span_id }}R" {% if status != "R" %}style="display: none;" {% endif %}><i data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Refunded Order" style="font-size:36px" class="fa fa-thumb-tack"></i></span>
{% endmacro %}



{% macro blockButtonAtRightStart() %}
<table>
	<tr>
		<td style="width: 98%">
{% endmacro %}

{% macro blockButtonAtRightEnd(js_function, hint_text) %}
		</td>
		<td >
			<a class="a_link" onclick="{{ js_function }}" data-toggle="tooltip" data-html="true" data-placement="top" title="" data-original-title="{{ hint_text }}"><i class="fa fa-edit fa-2x"  style="padding-bottom: 20px;"></i></a>
		</td>
	</tr>
</table>
{% endmacro %}




{% macro blockCurrencySymbolStart() %}
<table>
	<tr>
		{% if get_currency_symbol_left() %}
		<td style="width: 1%">
			{{ get_currency_symbol() }}&nbsp;
		</td>
		{% endif %}
		<td style="width: 98%">
{% endmacro %}

{% macro blockCurrencySymbolEnd() %}
		</td>
		{% if not get_currency_symbol_left() %}
		<td style="width: 1%">
		   &nbsp;{{ get_currency_symbol() }}
		</td>
		{% endif %}
	</tr>
</table>

{% endmacro %}

{% macro spanBlockLoadingImage(span_id) %}
	<span class="padding_sm align image_outer_loading" id="{{ span_id }}" style="display:none;">
		<span class="image_inner_loading">
			<img src="{{ base_url }}{{ images_dir }}{{ current_skin_name }}/big_loading.gif" class="padding_sm">
		</span>
	</span>
{% endmacro %}

{% macro clearFix3Columns(loop) %}

	{% if loop.index0 is defined %}

		{% if loop.index0 is odd %}
			<span class="visible-sm">
				<div class="clearfix visible-sm-block"></div>
            </span>
		{% endif %}

		{% if loop.index is divisible by(3) %}
			<span class="visible-md">
				<div class="clearfix visible-md-block"></div>
			</span>
		{% endif %}

		{% if loop.index is divisible by(3) %}
			<span class="visible-lg">
				<div class="clearfix visible-lg-block"></div>
			</span>
		{% endif %}

	{% else %}
		<span class="visible-sm">
			<div class="clearfix visible-sm-block"></div>
        </span>
		<span class="visible-md">
			<div class="clearfix visible-md-block"></div>
		</span>
		<span class="visible-lg">
			<div class="clearfix visible-lg-block"></div>
		</span>

	{% endif %}

{% endmacro %}


{% macro showImageIconWithFancyPopup( filename_url, filename_text, filename_info ) %}
	<a class="fancybox-thumb" title="{{ filename_info }}" rel="fancybox-thumb" href="{{ filename_url }}" title="{{ filename_text }}" alt="{{ filename_text }}">
		<img SRC="{{ filename_url }}" width="{{ listing_icon_size }}px" height="{{ listing_icon_size }}px">
	</a>
{% endmacro %}


{% macro showBreadcrumbs( breadcrumbsList, breadcrumbs_div_name, breadcrumbs_class ) %}
    {% if breadcrumbsList | length > 0 %}
        <ol class="breadcrumb {{ breadcrumbs_class }}" id="{{ breadcrumbs_div_name }}">
            {% for next_breadcrumb in breadcrumbsList %}
	            <li {% if next_breadcrumb.active %}  class="active" {% endif %}>
		            {% if next_breadcrumb.active %}
			            <i class="{{ next_breadcrumb.icon }}"></i> {{ next_breadcrumb.title }}
		            {% else %}
			            <i class="{{ next_breadcrumb.icon }}"></i> <a href="{{ next_breadcrumb.url }}">{{ next_breadcrumb.title }}</a>
		            {% endif %}
	            </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}

{% macro getFiltersLabel( items_array, splitter ) %}
	{% for next_item in items_array %}
		{% if ( next_item.value is not empty ) %}
			{{ next_item.label }}&nbsp;:&nbsp;<strong>{{ next_item.value | raw }}</strong> &nbsp;&nbsp;{{ splitter | raw }}
		{% endif  %}
	{% endfor  %}
{% endmacro %}

{% macro getFiltersCount( items_array, show_bracket ) %}
	{% set filters_count = 0 %}
	{% for next_item in items_array %}
		{% if ( next_item.value is not empty ) %}
			{% set filters_count = filters_count + 1 %}
		{% endif  %}
	{% endfor  %}
	{% if filters_count > 0 %}
		{% if show_bracket %}({% endif %}{{ filters_count }}{% if show_bracket %}){% endif %}
	{% endif %}
{% endmacro %}



{% macro setErrorKeypress() %}
    $(".has-error").bind('change keypress', function () {
        $(this).removeClass("has-error");
    });
{% endmacro %}

{% macro showInfo(editor_message, section_class) %}
    {% if editor_message != '' %}
        <section class="alert alert-info {{ section_class }}">
            <span class="hidden-xs">
	            <div class="glyphicon glyphicon-info-sign middle_icon pull-left " style="font-size: xx-large; padding-bottom: 5px;" ></div>
                <a class="close pull-right" data-dismiss="alert" href="#">&times;</a>
                <div class=" " style=" margin-top: 5px; font-size: large; ">&nbsp;{{ editor_message | raw }}</div>
	        </span>
            <span class="visible-xs">
                <div class="glyphicon glyphicon-info-sign middle_icon pull-left " style="font-size: large; padding-bottom: 5px; "></div>
                <a class="close pull-right" data-dismiss="alert" href="#">&times;</a>
                <div class="  " style=" margin-top: 5px; font-size: medium; " >&nbsp;{{ editor_message | raw }}</div>
	        </span>
        </section>
    {% endif %}
{% endmacro %}

