{% extends current_skin_name ~ "/base.twig" %}
{% block content %}


	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ category_name }}
					<small>{{ productsList|length }}&nbsp;Row{% if productsList|length > 1 %}s{% endif %}&nbsp;of&nbsp;{{ products_count }}&nbsp;(Page # {{ page }} )</small>
				</h1>
				<div class="row">
					{{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs' ) }}
				</div>
				<div class="row" style="padding-bottom: 20px;">

					<div class="col-sm-6">
						<ul class="ul_one_line">
							<li>Sort by:</li>

							<li>
								{% if sort is defined and sort == 'sale_price'  %}
									Price
								{% else %}
								<a href="{{ base_url }}products_by_category/computer-accessories/page/1/sort/sale_price/sort_direction/asc" class="a_link">Price</a>
								{% endif %}
							</li>

							<li>
								{% if sort is defined and sort == 'rating_summary'  %}
									Rating
								{% else %}
								<a href="{{ base_url }}products_by_category/computer-accessories/page/1/sort/rating_summary/sort_direction/desc" class="a_link">Rating</a>
								{% endif %}
							</li>

							<li>
								{% if sort is defined and sort == 'title'  %}
									Title
								{% else %}
									<a href="{{ base_url }}products_by_category/computer-accessories/page/1/sort/title/sort_direction/asc" class="a_link">Title</a>
								{% endif %}
							</li>

							<li>
								{% if sort is defined and sort == 'published_at'  %}
									Published
								{% else %}
								<a href="{{ base_url }}products_by_category/computer-accessories/page/1/sort/published_at/sort_direction/desc" class="a_link">Published</a>
								{% endif %}
							</li>

						</ul>
					</div>

					<div class="col-sm-6">
					<section class="table_pagination">
					{{ pagination_links |raw }}
					</section>
					</div>

					{#{{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs' ) }}#}
				</div>
			</div>
		</div>
		<!-- /.row -->

		{% for next_product in productsList %}
		<!-- Product Row -->
		<div class="row">
			<div class="col-md-2 text-center">
				<p><i class="fa fa-camera fa-4x"></i>
				</p>
				<p class=""><small>{{ next_product.created_at | date_format("AsText") | raw }}</small></p> {#short_date#}
			</div>
			<div class="col-md-4">
				<a href="{{ base_url }}price_list_details/{{ next_product.slug }}/filter_category_list/{{ category_slug }}">
					{% if next_product.main_image_url is defined %}
						{{ components.showSizeRestrictedImage( next_product.main_image_url, next_product.title, "", next_product['imageSizesRestrictions'], "category_product_" ~ next_product.id )  }}
					{% endif %}
				</a>
			</div>
			<div class="col-md-6">
				<h3>
					<a href="{{ base_url }}price_list_details/{{ next_product.slug }}/filter_category_list/{{ category_slug }}">{{ next_product.id }}->{{ next_product.title }}</a>
					{{ components.show_product_bookmark( next_product.bookmarks_count, next_product.id, next_product.title, "#337ab7" ) }}
				</h3>
				<p>by <a href="{{ next_product.user_id }}">{{ next_product.username }}</a>
				</p>

				<p>
  				    <span class="price ">
					    <sup>
							{% if common_settings['currency_short'] is defined %}{{ common_settings['currency_short'] }}{% endif %}
					    </sup>
						{{ next_product.sale_price_integer }}<sup>{{ next_product.sale_price_decimals }}</sup>
						{% if next_product.regular_price is not empty and next_product.regular_price > 0 %}
							<span class="regular_price"><s>{% if common_settings['currency_short'] is defined %}{{ common_settings['currency_short'] }}{% endif %}{{ next_product.regular_price }}</s></span>
						{% endif %}
				        {{ components.showCartQuantityInput( next_product.id, next_product.title, next_product.sale_price, next_product.qty_in_cart, next_product.in_stock ) }}

			        </span>
				</p>

				<p>
					{% if next_product.rating is not empty %}
						<img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/stars/stars{{ next_product.rating }}.png"  alt="Rating : {{ next_product.rating }}" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="Rating : {{ next_product.rating }}" style="float: right"  >
					{% endif %}
					{{ next_product.short_description }}
				</p>
				<a class="btn btn-primary" href="{{ base_url }}price_list_details/{{ next_product.slug }}/filter_category_list/{{ category_slug }}">Read More <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
		<hr>
		<!-- /.row -->
		{% endfor %}


	</div>

{% endblock content %}