<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Page</title>
</head><body>{% macro show_info(editor_message) %}<br/>
&nbsp; &nbsp; {% if editor_message != '' %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;section class="alert alert-info row"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon glyphicon-info-sign middle_icon" style="font-size: xx-large"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a class="close" data-dismiss="alert" href="#"&gt;&amp;times;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="site_content_subtitle"&gt;&amp;nbsp;&amp;nbsp;{{ editor_message }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/section&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
{% endmacro %} &nbsp;{# show_info(editor_message) #}<br/>
<br/>
<br/>
{# components.show_images_carousel(1, 'col-xs-12') #}<br/>
{% macro show_images_carousel( images_in_1_row, col_def, images_list, images_carousel_key, cell_width, cell_height ) %}<br/>
<br/>
&nbsp; &nbsp; &lt;section class="carousel slide" id="images_carousel{{ images_carousel_key }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="carousel-inner row" &gt;<br/>
<br/>
{#cell_width::{{ cell_width }}&lt;br&gt;#}<br/>
{#cell_height::{{ cell_height }}&lt;br&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set is_first = true %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set image_index= 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set is_last_end_set = false %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for next_image in images_list %} {# show all images #}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set is_last_end_set = false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if image_index == 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="item {% if is_first %}active{% endif %} vertical_align_top" style=" padding: 0px; margin: 0; &nbsp;"&gt; &lt;!-- Start Of new Row--&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="ul_one_line vertical_align_top "&gt; {# padding_left_lg#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set image_index= image_index+1 %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="{{ col_def }} " style="height: {{ cell_height + 100 }}px; &nbsp;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div style="height: {{ cell_height }}px; border:2px red;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;img class="image_thumbnail vertical_align_top" &nbsp;src="{{ next_image.url }}" alt="{{ next_image.short_name }}" &nbsp;width="{{ next_image.width }}" height="{{ next_image.height }}px"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {# &nbsp;overflow_wrap_break_word padding_left_md padding_right_lg site_content_subtitle &nbsp; style="height: 45px;"#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row overflow_wrap_break_word padding_left_md padding_right_lg site_content_subtitle &nbsp;" style="height: 45px;" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ next_image.short_name }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {# padding_left_md site_content_label padding_left_md#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row &nbsp;" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="text-left site_content_label padding_left_md" &gt;{{ next_image.filesize_label }}, {{ next_image.original_width }}*{{ next_image.original_height }}px&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row padding_left_md" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-primary btn-sm" onclick="javascript:ShowImageinPopup( '{{ next_image.short_name }}', '{{ next_image.url }}', '{{ next_image.filesize_label }}, {{ next_image.original_width }}*{{ next_image.original_height }}', '{{ next_image.original_width }}', '{{ next_image.original_height }}' );" &gt;Show in popup&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/li&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if image_index % images_in_1_row == 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- End Of new Row next--&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set is_last_end_set = true %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set is_first = false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if image_index % images_in_1_row == 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% set image_index= 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %} {# {% for next_image in images_list %} show all images #}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if is_last_end_set == false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- End Of new Row In the end of rows--&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif &nbsp;%}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="carousel-inner"&gt; --&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;!-- control-box Block Start --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% if images_list | length &gt; images_in_1_row %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="carousel-control-box pager ul_one_line padding_left_lg"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li &gt;&lt;a class="" data-slide="prev" href="#images_carousel{{ images_carousel_key }}"&gt;&lt;i class="glyphicon glyphicon-chevron-left margin_right_lg"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li &gt;&lt;a class="" data-slide="next" href="#images_carousel{{ images_carousel_key }}"&gt;&lt;i class="glyphicon glyphicon-chevron-right margin_left_lg"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% endif &nbsp;%}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;!-- control-box Block End--&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;/section&gt; &nbsp;&lt;!-- &lt;section class="carousel slide" id="images_carousel"&gt; --&gt;<br/>
<br/>
<br/>
{% endmacro %} &nbsp;{# show_images_carousel( images_in_1_row, col_def ) #}<br/>
<br/>
<br/>
{% macro showBreadcrumbs( breadcrumbsList, breadcrumbs_div_name ) %}<br/>
&nbsp; &nbsp; {% if breadcrumbsList | length &gt; 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;section class="rcrumbs" id="{{ breadcrumbs_div_name }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for next_breadcrumb in breadcrumbsList %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li &gt;&lt;a href="{{ next_breadcrumb.url }}"&gt;{{ next_breadcrumb.title }}&lt;/a&gt;&lt;span class="divider"&gt;&gt;&lt;/span&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/section&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
{% endmacro %} &nbsp;{# showBreadcrumbs END #}<br/>
<br/>
{% macro set_error_keypress() %}<br/>
&nbsp; &nbsp; $(".has-error").bind('change keypress', function () {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $(this).removeClass("has-error");<br/>
&nbsp; &nbsp; });<br/>
{% endmacro %} &nbsp;{# set_error_keypress END #}<br/>
<br/>
{% macro responsive_helper_full_name() %}<br/>
&nbsp; &nbsp; &lt;span class="visible-xs text-danger"&gt;&lt;strong&gt;Extra small devices Phones (&lt;768px)&lt;/strong&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &lt;span class="visible-sm text-danger"&gt;&lt;strong&gt;Small devices Tablets (≥768px)&lt;/strong&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &lt;span class="visible-md text-danger" &gt;&lt;strong&gt;Medium devices Desktops (≥992px)&lt;/strong&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &lt;span class="visible-lg text-danger" &gt;&lt;strong&gt;Large devices Desktops (≥1200px)lg&lt;/strong&gt;&lt;/span&gt;&amp;nbsp;<br/>
&nbsp; &nbsp; {% if( ENVIRONMENT == 'development' ) %}&amp;nbsp;{% endif %}<br/>
{% endmacro %} &nbsp;{# responsive_helper_full_name END #}<br/>
<br/>
{% macro responsive_helper() %}<br/>
&nbsp; &nbsp; &lt;div class="visible-xs text-danger" &gt;&lt;strong&gt;xs{% if( ENVIRONMENT == 'development' ) %}&lt;span class="text-danger" &gt;&amp;nbsp;D&lt;/span&gt;{% endif %}&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-sm text-danger" &gt;&lt;strong&gt;{% if( ENVIRONMENT == 'development' ) %}&lt;span class="text-danger" &gt;&amp;nbsp;D&lt;/span&gt;{% endif %}sm&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-md text-danger" &gt;&lt;strong&gt;md{% if( ENVIRONMENT == 'development' ) %}&lt;span class="text-danger" &gt;&amp;nbsp;D&lt;/span&gt;{% endif %}&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div class="visible-lg text-danger" &gt;&lt;strong&gt;lg{% if( ENVIRONMENT == 'development' ) %}&lt;span class="text-danger" &gt;&amp;nbsp;D&lt;/span&gt;{% endif %}&lt;/strong&gt;&lt;/div&gt;&amp;nbsp;<br/>
&nbsp; &nbsp; {#&lt;div class="visible-xs text-danger" &gt;&lt;strong&gt;{{ is_developer_comp }}xs&lt;/strong&gt;&lt;/div&gt;#}<br/>
&nbsp; &nbsp; {#&lt;div class="visible-sm text-danger" &gt;&lt;strong&gt;{{ is_developer_comp }}sm&lt;/strong&gt;&lt;/div&gt;#}<br/>
&nbsp; &nbsp; {#&lt;div class="visible-md text-danger" &gt;&lt;strong&gt;{{ is_developer_comp }}md&lt;/strong&gt;&lt;/div&gt;#}<br/>
&nbsp; &nbsp; {#&lt;div class="visible-lg text-danger" &gt;&lt;strong&gt;{{ is_developer_comp }}lg&lt;/strong&gt;&lt;/div&gt;&amp;nbsp;#}<br/>
<br/>
{% endmacro %} &nbsp;{# responsive_helper END #}<br/>
<br/>
<br/>
{% macro test_device() %}<br/>
&nbsp; &nbsp; &lt;span id="span_device_width" &gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &lt;img class="test-device" style="width: 52px; height: 32px;display: inline;"&gt;<br/>
{% endmacro %} &nbsp;{# responsive_helper END #}<br/>
<br/>
<br/>
{% macro set_page_anchors_links(top_link, middle_link, bottom_link) %}<br/>
&nbsp; &nbsp; {% if top_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp;&amp;nbsp;&lt;a class="debugging_anchorlink top_margin_sm" href="#anchor_link_top"&gt;top&lt;/a&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; {% if middle_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &amp;nbsp;&lt;a class="debugging_anchorlink top_margin_sm" href="#anchor_link_middle"&gt;middle&lt;/a&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; {% if bottom_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &amp;nbsp;&lt;a class="debugging_anchorlink " href="#anchor_link_bottom"&gt;bottom&lt;/a&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; {% if middle_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="visible-xs text-danger" style="display: inline;"&gt;&lt;strong&gt;{{ is_developer_comp }}xs&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="visible-sm text-danger" style="display: inline;"&gt;&lt;strong&gt;{{ is_developer_comp }}sm&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="visible-md text-danger" style="display: inline;"&gt;&lt;strong&gt;{{ is_developer_comp }}md&lt;/strong&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="visible-lg text-danger" style="display: inline;"&gt;&lt;strong&gt;{{ is_developer_comp }}lg&lt;/strong&gt;&lt;/div&gt;&amp;nbsp;&amp;nbsp;<br/>
&nbsp; &nbsp; {% endif %}<br/>
{% endmacro %} &nbsp;{# set_page_anchors_links END #}<br/>
<br/>
{% macro set_page_anchors(top_link, middle_link, bottom_link) %}<br/>
&nbsp; &nbsp; {% if top_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="anchor_link_top"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; {% if middle_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="anchor_link_middle"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; {% if bottom_link %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;span id="anchor_link_bottom"&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; {% endif %}<br/>
{% endmacro %} &nbsp;{# set_page_anchors END #}<br/>
<br/>
<br/>
<br/>
<br/>
{% macro menu_item(title, control_link, items_array) %}<br/>
&nbsp; &nbsp; &lt;li class=" dropdown &nbsp;{% if controller_class==control_link %}active{% endif %}"&gt;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;{{ title | raw }} &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;ul class="dropdown-menu"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for key,next_item in items_array %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li &gt;&lt;a href="{{ base_url }}{{ next_item.url }}"&gt;{{ next_item.title }}&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor &nbsp;%}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;<br/>
&nbsp; &nbsp; &lt;/li&gt;<br/>
{% endmacro %} &nbsp;{# menu_item END #}<br/>
<br/>
<br/>
{% macro progress_bar(step, base_url, xs_cols, sm_cols, md_cols ) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;section class="row progress_bar"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step &gt; 1 %}prior_progress_step{% elseif step == 1 %}current_progress_step{% else %}next_progress_step{% endif %} " &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 1 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep1" &nbsp;class="a_link prior_progress_step"&gt;Step 1&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep1" class="a_link prior_progress_step"&gt;Hostel&amp;nbsp;Details&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 1 %}&lt;strong&gt;{% endif %}Step 1{% if step == 1 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 1 %}&lt;strong&gt;{% endif %}Hostel&amp;nbsp;Details{% if step == 1 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step &gt; 2 %}prior_progress_step{% elseif step == 2 %}current_progress_step{% else %}next_progress_step{% endif %}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 2 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep2" class="a_link prior_progress_step"&gt;Step 2&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep2" &nbsp;class="a_link prior_progress_step"&gt;Advertising&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 2 %}&lt;strong&gt;{% endif %}Step 2{% if step == 2 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 2 %}&lt;strong&gt;{% endif %}Advertising{% if step == 2 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step &gt; 3 %}prior_progress_step{% elseif step == 3 %}current_progress_step{% else %}next_progress_step{% endif %}" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 3 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep3" &nbsp;class="a_link prior_progress_step" &gt;Step 3&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep3" &nbsp;class="a_link prior_progress_step" &gt;Hostel&amp;nbsp;Setup&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 3 %}&lt;strong&gt;{% endif %}Step 3{% if step == 3 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 3 %}&lt;strong&gt;{% endif %}Hostel&amp;nbsp;Setup{% if step == 3 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step &gt; 4 %}prior_progress_step{% elseif step == 4 %}current_progress_step{% else %}next_progress_step{% endif %}" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 4 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep4" &nbsp;class="a_link prior_progress_step" &gt;Step 4&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep4" &nbsp;class="a_link prior_progress_step" &gt;Booking&amp;nbsp;Engine&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 4 %}&lt;strong&gt;{% endif %}Step 4{% if step == 4 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 4 %}&lt;strong&gt;{% endif %}Booking&amp;nbsp;Engine{% if step == 4 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} &nbsp;{% if step &gt; 5 %}prior_progress_step{% elseif step == 5 %}current_progress_step{% else %}next_progress_step{% endif %}" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 5 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep5" class="a_link prior_progress_step" &gt;Step 5&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep5" class="a_link prior_progress_step" &gt;Hostel&amp;nbsp;Gallery&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 5 %}&lt;strong&gt;{% endif %}Step 5{% if step == 5 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 5 %}&lt;strong&gt;{% endif %}Hostel&amp;nbsp;Gallery{% if step == 5 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div &nbsp;class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step &gt; 6 %}prior_progress_step{% elseif step == 6 %}current_progress_step{% else %}next_progress_step{% endif %}" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if step &gt; 6 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep6" class="a_link prior_progress_step" &gt;Step 6&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;&lt;a href="{{ base_url }}admin/hostel/hostelstep6" class="a_link prior_progress_step" &gt;Preview&lt;/a&gt;&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% else %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props"&gt;{% if step == 6 %}&lt;strong&gt;{% endif %}Step 6{% if step == 6 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="block_title_text progress_bar_props" &gt;{% if step == 6 %}&lt;strong&gt;{% endif %}Preview{% if step == 6 %}&lt;/strong&gt;{% endif %}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/section&gt;<br/>
<br/>
{% endmacro %} &nbsp;{# progress_bar END #}<br/>
<br/>
<br/>
<br/>
{% macro input(name, value, type, size) %}<br/>
&nbsp; &nbsp; &lt;input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" /&gt;<br/>
{% endmacro %}<br/>
<br/>
{% macro textarea(name, value, rows, cols) %}<br/>
&nbsp; &nbsp; &lt;textarea name="{{ name }}" rows="{{ rows|default(10) }}" cols="{{ cols|default(40) }}"&gt;{{ value|e }}&lt;/textarea&gt;<br/>
{% endmacro %}<br/>
<br/>
<br/>
{% macro header_block_start(header_title, row_class, glyphicon, show_top_margin_sm) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="block_title" &gt; {# {% if show_top_margin_sm == true %}big_top_EEEEEmargin{% endif %} #}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if (glyphicon is not empty) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon {{ glyphicon }}" class="text-center"&gt;&lt;/span&gt;&amp;nbsp;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ header_title }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;section class="block_content block_content_group {{ row_class }}"&gt;<br/>
{% endmacro %} {# header_block_start #}<br/>
<br/>
{% macro header_block_end(end_marker) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/section&gt; &lt;!-- {{ end_marker }} --&gt;<br/>
{% endmacro %}<br/>
<br/>
<br/>
<br/>
{% macro table_block_start(header_title, glyphicon, show_top_margin_sm) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;section class="table_wrapper &nbsp;" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="block_title {% if show_top_margin_sm == true %}top_margin_sm{% endif %}" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if (glyphicon is not empty) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;span class="glyphicon {{ glyphicon }}" class="text-center"&gt;&lt;/span&gt;&amp;nbsp;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ header_title }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="block_content block_content_group"&gt; {#row #}<br/>
{% endmacro %} {# table_block_start #}<br/>
<br/>
{% macro table_block_end(end_marker) %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/section&gt;&lt;!-- {{ end_marker }} --&gt;<br/>
{% endmacro %} {# table_block_end #}<br/>
<br/>
<br/>
{#{% macro menu(end_marker) %}#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li class=" dropdown &nbsp;{% &nbsp;if admin_link=='hostel'%}active{% endif %}"&gt;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;Hostels &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;ul class="dropdown-menu"&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/index"&gt;All Hostels&lt;/a&gt;&lt;/li&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_featured_listings"&gt;Active Featured Hostels&lt;/a&gt;&lt;/li&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_priority_listing_listings"&gt;Active Priority Listing Hostels&lt;/a&gt;&lt;/li&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/active_homepage_spotlight_listings"&gt;Active Homepage Spotlight Hostels&lt;/a&gt;&lt;/li&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;li&gt;&lt;a href="{{ base_url }}admin/hostel/new"&gt;Add New&lt;/a&gt;&lt;/li&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/ul&gt;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {#&lt;/li&gt;#}<br/>
{#{% endmacro %} &amp;#123;&amp;#35; table_block_end &amp;#35;&amp;#125;#}<br/>
<br/>
<br/>
</body></html>