<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>js</title>
</head><body><br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.<b>confirm</b>({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; icon: 'glyphicon glyphicon-signal',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Confirm!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: "Do you want to &lt;b&gt;recreate password&lt;/b&gt; and send it to user at his email ?",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirmButton: 'YES',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButton: 'Cancel',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirmButtonClass: 'btn-info',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelButtonClass: 'btn-danger',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; keyboardEnabled: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirm: function(){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = '{{ base_url }}admin/contributor/recreate_password/id/{{ id }}';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;//alert("onRecreatedPassword data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (parseInt(data.ErrorCode) == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#span_user_has_password').html("Has password")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#span_user_has_password').html("&lt;b&gt;Has no password&lt;/b&gt;")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.<b>alert</b>({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;title: 'Validation error!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;content: 'Enter your full name !',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;confirm: function(){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$.alert('Confirmed!'); // shorthand.<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.<b>alert</b>({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Invalid parameter!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; keyboardEnabled: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; icon: 'glyphicon glyphicon-remove',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: 'You specified invalid parameter \'' +'{{ format }}'.toLowerCase() +'\' !' + ' Now supported parameters are php, twig, js, css!'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function MakeTourHighlightAdd() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var tour_highlight_name = $("#tour_highlight_name").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (tour_highlight_name == "") {<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>$.alert</b>({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Validation error!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: 'Enter name !',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; confirm: function(){<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#tour_highlight_name')<b>.focus()</b>;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>return</b>;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/tour/change_tour_highlight"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ...<br/>
</body></html>