<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>invalid</title>
</head><body>&lt;b&gt;{{ file_path }}({{ format }} format)&lt;/b&gt; :&lt;br&gt;&lt;br&gt;&lt;br&gt;<br/>
<br/>
<br/>
&lt;script src="{{ base_url }}static/js/jquery/jquery-1.11.1.min.js"&gt;&lt;/script&gt;<br/>
&lt;script src="{{ base_url }}static/js/jquery/jquery-ui-1.11.1.min.js"&gt;&lt;/script&gt;<br/>
<br/>
<br/>
&lt;link rel="stylesheet" href="{{ base_url }}static/bootstrap/css/bootstrap.min.css"/&gt;<br/>
&lt;link rel="stylesheet" href="{{ base_url }}static/css/jquery-confirm.min.css"/&gt;<br/>
<br/>
&lt;link rel="stylesheet" href="{{ base_url }}static/css/prism.css"/&gt;<br/>
&lt;script type="text/javascript" src="{{ base_url }}static/js/prism.js"&gt;&lt;/script&gt;<br/>
&lt;script type="text/javascript" src="{{ base_url }}static/js/jquery/jquery-confirm.min.js"&gt;&lt;/script&gt;<br/>
&lt;style&gt;<br/>
/*.line-numbers{*/<br/>
&nbsp; &nbsp; /*margin-right: 60px;*/<br/>
/*}*/<br/>
<br/>
/*.space{<br/>
&nbsp; &nbsp; margin-right: 60px;<br/>
}<br/>
*/<br/>
&lt;/style&gt;<br/>
&lt;script type="text/javascript"&gt;<br/>
&nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //var Prism = require('prismjs');<br/>
<br/>
// The code snippet you want to highlight, as a string<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //var code = "var data_1 = 1;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( '{{ format }}' == 'twig' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "-1::" )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var code = ( "{{ code_to_highlight | raw }}" );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert( "-2::" )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var code = ( "{{ code_to_highlight | raw }}" );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "code::"+(code) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; code= code.replace( /\/\*BREAK LINE\*\//gm, /* String.fromCharCode(13) */ &nbsp;'\n' &nbsp;/*"\n\r"*/ /* chr(13) */ )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "++code::"+(code) )<br/>
<br/>
// Returns a highlighted HTML string<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var is_format_specified= false<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var language_name= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( '{{ format }}'.toLowerCase() == 'js' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var html = Prism.highlight( code, Prism.languages.javascript );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; is_format_specified= true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; language_name= 'javascript'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( '{{ format }}'.toLowerCase() == 'css' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var html = Prism.highlight( code, Prism.languages.css );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; is_format_specified= true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; language_name= 'css'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( '{{ format }}'.toLowerCase() == 'php' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var html = Prism.highlight( code, Prism.languages.php );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; is_format_specified= true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; language_name= 'php'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( '{{ format }}'.toLowerCase() == 'twig' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var html = Prism.highlight(code, Prism.languages.twig);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; is_format_specified = true<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; language_name= 'twig'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( !is_format_specified ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.alert({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: 'Invalid parameter!',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; keyboardEnabled: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; icon: 'glyphicon glyphicon-remove',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; content: 'You specified invalid parameter \'' +'{{ format }}'.toLowerCase() +'\' !' + ' Now supported parameters are php, twig, js, css!'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "html::"+html )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_code_to_highlight").html( &nbsp;' &nbsp; &nbsp;&lt;code class="language-'+language_name+'" style="margin-right: 0px; margin-left: -25px;"&gt;'+html + '&lt;/code&gt;' )<br/>
&nbsp; &nbsp; });<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; function var_dump(oElem, from_line, till_line) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var sStr = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (typeof(oElem) == 'string' || typeof(oElem) == 'number') &nbsp; &nbsp; {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sStr = oElem;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var sValue = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var oItem in oElem) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sValue = oElem[oItem];<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sValue = sValue.replace(/&lt;/g, '&amp;lt;').replace(/&gt;/g, '&amp;gt;');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sStr += 'obj.' + oItem + ' = ' + sValue + '\n';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "from_line::"+(typeof from_line) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( typeof from_line == "number" &amp;&amp; typeof till_line == "number" ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return sStr.substr( from_line, till_line );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( typeof from_line == "number" ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return sStr.substr( from_line );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; return sStr;<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&lt;/script&gt;<br/>
<br/>
<br/>
&lt;pre class="line-numbers" style=" white-space: pre; " id="div_code_to_highlight"&gt;<br/>
&lt;/pre&gt;<br/>
{# &lt;pre class="line-numbers"&gt;&lt;code class="language-javascript"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; function al(s, prefix_text, output) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "s::"+(typeof s) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var prefix= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var separator= ''<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var value= ''<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( typeof prefix_text != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // &nbsp;alert( "-1Z prefix_text::"+prefix_text )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; prefix= prefix_text<br/>
&nbsp; &nbsp; &nbsp; &nbsp; separator= ' : '<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( prefix+" : "+var_dump(s) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "-2Z prefix_text::"+prefix_text )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; value= s<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "-3Z value::"+value )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( (typeof value) == 'boolean' ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; value= value ? 'true' : 'false';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( typeof output != "undefined" &amp;&amp; output == "alert" ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; alert( prefix + separator + var_dump(value) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ( typeof value == "object") value= var_dump(value)<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //console.debug( prefix + separator + value )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; alert( prefix + separator + value )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &lt;/code&gt;&lt;/pre&gt;#}<br/>
{# &nbsp;Add class line-numbers to your desired &lt;pre&gt; and line-numbers plugin will take care. &nbsp;#}</body></html>