{% macro concat_conditional_values( values_array, splitter, default_value ) %}
	{% set have_values = false %}
	{% for next_value in values_array %}
		{% if ( next_value.condition ) %}
			{% set have_values = true %}
			{{ next_value.value | raw }}{{ splitter | raw }}
		{% endif  %}
	{% endfor  %}
	{% if have_values == false %}
		{{ default_value | raw }}
	{% endif  %}

{% endmacro %}  {# concat_conditional_values END #}

{% macro show_next_hostel_room( nextHostel_RoomType, top_class ) %}
	<div  class="row {{ top_class }}">
		<label for="room_{{ nextHostel_RoomType.type }}" class="col-xs-12 col-sm-6 control-label  ">* {{ nextHostel_RoomType.name }} From</label>
		<div class="col-xs-12 col-sm-6 padding_right_sm">
			<input type="text" id="room_{{ nextHostel_RoomType.type }}" name="room_{{ nextHostel_RoomType.type }}" class="form-control editable_field text-right "  value="{% if nextHostel_RoomType.price is not empty %}{{ nextHostel_RoomType.price }}{% endif %}" size="8" maxlength="8"  placeholder="" >
		</div>
	</div>
{% endmacro %}  {# get_filters_label END #}

{% macro get_filters_label( items_array, splitter ) %}
	{% for next_item in items_array %}
		{% if ( next_item.value is not empty ) %}
			{{ next_item.label }}&nbsp;:&nbsp;<strong>{{ next_item.value | raw }}</strong> &nbsp;&nbsp;{{ splitter | raw }}
		{% endif  %}
	{% endfor  %}

{% endmacro %}  {# get_filters_label END #}


{% macro get_filters_count( items_array, show_bracket ) %}
	{% set filters_count = 0 %}
	{% for next_item in items_array %}
		{% if ( next_item.value is not empty ) %}
			{% set filters_count = filters_count + 1 %}
		{% endif  %}
	{% endfor  %}
	{% if filters_count > 0 %}
		{% if show_bracket %}({% endif %}{{ filters_count }}{% if show_bracket %}){% endif %}
	{% endif %}
{% endmacro %}  {# get_filters_count END #}


{% macro show_info(editor_message) %}
    {% if editor_message != '' %}
        <section class="alert alert-info row">
            <span class="hidden-xs">
	            <div class="glyphicon glyphicon-info-sign middle_icon pull-left padding_right_sm" style="font-size: xx-large; "></div>
                <a class="close pull-right" data-dismiss="alert" href="#">&times;</a>
                <div class=" padding_top_sm " >{{ editor_message }}</div>
	        </span>
            <span class="visible-xs">
                <div class="glyphicon glyphicon-info-sign middle_icon pull-left padding_right_xs" style="font-size: large; "></div>
                <a class="close pull-right" data-dismiss="alert" href="#">&times;</a>
                <div class=" padding_top_xs_2 " >{{ editor_message }}</div>
	        </span>
        </section>
    {% endif %}
{% endmacro %}  {# show_info(editor_message) #}


{% macro show_images_carousel( images_in_1_row, col_def, images_list, images_carousel_key, cell_width, cell_height ) %}

    <section class="carousel slide" id="images_carousel{{ images_carousel_key }}">
        <div class="carousel-inner row" >

            {% set is_first = true %}
            {% set image_index= 0 %}
            {% set is_last_end_set = false %}

            {% for next_image in images_list %}
                {% set is_last_end_set = false %}
                {% if image_index == 0 %}
                    <div class="item {% if is_first %}active{% endif %} vertical_align_top" style=" padding: 0px; margin: 0;  "> <!-- Start Of new Row-->
                        <ul class="ul_one_line vertical_align_top "> {# padding_left_lg#}
                {% endif %}
                {% set image_index= image_index+1 %}

                            <li class="{{ col_def }} " style="height: {{ cell_height + 100 }}px;  ">
                                <div style="height: {{ cell_height }}px; border:2px red;">
                                    <img class="image_thumbnail vertical_align_top"  src="{{ next_image.url }}" alt="{{ next_image.short_name }}"  width="{{ next_image.width }}" height="{{ next_image.height }}px">
                                </div>
                                <div class="row overflow_wrap_break_word padding_left_md padding_right_lg site_content_subtitle  " style="height: 45px;" >
                                    {{ next_image.short_name }}
                                </div>

                                <div class="row  " >
                                    <span class="text-left site_content_label padding_left_md" >{{ next_image.filesize_label }}, {{ next_image.original_width }}*{{ next_image.original_height }}px</span>
                                </div>

                                <div class="row padding_left_md" >
                                    <button type="button" class="btn btn-primary btn-sm" onclick="javascript:ShowImageinPopup( '{{ next_image.short_name }}', '{{ next_image.url }}', '{{ next_image.filesize_label }}, {{ next_image.original_width }}*{{ next_image.original_height }}', '{{ next_image.original_width }}', '{{ next_image.original_height }}' );" >Show in popup</button>
                                </div>
                            </li>

                {% if image_index % images_in_1_row == 0 %}
                        </ul>
                </div> <!-- End Of new Row next-->

                    {% set is_last_end_set = true %}
                {% endif %}

                {% set is_first = false %}
                {% if image_index % images_in_1_row == 0 %}
                    {% set image_index= 0 %}
                {% endif %}
            {% endfor %} {# {% for next_image in images_list %} show all images #}

            {% if is_last_end_set == false %}
                </ul>
            </div> <!-- End Of new Row In the end of rows-->
            {% endif  %}

        </div> <!-- <div class="carousel-inner"> -->

        <!-- control-box Block Start -->
        {% if images_list | length > images_in_1_row %}
            <div class="row">
                <ul class="carousel-control-box pager ul_one_line padding_left_lg">
                    <li ><a class="" data-slide="prev" href="#images_carousel{{ images_carousel_key }}"><i class="glyphicon glyphicon-chevron-left margin_right_lg"></i></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                    <li ><a class="" data-slide="next" href="#images_carousel{{ images_carousel_key }}"><i class="glyphicon glyphicon-chevron-right margin_left_lg"></i></a></li>
                </ul>
            </div>
        {% endif  %}
        <!-- control-box Block End-->

    </section>  <!-- <section class="carousel slide" id="images_carousel"> -->


{% endmacro %}  {# show_images_carousel( images_in_1_row, col_def ) #}


{% macro showBreadcrumbs( breadcrumbsList, breadcrumbs_div_name ) %}
    {% if breadcrumbsList | length > 0 %}
        <section class="rcrumbs" id="{{ breadcrumbs_div_name }}">
            <ul>
                {% for next_breadcrumb in breadcrumbsList %}
                    <li ><a href="{{ next_breadcrumb.url }}">{{ next_breadcrumb.title }}</a><span class="divider">></span></li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endmacro %}  {# showBreadcrumbs END #}

{% macro set_error_keypress() %}
    $(".has-error").bind('change keypress', function () {
        $(this).removeClass("has-error");
    });
{% endmacro %}  {# set_error_keypress END #}

{% macro responsive_helper_full_name() %}
    <span class="visible-xs text-danger"><strong>Extra small devices Phones (<768px)</strong></span>
    <span class="visible-sm text-danger"><strong>Small devices Tablets (≥768px)</strong></span>
    <span class="visible-md text-danger" ><strong>Medium devices Desktops (≥992px)</strong></span>
    <span class="visible-lg text-danger" ><strong>Large devices Desktops (≥1200px)lg</strong></span>&nbsp;
    {% if( ENVIRONMENT == 'development' ) %}&nbsp;{% endif %}
{% endmacro %}  {# responsive_helper_full_name END #}

{% macro responsive_helper() %}
    <span class="visible-xs text-danger" ><strong>xs{% if( ENVIRONMENT == 'development' ) %}<span class="text-danger" >&nbsp;D</span>{% endif %}</strong></span>
    <span class="visible-sm text-danger" ><strong>{% if( ENVIRONMENT == 'development' ) %}<span class="text-danger" >&nbsp;D</span>{% endif %}sm</strong></span>
    <span class="visible-md text-danger" ><strong>md{% if( ENVIRONMENT == 'development' ) %}<span class="text-danger" >&nbsp;D</span>{% endif %}</strong></span>
    <span class="visible-lg text-danger" ><strong>lg{% if( ENVIRONMENT == 'development' ) %}<span class="text-danger" >&nbsp;D</span>{% endif %}</strong></span>&nbsp;
{% endmacro %}  {# responsive_helper END #}


{% macro test_device() %}
    <span id="span_device_width" ></span>
    <img class="test-device" style="width: 52px; height: 32px;display: inline;">
{% endmacro %}  {# responsive_helper END #}


{% macro set_page_anchors_links(top_link, middle_link, bottom_link) %}
    {% if top_link %}
       &nbsp;<a class="debugging_anchorlink top_margin_sm" href="#anchor_link_top">top</a>
    {% endif %}
    {% if middle_link %}
        &nbsp;<a class="debugging_anchorlink top_margin_sm" href="#anchor_link_middle">middle</a>
    {% endif %}
    {% if bottom_link %}
        &nbsp;<a class="debugging_anchorlink " href="#anchor_link_bottom">bottom</a>
    {% endif %}
    {% if middle_link %}
        <div class="visible-xs text-danger" style="display: inline;"><strong>{{ is_developer_comp }}xs</strong></div>
        <div class="visible-sm text-danger" style="display: inline;"><strong>{{ is_developer_comp }}sm</strong></div>
        <div class="visible-md text-danger" style="display: inline;"><strong>{{ is_developer_comp }}md</strong></div>
        <div class="visible-lg text-danger" style="display: inline;"><strong>{{ is_developer_comp }}lg</strong></div>&nbsp;&nbsp;
    {% endif %}
{% endmacro %}  {# set_page_anchors_links END #}

{% macro set_page_anchors(top_link, middle_link, bottom_link) %}
    {% if top_link %}
        <span id="anchor_link_top"></span>
    {% endif %}
    {% if middle_link %}
        <span id="anchor_link_middle"></span>
    {% endif %}
    {% if bottom_link %}
        <span id="anchor_link_bottom"></span>
    {% endif %}
{% endmacro %}  {# set_page_anchors END #}


{% macro menu_item(title, control_link, items_array) %}
    <li class=" dropdown  {% if controller_class==control_link %}active{% endif %}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ title | raw }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for key,next_item in items_array %}
                <li ><a href="{{ base_url }}{{ next_item.url }}">{{ next_item.title }}</a></li>
            {% endfor  %}
        </ul>
    </li>
{% endmacro %}  {# menu_item END #}


{% macro progress_bar(step, base_url, xs_cols, sm_cols, md_cols ) %}
                        <div class="row">
                        <section class="progress_bar">
                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step > 1 %}prior_progress_step{% elseif step == 1 %}current_progress_step{% else %}next_progress_step{% endif %} " >
                                <div class="progress_bar_props">
                                    {% if step > 1 %}
                                        <span class="block_title_text " ><a href="{{ base_url }}admin/hostel/hostelstep1"  class="a_link prior_progress_step">Step 1</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep1" class="a_link prior_progress_step">Hostel&nbsp;Details</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 1 %}<strong>{% endif %}Step 1{% if step == 1 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 1 %}<strong>{% endif %}Hostel&nbsp;Details{% if step == 1 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step > 2 %}prior_progress_step{% elseif step == 2 %}current_progress_step{% else %}next_progress_step{% endif %} ">
                                <div class="progress_bar_props">
                                    {% if step > 2 %}
                                        <span class="block_title_text"><a href="{{ base_url }}admin/hostel/hostelstep2" class="a_link prior_progress_step">Step 2</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep2"  class="a_link prior_progress_step">Advertising</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 2 %}<strong>{% endif %}Step 2{% if step == 2 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 2 %}<strong>{% endif %}Advertising{% if step == 2 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step > 3 %}prior_progress_step{% elseif step == 3 %}current_progress_step{% else %}next_progress_step{% endif %}" >
                                <div class="progress_bar_props">
                                    {% if step > 3 %}
                                        <span class="block_title_text"><a href="{{ base_url }}admin/hostel/hostelstep3"  class="a_link prior_progress_step" >Step 3</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep3"  class="a_link prior_progress_step" >Hostel&nbsp;Setup</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 3 %}<strong>{% endif %}Step 3{% if step == 3 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 3 %}<strong>{% endif %}Hostel&nbsp;Setup{% if step == 3 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step > 4 %}prior_progress_step{% elseif step == 4 %}current_progress_step{% else %}next_progress_step{% endif %}" >
                                <div class="progress_bar_props">
                                    {% if step > 4 %}
                                        <span class="block_title_text"><a href="{{ base_url }}admin/hostel/hostelstep4"  class="a_link prior_progress_step" >Step 4</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep4"  class="a_link prior_progress_step" >Booking&nbsp;Engine</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 4 %}<strong>{% endif %}Step 4{% if step == 4 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 4 %}<strong>{% endif %}Booking&nbsp;Engine{% if step == 4 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }}  {% if step > 5 %}prior_progress_step{% elseif step == 5 %}current_progress_step{% else %}next_progress_step{% endif %}" >
                                <div class="progress_bar_props">
                                    {% if step > 5 %}
                                        <span class="block_title_text"><a href="{{ base_url }}admin/hostel/hostelstep5" class="a_link prior_progress_step" >Step 5</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep5" class="a_link prior_progress_step" >Hostel&nbsp;Gallery</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 5 %}<strong>{% endif %}Step 5{% if step == 5 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 5 %}<strong>{% endif %}Hostel&nbsp;Gallery{% if step == 5 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div  class="col-xs-{{ xs_cols }} col-sm-{{ sm_cols }} col-md-{{ md_cols }} {% if step > 6 %}prior_progress_step{% elseif step == 6 %}current_progress_step{% else %}next_progress_step{% endif %}" >
                                <div class="progress_bar_props">
                                    {% if step > 6 %}
                                        <span class="block_title_text"><a href="{{ base_url }}admin/hostel/hostelstep6" class="a_link prior_progress_step" >Step 6</a></span><br>
                                        <span class="block_title_text" ><a href="{{ base_url }}admin/hostel/hostelstep6" class="a_link prior_progress_step" >Preview</a></span>
                                    {% else %}
                                        <span class="block_title_text">{% if step == 6 %}<strong>{% endif %}Step 6{% if step == 6 %}</strong>{% endif %}</span><br>
                                        <span class="block_title_text" >{% if step == 6 %}<strong>{% endif %}Preview{% if step == 6 %}</strong>{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>

                        </section>
                        </div> <!-- <div class="row"> -->

{% endmacro %}  {# progress_bar END #}


{% macro header_block_start(header_title, row_class, glyphicon, show_top_margin_sm) %}
                                <div class="block_title" > {# {% if show_top_margin_sm == true %}big_top_EEEEEmargin{% endif %} #}
                                    {% if (glyphicon is not empty) %}
                                    <span class="glyphicon {{ glyphicon }}" class="text-center"></span>&nbsp;
                                    {% endif %}
                                    {{ header_title }}
                                </div>
                                <section class="block_content block_content_group {{ row_class }}">
{% endmacro %} {# header_block_start #}

{% macro header_block_end(end_marker) %}
                                </section> <!-- {{ end_marker }} -->
{% endmacro %}



{% macro table_block_start(header_title, glyphicon, show_top_margin_sm) %}
                                        <section class="table_wrapper  " >
                                            <div class="block_title {% if show_top_margin_sm == true %}top_margin_sm{% endif %}" >
                                                {% if (glyphicon is not empty) %}
                                                    <span class="glyphicon {{ glyphicon }}" class="text-center"></span>&nbsp;
                                                {% endif %}
                                                {{ header_title }}
                                            </div>
                                            <div class="block_content block_content_group"> {#row #}
{% endmacro %} {# table_block_start #}

{% macro table_block_end(end_marker) %}
                                        </div>
                                    </section><!-- {{ end_marker }} -->
{% endmacro %} {# table_block_end #}

