@icon-font-path   :   "/static/bootstrap/fonts/";
@icon-font-name   :   "glyphicons-halflings-regular";
@icon-font-svg-id :   "glyphicons_halflingsregular";


@background_color: #E3E3E3;     /* background color of site */
@text_dark_color: #141414;      /* dark(main) color of site */

@block_border_color : #7B9F35;  /* color of border for blocks of elements */


@background_button_color: #337AB7;  /* background color of default button/headers/tabs */
@button_color: #FFFFFF;             /* color of button */
@text_error_color: red;             /* color of error text */

@cancel_background_color: #949494;  /* background color of cancel button */
@prev_background_color: #45A6F9;    /* background color of previos button */


@site_title_color : #5782B7;        /* color of site title */
@site_subtitle_color : #5782B7;     /* color of site subtitle */





@indent_xs_1: 0.1em;
@indent_xs_2: 0.2em;
@indent_xs: 0.3em;

@indent_sm: 0.5em;
@indent_md: 1em;
@indent_lg: 2em;

@indent_img : 0.7em; /* @indent for image : margin, padding */


@import "../common_styles.less";

/*   Progress bar block start   */
.progress_bar {
    margin-right: 0;
    margin-left: 0;
    font-size: medium;
    height: 2.8em;
}


.prior_progress_step {
    background-color:@background_button_color;
    color: @button_color;
    cursor: pointer;
    font-size: medium;
}

.current_progress_step {
    background-color:@background_button_color;
    color: @button_color;
    cursor: not-allowed;
    font-size: medium;;
}

.next_progress_step {
    background-color:@button_color;
    color: @background_button_color;
    cursor: not-allowed;
    font-size: medium;
}

.progress_bar_props  {
    border: @indent_xs_1 solid @background_button_color;
    padding: 0 @indent_sm 0 @indent_sm;
    font-size: medium;
}

/*   Progress bar block end   */





/* Site content block start */

.site_content_title {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: @site_title_color;
}

.site_content_subtitle {
    font-weight: bold;
    font-size: medium;
    color: @site_title_color;
}

.site_content_label {
    font-weight: normal;
    font-size: medium;
    /*text-indent: 0;*/
    text-align: left;
    color: @text_dark_color;
}
.site_content_text {
    font-weight: normal;
    font-size: medium;
    text-indent: @indent_sm;
    text-align: left;
    color: @text_dark_color;
    float: left;
}
.site_content_long_text {
    font-weight: normal;
    font-size: medium;
    text-indent: @indent_sm;
    text-align: left;
    padding-left: @indent_sm;
    color: #222257;
    float: left;
    border-radius: @indent_sm;
    box-shadow: 1px 1px 0 0 #CBCFD1, 2px 2px 0 0 #CBCFD1, 3px 3px 0 0 #CBCFD1, 4px 4px 0 0 #CBCFD1, @indent_sm @indent_sm 0 0 #CBCFD1, -1px -1px 0 0 #607584, -2px -2px 0 0 #607584, -3px -3px 0 0 #607584, -4px -4px 0 0 #607584, -@indent_sm -@indent_sm 0 0 #607584;
}

p.content_p {
    text-align: left;
    text-indent: @indent_lg;
    margin-bottom: @indent_sm;
	font-size: medium;
}
p.notice_p{
    text-align: left;
    text-indent: 0;
    margin-bottom: @indent_sm;
    font-size: medium;
    word-break: break-all;
    white-space: normal;
    border: 0 dotted navy; /* DEBUGGING*/
}

.site_content_value {
    font-weight: bold;
    font-size: medium;
    color: @text_dark_color;
}


.site_content_spotlight{
    height:340px;
    margin-top: @indent_sm;
    margin-bottom: @indent_sm;
}

.next_site_content {
    overflow: hidden;
    /*min-height: 80px;*/
    /*max-height: 80px;*/
    height: 80px;
    text-overflow: ellipsis;
}

/* Site content block end */



/*   Group block start   */

.block_title {
    background: @block_border_color;
    color: @button_color;
    padding: @indent_xs_2 0 0 @indent_sm;
    margin: @indent_sm 0 @indent_sm 0;
    font-size: large;
    text-align: left;
}

.block_content  {
    padding: @indent_md 0 @indent_sm 0;
    /* border: @indent_xs_2 solid red; margin: // DEBUGGING */;
    border: @indent_sm solid @block_border_color;
    margin-bottom: @indent_sm;
    margin-top: -@indent_md;
    margin-left: 0;
    margin-right: 0;
    display: block;
    overflow: hidden;
}

/*   Group block end   */



/*   Admin elements block start   */

.hostel2_data_block {
    vertical-align: middle;
    display: inline-block;
    padding-left: 40px;
    max-width: 90%;
}

/*   Admin elements block end   */



/*  Table_pagination block START */

section.table_pagination {
	> strong {
		display: table-cell;
		vertical-align: middle;
		padding: @indent_sm;
		margin: 0;
		list-style: outside;
		text-align: left;
	}
	> a {
		display: table-cell;
		vertical-align: middle;
		padding: @indent_sm;
		margin: 0;
		list-style: outside;
		text-align: left;
	}
}

.table_pagination {
	background-color: #C9C9C9;
	border: 0 ridge #C9C9C9;

	ul {
		display: table;
		padding: 0;
		margin: @indent_sm 0;
		width: 100%;
		font-size: small;
		color: #888883;
	}

	ul * {
		color: #888883;
	}

	ul>li {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		list-style: outside;
		text-align: left;
	}

	ul>li:last-child {
		text-align: right;
	}

	ul>li>.grey {
		height: @indent_xs_2 !important;
		padding-top: 0.7em;
		margin-left: auto;
	}

	ul .active_page {
		color: #e5695d;
	}
} /*.table_pagination {*/


/*   Google fonts block start   */

@font-face {
	font-family: MyRobotoRegular;
	src: url(../../../css/plain/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: MyRobotoBoldItalic;
	src: url(../../../css/plain/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
	font-family: MyRobotoBold;
	src: url(../../../css/plain/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: MyRobotoItalic;
	src: url(../../../css/plain/fonts/Roboto-Italic.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
