@icon-font-path   :   "/static/bootstrap/fonts/";
@icon-font-name   :   "glyphicons-halflings-regular";
@icon-font-svg-id :   "glyphicons_halflingsregular";


/* Colors Scheme http://color.romanuke.com/tsvetovaya-palitra-2986/ */
@background_color:        #e7eceb;    /* background color of site */                        /* color # 3 */
@text_dark_color:         #666666; // maroon;//#223f4a;   /* dark(main) color of site */                        /* color # 5 */

@block_border_color :     #80A859;    /* color of border for blocks of elements */          /* color # 2 */

@background_button_color: #b6d1df;    /* background color of default button/headers/tabs */  /* color # 5 */
@button_color: #FFFFFF;               /* color of button */
@text_error_color: red;               /* color of color text */

@cancel_background_color: #949494;    /* background color of cancel button */
@prev_background_color:   #45A6F9;    /* background color of previos button */

@site_title_color :       #5782B7;    /* color of site title */                             /* color # 1 */
@site_subtitle_color :    #5782B7;    /* color of site subtitle */                          /* color # 1 */


@indent_xs_1: 0.1em;
@indent_xs_2: 0.2em;
@indent_xs: 0.3em;

@indent_sm: 0.5em;
@indent_md: 1em;
@indent_lg: 2em;

@indent_img : 0.7em; /* @indent for image : margin, padding */

@import "common_styles.less";

/*   Search box block start   */

.search_btn_group button {
    margin-top:0;
    margin-bottom:0;
    margin-left:1.5em;
    margin-right:1.5em;
}


button.btn_run_filter {
	border: @indent_xs_1 solid @block_border_color;
	color: @button_color;
	background-color: @block_border_color;
	border-radius: @indent_sm;
	font-weight: normal;
	padding: @indent_sm;
}

button.btn_run_filter:hover {
//    border: @indent_xs_1 solid @block_border_color;
//    border-radius: @indent_sm;
	color: @block_border_color;
	background-color: @button_color ;
}


/*   Search box block end   */

/*   Group block start   */


.block_title {
	background: @block_border_color;
	color: @button_color;
	text-align: left;
}

.block_content  {
	display: block;
	overflow: hidden;
}
//
//.block_title {
//    background: @block_border_color;
//    color: @button_color;
//    padding: @indent_xs_2 0 0 @indent_sm;
//    margin: 0 0 @indent_sm 0;
//    font-size: large;
//    /*clear: both;*/
//    border: 0 dotted #000080;
//    text-align: left;
//}
//
//.block_content  {
//    padding: @indent_sm @indent_sm @indent_sm @indent_sm;
//    /* border: @indent_xs_2 solid red; margin: // DEBUGGING */;
//    border: @indent_xs solid @block_border_color;
//    margin-bottom: @indent_sm;
//    margin-top: -@indent_sm;
//    margin-left: 0;
//    margin-right: 0;
//    /*display: block;*/
//    overflow:hidden;
//}
//
/*   Group block end   */






/*********/
//.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
//    border-bottom: #C4E17F @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
//    border-bottom: #F7FDCA @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
//    border-bottom: #FECF71 @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
//    border-bottom: #F0776C @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
//    border-bottom: #DB9DBE @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
//    border-bottom: #C49CDE @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
//    border-bottom: #669AE1 @indent_xs solid;
//}
//.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
//    border-bottom: #62C2E4 @indent_xs solid;
//}
//


/*  table_pagination START */

.table_pagination {
	background-color: #C9C9C9;
	border: 0 ridge #C9C9C9;

	ul {
		display: table;
		padding: 0;
		margin: @indent_sm 0;
		width: 100%;
		font-size: small;
		color: #888883;
	}

	ul * {
		color: #888883;
	}

	ul>li {
		display: table-cell;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		list-style: outside;
		text-align: left;
	}

	ul>li:last-child {
		text-align: right;
	}

	ul>li>.grey {
		height: @indent_xs_2 !important;
		padding-top: 0.7em;
		margin-left: auto;
	}

	ul .active_page {
		color: #e5695d;
	}
}

/*  table_pagination END  */



/* article block start */
article {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    font: inherit;
    font-size: 100%;
    text-indent: @indent_sm;
    text-align: left;
}
/* article block end */


/* Site content block start */
.site_content_subtitle {
  color: @site_title_color;
}


.site_content_title, .site_content_title a{
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: @site_title_color;
}

.site_content_subtitle {
  font-weight: bold;
  font-size: medium;
  color: @site_title_color;
}

.site_content_spotlight{
  height:340px;
  margin-top: @indent_sm;
  margin-bottom: @indent_sm;
}


.site_content_label {
    font-weight: normal;
    font-size: medium;
    text-align: left;
    color: @text_dark_color;
}
.site_content_text {
    font-weight: normal;
    font-size: medium;
    text-indent: @indent_sm;
    text-align: left;
    color: @text_dark_color;
    float: left;
	height: 4em;
}

.site_content_info {
	font-weight: normal;
	font-size: medium;
	text-align: left;
	color: @site_subtitle_color;
	padding: @indent_sm @indent_sm @indent_sm @indent_sm;
	margin: 0 @indent_sm 0 @indent_sm;
}

@long_text_left_color : #CBCFD1;
@long_text_right_color : #607584;
@dif : #333333;
.site_content_long_text {
    font-weight: normal;
    font-size: medium;
    text-indent: @indent_sm;
    text-align: left;
    padding-left: @indent_sm;
    color: #1E1E4F;
    float: left;
    width: 100%;
    /*border-left: @indent_xs solid #222257;*/
    border-radius: @indent_sm;
    box-shadow: 1px 1px 0 0 @long_text_left_color + @dif, 2px 2px 0 0 @long_text_left_color + @dif, 3px 3px 0 0 @long_text_left_color + @dif, 4px 4px 0 0 @long_text_left_color + @dif, @indent_sm @indent_sm 0 0 @long_text_left_color + @dif, -1px -1px 0 0 @long_text_right_color - @dif, -2px -2px 0 0 @long_text_right_color - @dif, -3px -3px 0 0 @long_text_right_color - @dif, -4px -4px 0 0 @long_text_right_color - @dif, -5px -5px 0 0 @long_text_right_color - @dif;

}

//////////

p.content_p {
    text-align: left;
    text-indent: @indent_lg;
    margin-bottom: @indent_sm;
    /*background-color: khaki;*/
    /*border: @indent_sm dotted green;*/
}

p.notice_p {
    text-align: left;
    text-indent: 0;
    margin-bottom: @indent_sm;
    font-size: medium;
    /*background-color: green;*/
    /*border: @indent_sm dotted navy;*/
}

.site_content_value {
    font-weight: bold;
    font-size: medium;
    color: @text_dark_color;
}


.next_site_content {
    overflow: hidden;
    /*min-height: 80px;*/
    /*max-height: 80px;*/
    height: 80px;
    text-overflow: ellipsis;
}

.rooms_list {
    text-align: left;
    font-size: small;
    margin-left: @indent_sm;
}

.rooms_list a{
    text-align: left;
    font-size: small;
    margin-left: @indent_sm;
    text-decoration: underline;
    cursor: pointer;
}

button.item_details {
//    border: @indent_xs_1 solid @block_border_color;
	border: @indent_xs_1 solid @block_border_color;
	color: @button_color;
	background-color: @block_border_color;
    border-radius: @indent_sm;
    font-weight: normal;
    width: 100%;
}

button.item_details:hover {
//	border: @indent_xs_1 solid @block_border_color;
	color: @block_border_color ;
	background-color: @button_color;
}

.users_info {
    text-decoration: none;
    font-weight: normal;
    font-size: medium;
    padding: 0 0 0 @indent_sm;
    text-align: left;
    color : @site_title_color;
    white-space: nowrap;
    border: 0 solid red; /* DEBUGGING */

}

/* Site content block end */



/* Hostel block start */


.next_hostel {
//    margin-bottom: 0;
//    margin-top: 0;
    margin-bottom: @indent_sm;
    margin-top: @indent_sm;
    margin-left: 0;
    margin-right: 0;
    padding: 0; //@indent_sm;
    border: @indent_xs_1 dotted #C8C8C8;
//	border: 3px dotted red;
//	background-color: lawngreen;
}

.next_hostel_wide {
    margin-bottom: @indent_sm;
    margin-top: @indent_sm;
    margin-left: 0;
    margin-right: 0;
    padding: 0; //@indent_sm;
    /*border: @indent_xs dotted red;*/   /*  DEBUGGING */
    border: @indent_xs_1 dotted #C8C8C8;
    align-content: flex-start;
//    height: 420px;
}

/* Hostel block end */



/* Tour block start */

.next_tour {
    margin-bottom: @indent_sm;
    margin-top: @indent_sm;
    margin-left: 0;
    margin-right: 0;
    padding: 0;//@indent_sm;
	border: @indent_xs_1 dotted #C8C8C8;
//    border: 3px dotted red;
//	background-color: lawngreen;
//	border: 3px dotted red;
//	background-color: lawngreen;

//    border: @indent_xs_1 dotted #C8C8C8;
//    height: 450px;
}

.next_tour_wide {
    margin-bottom: @indent_sm;
    margin-top: @indent_sm;
    margin-left: 0;
    margin-right: 0;
    padding: 0;//@indent_sm;
    /*border: @indent_xs dotted red;*/   /*  DEBUGGING */
    border: @indent_xs_1 dotted #C8C8C8;
    align-content: flex-start;
//    height: 480px;
}

/* Tour block end */

/* Tour block start */

.next_blog_article {
    margin-bottom: @indent_sm;
    margin-top: @indent_sm;
    margin-left: 0;
    margin-right: 0;
    padding: @indent_sm;
    border: @indent_xs_1 dotted #C8C8C8;
    height: 450px;
}


/* Tour block end */


/* Images block Start */

.back_image {
    /*padding-bottom: 66.66%;*/
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*margin: auto;*/
    /*border: @indent_xs_1 dotted green;*/
}

/* Images block  End */


/* Calendar block  start */

.cal-day-inmonth span[data-cal-date]{
    color:maroon;
    background-color: #ffff00;
    margin: @indent_xs_2;
    font-size: small;
}
.cal-day-weekend span[data-cal-date] {
    color:green;
    background-color: #ffff00;
    margin: @indent_xs_2;
    font-size: small;
}

.cal-month-box .cal-day-today span[data-cal-date] {
    color:#0000ff;
    background-color: green;
    margin: @indent_xs_2;
    font-size: small;
    border: 0 solid gray;
    padding: @indent_xs_1;
}

.panel-body {
    background-color : @background_color;
}
.panel {
    background-color : @background_color;
}
.panel-default {
    background-color : @background_color;
}
.panel-heading {
    background-color : @background_color;
}
.panel-collapse-block {
    padding: @indent_sm;
    margin: @indent_sm;
    border: 0 dotted red;
}

.panel-collapse-elements  {
    padding-top: @indent_xs_2;
    padding-bottom: @indent_sm;
    background:#E6E6E6;
    border: 0 solid navy;
}

.toggle-header{
    padding: @indent_sm 0;
    margin: 0 0;
    background-color:black;
    color:@button_color;
}

/* Calendar block end */


/* rcrumbs (https://github.com/cm0s/jquery-rcrumbs) block start */
.rcrumbs{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:medium;
	line-height:@indent_md;
	white-space:nowrap;
	padding-left:0;
	padding-bottom:@indent_md;
	margin-bottom:1.5em;
	margin-left:0;
	>ul{
		padding:0 0 0 0;
		list-style:none;
		margin-left:-@indent_xs_2;
	}

	>ul>li{
		overflow:hidden;
		display:none;
		border-radius: @indent_lg;
		box-shadow: @indent_xs 0 @indent_xs_2 0 #999;
		margin: 0 @indent_sm 0 0;

		padding: @indent_xs_2 @indent_sm @indent_xs_2 @indent_sm;
		float:left;
		cursor: pointer;
	}

	>ul>li.show{
		display:inline-block
	}

	>ul>li.ellipsis{
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden
	}

	a{
		text-decoration:none
	}

	.divider{
		color:#ccc;
		padding:0 @indent_sm 0 0;
	}

}

/* rcrumbs (https://github.com/cm0s/jquery-rcrumbs) block end */

/*   Google fonts block start   */

@font-face {
	font-family: MyRobotoRegular;
	src: url(../../css/plain/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: MyRobotoBoldItalic;
	src: url(../../css/plain/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
	font-family: MyRobotoBold;
	src: url(../../css/plain/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: MyRobotoItalic;
	src: url(../../css/plain/fonts/Roboto-Italic.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
