@import "admin_styles.less";

.test-device{
    background:url(/static/images/plain/test-device/xs320.png)center center no-repeat;
    border: 0 dotted #E90E0E;
}

/* Common Colors Of site start */
body {
	font-size: small;
}
/* Common Colors Of site end */

h1 {
    margin: 0;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #333;
    opacity: 0.4;
    font: 700 80px 'Bitter';
    background: #222222;
    border: @indent_xs_2 navy;
    font-size: x-large;
}

h2 {
	font-weight: bold;
	font-size: large;
	text-align: center;
}

h3 {
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

h4 {
	font-weight: normal;
	font-size: small;
	text-align: center;
}
h5 {
	font-weight: normal;
	font-size: x-small;
	text-align: left;
}
h6 {
	font-weight: normal;
	font-size: xx-small;
	text-align: left;
}

.panel_editor_heading {
	font-size: medium;
}

/*   Menu & navigations block start   */
.top_navigation {
	margin-bottom: 0;
	padding: @indent_sm;
	text-align: left;
}

.navbar-nav {
	li>a {
		padding: @indent_xs_1;
		margin: 0;
	}
}
.navbar-nav .open .dropdown-menu>li>a  {
	line-height: @indent_md;
	padding-left: @indent_md;
}

.jconfirm-box-container {
	position:relative;
	margin-top: 0%;
	margin-left: 8%;
}

/*   Menu & navigations block end   */


/*   Editor block start   */
.editor_btn_group button {
	font-size: small;
}
/*   Editor block end   */

.dropdown-menu {
	font-size: small;
//	padding: 1px 15px 1px 25px;
}

.top_navigation {
    margin-bottom: 0;
    padding: @indent_sm;
    text-align: left;
    max-width: 310px;
}
.modal-title {
	font-size: medium;
}

.modal-dialog {
    padding: @indent_xs_2;
}

.modal-content {
    max-width: 310px;
    border: 0 magenta;
    padding: @indent_sm;
    margin: 0;
    background-color: @background_color;
}
.modal-body {
    padding: 0;
    margin: 0;
	width:100%;
	height:100%;
}

.modal-content-full-width {
    width: 310px;
    border: 0 magenta;
    padding: @indent_xs_2;
    margin: 0;
    background-color: @background_color;
}



.top_margin_sm_only_on_xs {
    margin-top:@indent_sm;
}
.top_margin_md_only_on_xs {
    margin-top:@indent_sm;
}
.top_margin_lg_only_on_xs {
    margin-top: @indent_lg;
}

.pull_right_only_on_xs {
    float: right;
}
.pull_left_only_on_xs {
    text-align: left;
}

.form-horizontal .form-group {
	margin: @indent_xs_1 0 @indent_xs_1 0;
}

.form-control {
	font-size: small;
	padding: @indent_xs_1 @indent_xs @indent_xs_1 @indent_xs;
	border: 0px dotted maroon;
}

.control-label {
    margin: 0 0 0 0;
    padding-right: @indent_sm;
    padding-left: @indent_sm;
}

div.error {
	margin-top: @indent_xs;
	margin-bottom: @indent_xs;
	padding: 0 @indent_xs @indent_md @indent_xs;

	* {
		display: inline-table;
		margin: @indent_xs @indent_xs 0 0;
		padding: 0;
	}

	>*>span {
		padding-left: @indent_xs;
	}
}


img.error_img, span.error_img>img {
	width: 24px !important;
	height: 24px !important;
//	vertical-align: top;
	margin-top: 0px;
}

.has-error .control-label, .has-error {
    color: @text_error_color;
    padding-left: @indent_sm;
}

.panel_page_info {
	font-size: small;
}

/*   Group block start   */

.block_title {
    background: @block_border_color;
    color: @button_color;
    padding: @indent_xs_2 0 0 @indent_sm;
    margin: @indent_sm 0 @indent_sm 0;
    font-size: medium;
    border: 0 dotted #000080;
    text-align: left;
}

.block_content  {
    padding: @indent_sm 0 @indent_xs 0;
    /* border: @indent_xs_2 solid red; margin: // DEBUGGING */;
    border: @indent_xs_2 solid @block_border_color;
    margin-bottom: @indent_xs_2;
    margin-top: -@indent_md;
    margin-left: 0;
    margin-right: 0;
    display: block;
    overflow: hidden;
}

#map_canvas_container {
//	width:310px; height:460px
	width:910px; height:860px
}
#map_canvas {
	width:910px; height:860px
//	width:310px; height:460px
}
/*   Group block end   */

.block_title_text {
    font-size: small;
    /*text-transform: uppercase;*/
}

/*   Progress bar block start   */

.progress_bar {
    margin-right: 0;
    margin-left: 0;
    font-size: small;
    height: 2.2em;
}

.prior_progress_step {
    background-color:@background_button_color;
    color: @button_color;
    cursor: pointer;
    font-size: small;
}

.current_progress_step {
    background-color:@background_button_color;
    color: @button_color;
    cursor: not-allowed;
    font-size: small;
}

.next_progress_step {
    background-color:@button_color;
    color: @background_button_color;
    cursor: not-allowed;
    font-size: small;
}

.progress_bar_props  {
    border: @indent_xs_1 solid @background_button_color;
    padding: 0 @indent_xs 0 @indent_xs;
    font-size: small;
}

/*   Progress bar block end   */


/* Site content block start */
.alert-info {
	max-height: 26px;
	padding: 2px;
}


.btn-primary {
	font-size: small;
}
.site_content_title {
	font-size: medium;
}

.site_content_subtitle {
	font-size: small;
}

.site_content_label {
	font-size: small;
}
.site_content_text {
	font-size: small;
}
.site_content_long_text {
	font-size: small;
}


p.content_p {
	font-size: small;
}
p.notice_p{
	font-size: small;
}

/* Site content block end */



/*  Elements block start   */

.site_accordion_arrow {
	font-size: small;;
}

.text_money {
	font-size: small;
}

/*  Elements block end   */
