{{ library.header_block_start( "Filter Controls", "  ", "fa fa-search-plus", plugin_prefix ~ "block_controls" ) }}

	<div class="row nsn_woo_ext_search_block_padding_md">
		<button type="button" class="search-submit  pull-left" onclick="javascript:nsn_woo_ext_search_frontendFuncsObj.clearAllInputs();return false;" >Clear All Inputs</button>
		{% if woo_ext_search_options.service_post_for_help_text is defined %}
			<span aria-hidden="true" class="glyphicon glyphicon-info-sign pull-right">
					<a class="nsn_woo_ext_search_a_link" target="_blank" href="{{ woo_ext_search_options.service_post_for_help_text | make_post_url }}">Help</a>
				</span>
		{% endif %}
		<span >{{ library.responsive_helper() }}</span>
	</div>



	{% if woo_ext_search_options.show_in_extended_search_post_title =='yes'  %}
		<div class="row nsn_woo_ext_search_block_padding_sm">
			<div class="form-group">
				<label for="{{ plugin_prefix }}post_title" class="col-xs-12 col-sm-5 control-label">Title/Content</label>
				<div class="col-xs-12 col-sm-7 padding_right_sm padding_left_sm">
					<input type="text" value="" id="{{ plugin_prefix }}post_title" size="20" maxlength="100" class="form-control" onkeyup="javascript:nsn_woo_ext_search_frontendFuncsObj.post_title_onChange();">
				</div>
			</div>
			<div class="form-group">
				<label for="{{ plugin_prefix }}cbx_partial_title" class="col-xs-12 col-sm-5 control-label">Partial</label>
				<div class="col-xs-12 col-sm-7 ">
					<input type="checkbox" value="1" id="{{ plugin_prefix }}cbx_partial_title" checked>
				</div>
			</div>
		</div>
	{% endif %}


	{% if woo_ext_search_options.show_in_extended_search_sku =='yes'  %}

		<div class="row nsn_woo_ext_search_block_padding_sm">
			<div class="form-group">
				<label for="{{ plugin_prefix }}input_sku" class="col-xs-12 col-sm-5 control-label">Enter sku</label>
				<div class="col-xs-12 col-sm-7 padding_right_sm padding_left_sm">
					<input type="text" value="" id="{{ plugin_prefix }}input_sku" size="20" maxlength="100" class="form-control" onkeyup="javascript:nsn_woo_ext_search_frontendFuncsObj.sku_onChange();">
				</div>
			</div>
			<div class="form-group">
				<label for="{{ plugin_prefix }}cbx_partial_sku" class="col-xs-12 col-sm-5 control-label">Partial</label>
				<div class="col-xs-12 col-sm-7 ">
					<input type="checkbox" value="1" id="{{ plugin_prefix }}cbx_partial_sku" class="" >
				</div>
			</div>
		</div>

	{% endif %}


	<div class="row nsn_woo_ext_search_block_padding_sm">
		<div class="form-group">
			<label for="{{ plugin_prefix }}cbx_only_in_stock" class="col-xs-12 col-sm-5 control-label">Only in stock</label>
			<div class="col-xs-12 col-sm-7 ">
				<input type="checkbox" value="1" id="{{ plugin_prefix }}cbx_only_in_stock" >
			</div>
		</div>
	</div>

	<div class="row nsn_woo_ext_search_block_padding_sm">
		<div class="form-group">
			<label for="{{ plugin_prefix }}orderby" class="col-xs-12 col-sm-5 control-label">Order by</label>
			<div class="col-xs-12 col-sm-7 padding_right_sm padding_left_sm">
				<select name="{{ plugin_prefix }}orderby" id="{{ plugin_prefix }}orderby" class="form-control">
					<option value="popularity">By popularity</option>
					<option value="rating">By average rating</option>
					<option value="date" selected="selected">By newness</option>
					<option value="price">By price: low to high</option>
					<option value="price-desc">By price: high to low</option>
				</select>
			</div>
		</div>
	</div>




{% if products_pagination_per_page_list is defined and products_pagination_per_page_list | length > 0 %}
	<div class="row nsn_woo_ext_search_block_padding_sm">
		<div class="form-group">
			<label for="{{ plugin_prefix }}items_per_page" class="col-xs-12 col-sm-5 control-label">Products per page </label>
			<div class="col-xs-12 col-sm-7 padding_right_sm padding_left_sm">
				<select name="{{ plugin_prefix }}items_per_page" id="{{ plugin_prefix }}items_per_page" class="form-control">
					<option value="">  -Select items per page-  </option>
					{% for next_products_pagination_per_page in products_pagination_per_page_list %}
						<option value="{{ next_products_pagination_per_page }}" {% if woo_ext_search_options.products_per_page == next_products_pagination_per_page %}selected{% endif %} >By {{ next_products_pagination_per_page
					}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
{% endif %}




<div class="row nsn_woo_ext_search_block_padding_sm text-center">
		<button type="button" class="search-submit" onclick="javascript:nsn_woo_ext_search_frontendFuncsObj.runFilterSearch('loadWooProducts',1);return false;" >Search</button>
		{#<button type="button" class="search-submit  pull-right" onclick="javascript:nsn_woo_ext_search_frontendFuncsObj.clearAllInputs();return false;" >Clear All Inputs</button>#}
	</div>


	{% if woo_ext_search_options.show_bookmark_functionality =='yes' and current_user_id is defined and current_user_id > 0 %}
	<div class="row nsn_woo_ext_search_block_padding_sm">
		<fieldset class="nsn_woo_ext_search_thin_border nsn_woo_ext_search_block_margin_sm nsn_woo_ext_search_block_padding_sm">
			<legend >Bookmarks:</legend>

			<div class="nsn_woo_ext_search_block_padding_sm">
				<button onclick="javascript:nsn_woo_ext_search_frontendFuncsObj.showNewBookmarkDialog();return false;" >&nbsp;Save current filters as Bookmark</button>
			</div>

			<div class="nsn_woo_ext_search_block_padding_sm">
				<span aria-hidden="true" class="glyphicon glyphicon-bookmark"></span>
				<span id="span_have_bookmarks"></span>
			</div>

			<div class="nsn_woo_ext_search_block_padding_sm">
				<button id="button_show_existing_bookmarks" onclick="javascript:nsn_woo_ext_search_frontendFuncsObj.showBookmarks();return false;" >&nbsp;
					Select Bookmark and fill controls</button>
			</div>

		</fieldset>
	</div>
	{% endif %}

	{% if current_user_id is not defined or current_user_id <= 0 %}
	<div class="row ">
		<div class="nsn_woo_ext_search_block_padding_sm">
			{#<button type="button" class="btn btn-sm btn-block">You must login to system to use Bookmarks</button>#}
			<p class="text-info">You must login to system to use Bookmarks</p>
		</div>
	</div>
	{% endif %}

	<div class="row " style="display: none" id="div_textarea_args">
		<div class="nsn_woo_ext_search_block_padding_sm">
			{#<button type="button" class="btn btn-sm btn-block">You must login to system to use Bookmarks</button>#}
			<textarea id="textarea_args" cols="50" rows="6"></textarea>
			<input id="input_products_count" value="" size="20" maxlength="100" >
		</div>
	</div>


{{ library.header_block_end("Filter Controls Block End") }}