{% macro show_next_product_info( nextProduct, fields_to_show, attrs_to_show, service_category_for_attrs_array, field_param ) %}

	<li class="post-{{ nextProduct['id'] }} ">
	{% if fields_to_show.title is defined and fields_to_show.title %}
		<h4 class="row nsn_woo_ext_search_woo_product_next_row site_content_subtitle">
			{% if fields_to_show.purchase_note is defined and fields_to_show.purchase_note and nextProduct['purchase_note'] != "" %}
				<span class="fa fa-info-circle pull-left" data-toggle="tooltip" data-placement="top" title="{{ nextProduct['purchase_note'] }}"></span>&nbsp;
			{% endif %}
			<a href="{{ nextProduct['guid'] }}" class="woo_products_title nsn_woo_ext_search_woo_products_field_value nsn_woo_ext_search_a_link">{{ nextProduct['id'] }}->{{ nextProduct['post_title'] }}</a>
		</h4>
	{% endif %}

	{% if fields_to_show.image is defined and fields_to_show.image  %}
		<div class="row nsn_woo_ext_search_woo_product_next_row">
			{% if fields_to_show.is_in_stock is defined and fields_to_show.is_in_stock and nextProduct['is_in_stock'] == 1 %}
			<div class="nsn_woo_ext_search_img_banner"  >
				<img src="{{ plugin_images }}in_stock.png">
			</div>
			{% endif %}

			<div class="next_image" >
				<a href="">
					<div class="nsn_woo_ext_search_image_border" style="background-image: url('{{ nextProduct['image_url'] }}'); width:180px; height:180px;"   id="spotlight_img_{{ nextProduct['id'] }}"></div>
				</a>
			</div>
		</div>
	{% endif %}

		{% for next_attr_to_show in attrs_to_show %}
			{% set is_field_used = false %}

			{% if next_attr_to_show['attr_name'] == "rating" and ( nextProduct.rating_average > 0 or nextProduct.comments_count > 0 ) %}
				<div class="row nsn_woo_ext_search_woo_product_next_row">
					<img src="{{ site_url }}/wp-content/plugins/woo-ext-search/images/stars/stars{{ nextProduct.rating_average }}.png" title="Rated {{ nextProduct.rating_average }} out of 5" class="pull-left">&nbsp;
					 &nbsp;(<span class="rating">{{ nextProduct.comments_count }}</span> customer reviews)
					{% set is_field_used = true %}
				</div>
			{% endif %}

			{% if next_attr_to_show['attr_name'] in fields_to_show | keys and is_field_used == false %}

				{% if nextProduct[next_attr_to_show['attr_name']]  is defined and nextProduct[next_attr_to_show['attr_name']]!= "" %}
				<div class="row nsn_woo_ext_search_woo_product_next_row">
					<span class="woo_products_label">{{ next_attr_to_show['attr_name'] | title }}:</span>
					<span class="woo_products_{{ next_attr_to_show['attr_name'] }} nsn_woo_ext_search_woo_products_field_value">
						{% set service_post_id='' %}
						{% for key_attr, next_service_category_for_attr in service_category_for_attrs_array %}
							{% if next_attr_to_show['attr_name'] == key_attr %}
								{% set attr_key_name = 'nsn-woo-ext-search-service_category_attr_' ~ next_attr_to_show.attr_name ~ '_' ~ ( nextProduct[next_attr_to_show.attr_name] | change_submit_key )
								%}
								{% if next_service_category_for_attr[attr_key_name] is defined %}
								{% set service_post_id= next_service_category_for_attr[attr_key_name] %}
   							    {% endif %}
							{% endif %}
						{% endfor %}
						{% if next_attr_to_show['show_attribute_link_to_post'] == 'yes' and service_post_id != ""%}
						<a class="nsn_woo_ext_search_a_link" href="{{ service_post_id | make_post_url }}">{{ nextProduct[ next_attr_to_show['attr_name'] ] }}</a>
						{% else %}
						{{ nextProduct[ next_attr_to_show['attr_name'] ] }}
						{% endif %}
					</span>
				</div>
				{% endif %}

			{% endif %}

		{% endfor %}


	{% if fields_to_show.post_date is defined and fields_to_show.post_date %}
		<div class="row nsn_woo_ext_search_woo_product_next_row">
			<span class="woo_products_label">{{ "Publication" | title }}:</span>
			<span class="woo_products_post_date nsn_woo_ext_search_woo_products_field_value">
				{{ nextProduct.post.post_date | date_time }}
			</span>
		</div>
	{% endif %}


	{% if fields_to_show.categories is defined and fields_to_show.categories %}
		<div class="row nsn_woo_ext_search_woo_product_next_row">
			<span class="woo_products_label">Categor{% if nextProduct['categories_list'] | length > 1 %}ies{% else %}y{% endif %}:</span>
			{% for next_category_title in nextProduct['categories_list']['ret_titles'] %}
			<span class="woo_products_categories nsn_woo_ext_search_woo_products_field_value">
				<a href="{{ nextProduct['categories_list']['ret_slugs'][loop.index0] | make_woo_product_category_url }}" class="nsn_woo_ext_search_a_link">{{ next_category_title }}</a>
				{% if not loop.last %}, {% endif %}
			</span>
			{% endfor %}
		</div>
	{% endif %}


	{% if ( fields_to_show.sale_price is defined and fields_to_show.sale_price ) or ( fields_to_show.regular_price is defined and fields_to_show.regular_price ) %}
		<div class="row nsn_woo_ext_search_woo_product_next_row">
			<span class="woo_products_label">Price:</span>

			<span class="woo_products_sale_price nsn_woo_ext_search_woo_products_field_value">
				{% if ( nextProduct['regular_price'] is defined and nextProduct['regular_price'] > 0 ) and ( fields_to_show.regular_price is defined and fields_to_show.regular_price ) %}
					{{ nextProduct['formatted_regular_price'] }}
				{% endif %}

				{% if ( nextProduct['regular_price'] is defined and nextProduct['regular_price'] > 0 ) and ( fields_to_show.regular_price is defined and fields_to_show.regular_price ) and ( nextProduct['sale_price'] is defined and nextProduct['sale_price'] >0 ) and ( fields_to_show.sale_price is defined and fields_to_show.sale_price ) %}
				&nbsp;-&nbsp;
				{% endif %}

				{% if ( nextProduct['sale_price'] is defined and nextProduct['sale_price'] > 0 ) and ( fields_to_show.sale_price is defined and fields_to_show.sale_price )%}
					{{ nextProduct['formatted_sale_price'] }}
				{% endif %}
			</span>

		</div>
	{% endif %}


		{% if fields_to_show.is_in_stock is defined and fields_to_show.is_in_stock  %}
			<div class="row nsn_woo_ext_search_woo_product_next_row">
				<span class="woo_products_label">In Stock:</span>
			<span class="woo_products_is_in_stock nsn_woo_ext_search_woo_products_field_value">
				{% if nextProduct['is_in_stock'] %}Yes{% else %}No{% endif %}
			</span>
			</div>
		{% endif %}



		{% if fields_to_show.tags is defined and fields_to_show.tags and nextProduct['tags_list'] is defined and nextProduct['tags_list'] | length > 0 %}
			<div class="row nsn_woo_ext_search_woo_product_next_row">
				<span class="woo_products_label">Tags:</span>
				{% for next_tag in nextProduct['tags_list'] %}
					<span class="woo_products_tags nsn_woo_ext_search_woo_products_field_value">
						{{ next_tag.name }}{% if not loop.last %}, {% endif %}
					</span>
				{% endfor %}
			</div>
		{% endif %}


	</li>

{% endmacro %}  {# show_next_product_info END #}

<span id="nsn_woo_ext_search_product_title">&nbsp;</span>
<h2 class="site_content_title "><center>
	{% if products_list | length == 0 %}
		No products found</span>
    {% else %}
		Found {{ total_products_count }} Product{% if total_products_count > 1 %}s{% endif %}
		{% if total_products_count != products_list | length %}
			({{ products_list | length }} product{% if products_list | length > 1 %}s{% endif %} on  page {{ page }})
		{% endif %}
	{% endif %}
	</center>
</h2>

<div class="row nsn_woo_ext_search_woo_product_next_row">
{% for nextProduct in products_list %}
	<div class="row nsn_woo_ext_search_woo_product_next_row col-xs-12 col-sm-6">
		<div class="nsn_woo_ext_search_next_woo_product">
			<ul class="nsn_woo_ext_search_ul_multiline">

            <span class="visible-xs">
	            {{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, service_category_for_attrs_array, "_xs" ) }}
	        </span>
	        <span class="visible-sm">
	            {{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, service_category_for_attrs_array, "_sm" ) }}
	        </span>
	        <span class="visible-md">
	            {{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, service_category_for_attrs_array, "_md" ) }}
	        </span>
	        <span class="visible-lg">
	            {{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, service_category_for_attrs_array, "_md" ) }}
	        </span>

			</ul>

		</div>
	</div>
{% endfor %}
</div>

{% if navigationHTML != "" %}
<div class="row nsn_woo_ext_search_block_padding_sm">
	{{ navigationHTML }}
</div>
{% endif %}
