<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>working-hostel</title>
</head><body>{% extends "plain/base.twig" %}<br/>
{# % block title %}Hostel Title{% endblock title % #}<br/>
{% block content %}<br/>
&nbsp; &nbsp; {#<br/>
&nbsp; &nbsp; http://local-hostels-tours.com/hostel/new-south-wales/hunter-central-north-coasts/central-coast-region/jonos-hostel-1<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="{{ base_root_url}/resources/css/commonHT.css"&gt;<br/>
&nbsp; &nbsp; &lt;link rel="stylesheet" href="{{ base_root_url}/resources/css/detailsHT.css"&gt; #}<br/>
<br/>
<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="{{ base_url }}static/js/jquery/jquery.cookie.js"&gt;&lt;/script&gt;<br/>
&nbsp; &nbsp; &lt;script type="text/javascript" src="{{ base_url }}static/js/jquery/jquery.raty.min.js"&gt;&lt;/script&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;script type="text/javascript"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUlP_JEwA9gAFkCeNC43P3NZYe8cISg54&amp;sensor=true"&gt;<br/>
&nbsp; &nbsp; &lt;/script&gt;<br/>
<br/>
&lt;script type="text/javascript"&gt;<br/>
<br/>
&nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; load_customer_reviews();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#stars_rating_type_id').raty({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; score: 0,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; starOff: '{{ base_root_url }}/{{ images_dir }}/{{ current_skin_name }}/star-off.png',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; starOn: '{{ base_root_url }}/{{ images_dir }}/{{ current_skin_name }}/star-on.png',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancel: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelPlace: 'right',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelOff: '{{ base_root_url }}/{{ images_dir }}/{{ current_skin_name }}/cancel-off.png',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; cancelOn: '{{ base_root_url }}/{{ images_dir }}/{{ current_skin_name }}/cancel-on.png'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var Addr = encodeURIComponent('Australia ' + ' ' + '{{ Hostel.postal_code }}' + ' ' + '{{ Hostel.town }}' + ' ' + '{{ Hostel.street_addr }}');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = '{{ base_root_url }}/geocode.php?addr=' + Addr;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var results = data['results']<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var geometry = results[0].geometry<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var location = geometry.location<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; InitializeMap(location.lat, location.lng, Addr)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; });<br/>
<br/>
&nbsp; &nbsp; function load_customer_reviews() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}hostels/load_customer_reviews/hostel_id/{{ Hostel.id }}"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( HRef )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;// alert( var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#div_reviews_list").html(data);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function NewReview(hostel_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_full_name").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_email_inquired").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_review").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#stars_rating_type_id').raty('score', 0);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_dialog").modal({ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;// wire up the actual modal functionality and show the dialog<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // ensure the modal is shown immediately<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function HostelNewReviewDialogOk() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_review_full_name = $("#hostel_new_review_full_name").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_review_full_name == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your full name !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_review_full_name').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_review_email_inquired = $("#hostel_new_review_email_inquired").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_review_email_inquired == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_review_email_inquired').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (!CheckEmail(hostel_new_review_email_inquired)) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter valid email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_review_email_inquired').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_review_review = $("#hostel_new_review_review").val()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_review_review == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your Review !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_review_review').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var stars_rating_type_id = $('#stars_rating_type_id').raty('score');<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}hostels/insert_hostel_review"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var DataArray = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "hostel_id": {{ Hostel.id }},<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "email_inquired": encodeURIComponent(hostel_new_review_email_inquired),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "full_name": encodeURIComponent(hostel_new_review_full_name),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "review": encodeURIComponent(hostel_new_review_review),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "stars_rating_type_id": encodeURIComponent(stars_rating_type_id),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 'csrf_test_name': $.cookie('csrf_cookie_name')<br/>
&nbsp; &nbsp; };<br/>
&nbsp; &nbsp; jQuery.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; data: DataArray,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; success: onInsertedHostelReview,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; dataType: "json"<br/>
&nbsp; &nbsp; });<br/>
&nbsp; &nbsp; } // function HostelNewReviewDialogOk() {<br/>
&nbsp; &nbsp; function onInsertedHostelReview(data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode != 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert(data.ErrorMessage)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_dialog").modal('hide');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_full_name").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_email_inquired").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_review_review").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#stars_rating_type_id').raty('score', 0);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; load_customer_reviews();<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; /////////////////////////////<br/>
&nbsp; &nbsp; function NewHostelEnquiry(hostel_id, hostel_name, hostel_short_descr) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_full_name").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_email").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_extro_info").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_phone").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_start_date").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_end_date").val("")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#hostel_new_enquiry_request_callback").prop('checked', false);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#span_hostel_new_enquiry_hostel_name").html(hostel_name)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_hostel_new_enquiry_hostel_short_descr").html(hostel_short_descr)<br/>
<br/>
// &nbsp; &nbsp; &nbsp; &nbsp;$("#span_hostel_new_enquiry_hostel_name").html( htmlspecialchars_decode(data.hostel['name']) )<br/>
// &nbsp; &nbsp; &nbsp; &nbsp;$("#div_hostel_new_enquiry_hostel_short_descr").html( htmlspecialchars_decode(data.hostel['short_descr']) )<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_start_date').datepicker( {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; format: 'mm-dd-yyyy', &nbsp; // March 25, 2012 12:39PM<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; startDate: '+3d'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_end_date').datepicker( {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; format: 'mm-dd-yyyy', &nbsp; // March 25, 2012 12:39PM<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; startDate: '+3d'<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } );<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_add_hostel_inquery").modal({ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;// wire up the actual modal functionality and show the dialog<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "backdrop": "static",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "keyboard": true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "show": true &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // ensure the modal is shown immediately<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function HostelNewEnquiryDialogOk() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_full_name = $("#hostel_new_enquiry_full_name").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_full_name == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your full name !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_full_name').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_email = $("#hostel_new_enquiry_email").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_email == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_email').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (!CheckEmail(hostel_new_enquiry_email)) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter valid email!")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_email').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_extro_info = $("#hostel_new_enquiry_extro_info").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_phone = $("#hostel_new_enquiry_phone").val()<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_start_date = $("#hostel_new_enquiry_start_date").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_start_date == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your Check-In Date !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_start_date').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_end_date = $("#hostel_new_enquiry_end_date").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (hostel_new_enquiry_end_date == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Enter your Check-Out Date !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#hostel_new_enquiry_end_date').focus();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var hostel_new_enquiry_request_callback = $("#hostel_new_enquiry_request_callback").is(':checked')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; hostel_new_enquiry_request_callback = ( &nbsp;hostel_new_enquiry_request_callback ? "Y" : "N" )<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}hostels/insert_hostel_inquery"<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var DataArray = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "hostel_id": {{ Hostel.id }},<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "email": encodeURIComponent(hostel_new_enquiry_email),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "phone": encodeURIComponent(hostel_new_enquiry_phone),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "full_name": encodeURIComponent(hostel_new_enquiry_full_name),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "start_date": encodeURIComponent(hostel_new_enquiry_start_date),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "end_date": encodeURIComponent(hostel_new_enquiry_end_date),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "extro_info": encodeURIComponent(hostel_new_enquiry_extro_info),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "request_callback": hostel_new_enquiry_request_callback,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 'csrf_test_name': $.cookie('csrf_cookie_name')<br/>
&nbsp; &nbsp; };<br/>
&nbsp; &nbsp; // alert( var_dump(DataArray) )<br/>
&nbsp; &nbsp; jQuery.ajax({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; url: HRef,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; type: "POST",<br/>
&nbsp; &nbsp; &nbsp; &nbsp; data: DataArray,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; success: onInsertedHostelInquery,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; dataType: "json"<br/>
&nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
&nbsp; &nbsp; function onInsertedHostelInquery(data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "onInsertedHostelInquery::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode != 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert(data.ErrorMessage)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; alert("Your Booking Enquiry was created and email was sent to operator of this Hostel !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_add_hostel_inquery").modal('hide');<br/>
&nbsp; &nbsp; }<br/>
&nbsp; &nbsp; ///////////////////////////////////////<br/>
<br/>
&nbsp; &nbsp; function InitializeMap(lat, lng, Addr) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var mapOptions = {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; center: new google.maps.LatLng(lat, lng),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; zoom: 14/*16*/,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mapTypeId: google.maps.MapTypeId.ROADMAP // HYBRID<br/>
&nbsp; &nbsp; &nbsp; &nbsp; };<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var map = new google.maps.Map(document.getElementById("hostel_map"),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mapOptions);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; marker = new google.maps.Marker({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; position: new google.maps.LatLng(lat, lng),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; draggable: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; title: Addr,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; map: map<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function FieldOnFocus(FieldName) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; FieldValue = "Search for a State, City...";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var S = $("#" + FieldName).val();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ($.trim(S) == FieldValue) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#" + FieldName).val("");<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery('#ml_email').css('color', '#000000');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function FieldOnBlur(FieldName) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; FieldValue = "Search for a State, City...";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var S = $("#" + FieldName).val();<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if ($.trim(S) == "") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#" + FieldName).val(FieldValue);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function onChange_select_search_state() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var state_id = $("#select_search_state option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_regions_list_by_state_id/state-id/" + state_id + "/format/html";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#select_search_region").html(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#select_search_region").selectpicker('refresh');<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function SearchOnClick() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var state = $.trim($("#search_hostel_field").val())<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (state != "" &amp;&amp; state != "Search for a State, City...") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; document.location = "{{ base_url }}hostels/search_hostels_by_state/state/" + state<br/>
&nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var state_id = $("#select_search_state option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var region_id = $("#select_search_region option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (state_id == '' || region_id == '') {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert("Select state and region !")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#select_search_state").focus()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef_1 = "{{ base_url }}hostels/get_state_region_slugs/state-id/" + state_id + "/region-id/" + region_id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef_1, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}hostels/search_hostels_by_region" + '/state-name/' + data.state_slug + "/state-id/" + state_id + '/region-name/' + data.region_slug + "/region-id/" + region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; document.location = HRef<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function image_selected( filesize_label, short_name, &nbsp;original_width, &nbsp;original_height ) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "image_selected &nbsp;short_name::"+short_name )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#div_image_selected").html( short_name+","+filesize_label +" size:"+ original_width+"*"+ original_height )<br/>
&nbsp; &nbsp; }<br/>
<br/>
&lt;/script&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; {#<br/>
&lt;section id="breadcrumbs-pane"&gt;<br/>
&nbsp; &nbsp; &lt;div class="container"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;ol class="breadcrumb row"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}"&gt;Home&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="{{ base_url }}hostels/search_hostels_by_state"&gt;Hostels&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a&gt;{{ Hostel.name }}&lt;/a&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/ol&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
&lt;/section&gt; &nbsp; &nbsp; &nbsp;#}<br/>
<br/>
&lt;!-- END breadcrumbs bar --&gt;<br/>
<br/>
<br/>
&lt;div class="row"&gt; &nbsp;&lt;!-- Hostel View Page start --&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;!-- left search pane start --&gt;<br/>
&nbsp; &nbsp; &lt;div id="div_search_hostels_left_box_forsearch" class="col-xs-12 col-sm-4 col-md-3"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; {% include '/plain/hostel/search_hostels_left_box_forsearch.twig' %}<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;!-- left search pane start --&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp;&lt;div id="div_details_content" class="col-xs-12 col-sm-8 col-md-9"&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class=""&gt; &lt;!-- Right column with Hostel fields start--&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="hostel_title"&gt;{{ Hostel.id }}-&gt;{{ Hostel.name }}&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="hostel_text"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{ Hostel.street_addr }} {{ Hostel.town }}, {{ Hostel.region_name }}, {{ Hostel.subregion_name }}, Australia<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="{url_with_prefix url=Hostel.website}"&gt;{{ Hostel.website }}&lt;/a&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div&gt;&lt;img src="{{ base_root_url }}/{{ images_dir }}/{{ current_skin_name }}/stars/stars{{ Hostel.reviews_avg_rating }}.png"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span&gt;from {{ Hostel.reviews_count }} review{% if Hostel.reviews_count == 1 %}{% else %}s{% endif %}&lt;/span&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;article class="hostel_long_text"&gt;{{ Hostel.descr|nl2br|stripslashes |raw}}&lt;/article&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="#tabs_useful_information"&gt;+ Read More&lt;/a&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;ul class="text-left"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set rooms_from_array = Hostel.rooms_from_array %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% for next_rooms_from in rooms_from_array %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li class="hostel_text"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="hostel_text"&gt;{{ next_rooms_from.room_name }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="hostel_value"&gt;AU{{ next_rooms_from.price }}&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt; &lt;!-- &lt;div class=""&gt; --&gt; &lt;!-- Right column with Hostel fields End--&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="div_sep"&gt;&lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class=""&gt; &nbsp;&lt;!-- Left column with images start--&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="div_images_list"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{# &lt;div class="img" style="background-image: url('{{ Hostel.default_image }}')"&gt;&lt;/div&gt; &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set images_list = Hostel.images_list.items %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{#Hostel.images_list::{{ dump(Hostel.images_list) }} &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set max_width = Hostel.images_list.max_width %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{# max_width::{{ dump(max_width) }} &nbsp;#}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set max_height = Hostel.images_list.max_height %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{# max_height::{{ dump(max_height) }} &nbsp; &nbsp; #}<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="carousel slide article-slide" id="article-photo-carousel" style="margin-bottom: 150px; "&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;!-- Wrapper for slides --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="carousel-inner cont-slider"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set is_first = true %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% for next_image in images_list %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="item {% if is_first %}active{% endif %}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="{{ next_image.url }}" style="cursor: pointer;" target="_blank"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;img alt="" title="" src="{{ next_image.url }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set is_first = false %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="div_image_selected" style="border: 1px solid brown;height: 80px;"&gt;&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;!-- Indicators --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;ol class="carousel-indicators" style="margin-top: 80px; margin-bottom: -150px; &nbsp; &nbsp; border: 2px solid #0000ff;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set is_first = 0 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% for next_image in images_list %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li class="{% if is_first == 0 %}active{% endif %}" data-slide-to="{{ is_first }}" data-target="#article-photo-carousel" style="border:1px solid red; width:{{ next_image.width }}px; height:{{ next_image.height }}px; display: block;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;img alt="" src="{{ next_image.url }}" width="{{ next_image.width }}px" height="{{ next_image.height }}px" style="border:1px solid yellow;" onclick="javascript:image_selected( '{{ next_image.filesize_label }}', &nbsp;'{{ next_image.short_name }}', &nbsp;'{{ next_image.original_width }}', &nbsp;'{{ next_image.original_height }}' );"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% set is_first = is_first + 1 %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/ol&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt; &lt;!-- &lt;div class="div_images_list"&gt; --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div &gt; &nbsp; &nbsp; {# hostel_id, hostel_name, hostel_short_descr #}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;button onclick="javascript:NewHostelEnquiry({{ Hostel.id }}, '{{ Hostel.name | addslashes }}', '{{ Hostel.short_descr | addslashes }}' )" class="grey" data-toggle="modal" href="#hostel_new_enquiry_dialog"&gt;Booking enquiry&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{# distributor_account_shortname_account::&lt;br&gt;{{ distributor_account_shortname_account }} #}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% if distributor_account_shortname_account is not empty and Hostel.exl_psn is not empty &nbsp;%}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="http://www.au.v3travel.com/CABS2/DiscoveryServices/ProviderAvailability.aspx?exl_dn={{ distributor_account_shortname_account }}&amp;exl_psn={{ Hostel.exl_psn }}&amp;exl_dof=14&amp;exl_vm=+031" target="_blank"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;button class="red" &nbsp;&gt;Book now&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endif %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt; &lt;!-- &lt;div class=""&gt; &nbsp;--&gt; &nbsp;&lt;!-- Left column with images start--&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% include '/plain/hostel/hostel_extra_details.twig' %}<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="div_sep"&gt;&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;!-- facilities Block Start --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="div_facilities_list" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="hostel_title"&gt;Hostel Facilities&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;ul class="hostel_text text-left" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% for next_HostelFacility in HostelFacilitiesList %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li class="col-xs-12 col-sm-6 col-md-3"&gt;&lt;span&gt;{{ next_HostelFacility.facility_name }}&lt;/span&gt;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;!-- facilities Block End--&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="div_sep"&gt;&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="div_information_info" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="hostel_title"&gt;Useful Information&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="col-xs-12"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;ul class="nav nav-tabs" id="tabs_useful_information"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li class="active"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="#tab_about_us" data-toggle="tab"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="hostel_title"&gt;About Us&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="#tab_cancellation_policy" data-toggle="tab"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="hidden-xs hostel_title"&gt;Cancellation Policy&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="visible-xs hostel_title"&gt;Cancellation&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="#tab_hostel_policy" data-toggle="tab"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="hidden-xs hostel_title"&gt;Hostel Policy&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;span class="visible-xs hostel_title"&gt;Hostel&lt;/span&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/li&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/ul&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="tab_useful_information-content"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="tab_about_us" class=" active col-xs-12"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;article class="hostel_long_text"&gt;{{ Hostel.about_us|nl2br|stripslashes | raw}}&lt;/article&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="tab_cancellation_policy" class=" col-xs-12"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;article class="hostel_long_text"&gt;{{ Hostel.cancellation_policy|nl2br|stripslashes | raw }}&lt;/article&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="tab_hostel_policy" class=" col-xs-12 text-left"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;article class="hostel_long_text"&gt;{{ Hostel.must_read_information|nl2br|stripslashes | raw }}&lt;/article&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="location" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;h4 class="hostel_title"&gt;Our Location&lt;/h4&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;h5 class="hostel_text"&gt;{{ Hostel.street_addr }} {{ Hostel.town }}, {{ Hostel.region_name }}&lt;/h5&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div id="hostel_map" style="width:100%; height:100%"&gt;&lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="col-xs-12 col-sm-7 hostel_title" style="margin-top: 10px;"&gt;Customer Reviews&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="col-xs-12 col-sm-5 hostel_text"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;a href="javascript:NewReview({{ Hostel['id'] }})"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;button class="pull-right grey" data-toggle="modal" href="#hostel_new_review_dialog"&gt;Write a review&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;div class="col-xs-12" id="div_reviews_list"&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div id="div_details_content" "&gt; --&gt;<br/>
<br/>
&lt;/div&gt; &nbsp;&lt;!-- &nbsp;&lt;div class="row"&gt; --&gt; &lt;!-- Hostel View Page end --&gt;<br/>
<br/>
{% include '/plain/hostel/add_hostel_inquery.twig' %}<br/>
{% include '/plain/hostel/hostel_new_review.twig' %}<br/>
{#include 'hostel_new_enquiry.tpl' base_url=base_url Hostel=Hostel#}<br/>
{#include 'hostel_new_review.tpl' base_url=base_url Hostel=Hostel#}<br/>
&lt;div id="underlay-img" style="display: none;"&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;&lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;a&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;a&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;button class="red"&gt;close&lt;/button&gt;<br/>
&lt;/div&gt;<br/>
<br/>
{% endblock content %}<br/>
<br/>
</body></html>