<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Resonsive Testing</title>
</head><body>&nbsp; &nbsp; /* iPhone portrait 320 x 480 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_xs_479.css" media="only screen and (max-width: 479px)" /&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp;/* iPhone landscape 480 x 320 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_xs_599.css" media="only screen and (min-width: 480px) and (max-width: 599px)" /&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp;/* Kindle portrait 600 x 1024 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_xs_767.css" media="only screen and (min-width: 600px) and (max-width: 767px)" /&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp;/* iPad portrait 768 x 1024 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_sm.css" media="only screen and (min-width: 768px) and (max-width: 1023px)" /&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp;/* iPad landscape 1024 x 768 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_md.css" media="only screen and (min-width: 1024px) and (max-width: 1279px)" /&gt;<br/>
&nbsp; &nbsp;<br/>
&nbsp; &nbsp;/* Macbook 1280 x 800 */<br/>
&nbsp; &nbsp;&lt;link rel="stylesheet" type="text/css" href="{{ base_url }}static/css/{{ current_skin_name }}/style_lg.css" media="only screen and (min-width: 1280px)" /&gt;<br/>
<br/>
http://deviceponsive.com/?url=http%3A%2F%2Fdev4.softreactor.com%2F<br/>
<br/>
<b>xs</b>&nbsp;:<br/>
&nbsp; &nbsp; &nbsp;iPhone portrait 320 x 480<br/>
&nbsp; &nbsp; &nbsp;iPhone landscape 480 x 320<br/>
&nbsp; &nbsp; &nbsp;Kindle portrait 600 x 1024<br/>
&nbsp; &nbsp; &nbsp;Galaxy-y portrait 240 x 320<br/>
&nbsp; &nbsp; &nbsp;Galaxy-y landscape 320 x 240<br/>
<b>sm</b>&nbsp;:<br/>
&nbsp; &nbsp; &nbsp;iPad portrait 768 x 1024<br/>
<b>md</b>&nbsp;: <br/>
&nbsp; &nbsp; &nbsp;iPad landscape 1024 x 768<br/>
&nbsp; &nbsp; &nbsp;Kindle landscape 1024 x 600 <br/>
<br/>
<b>lg :<br/>
</b>&nbsp; &nbsp; &nbsp;Macbook 1280 x 800<br/>
<br/>
<br/>
In chrome :<br/>
xs 320 : 320 x 480<br/>
xs 480 landscape : 480 x 320<br/>
<b>xs </b>600 big Kindle : 600 x 1024<br/>
<br/>
<b>sm</b>&nbsp;768 iPad : 768 x 1024<br/>
<br/>
md 1024 iPad landscape : 1024 x 768<br/>
<b>md</b>&nbsp;1024 Kindle landscape : 1024 x 600<br/>
<br/>
<b>lg</b>&nbsp;1280 Macbook : 1280 x 800<br/>
<br/>
<br/>
<br/>
</body></html>