<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>invalid</title>
</head><body>&lt;div class="cal-month-day &lt;%= cls %&gt;"&gt;<br/>
&#09;&lt;span class="pull-right" data-cal-date="&lt;%= data_day %&gt;" data-cal-view="day" data-toggle="tooltip" title="&lt;%= tooltip %&gt;"&gt;&lt;%= day %&gt;&lt;/span&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;% if( new Date(data_day) &gt;= &nbsp;new Date() ) {%&gt;<br/>
&nbsp; &nbsp; &amp;nbsp;&lt;a href="/hostels/add_hostel_inquery" title="Add Hostel Inquery" target="_blank"&gt;&lt;span class="glyphicon glyphicon-home"&gt;+&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &lt;% }; %&gt;<br/>
<br/>
&nbsp; &nbsp; &lt;% if( new Date(data_day) &gt;= &nbsp;new Date() ) {%&gt;<br/>
&nbsp; &nbsp; &lt;br&gt;&amp;nbsp;&lt;a href="/tours/add_tour_inquery" title="Add Tour Inquery" target="_blank"&gt;&lt;span class="glyphicon glyphicon-film"&gt;+&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &lt;% }; %&gt;<br/>
<br/>
<br/>
<br/>
&#09;&lt;% if (events.length &gt; 0) { %&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% var request_callback = false; %&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% _.each(events, function(event) { %&gt;<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;% if( event['class'] == 'event-special' ) { %&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;% request_callback = true; %&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;% } %&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% }); %&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% alert( "event::"+var_dump(event) ) %&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% if( request_callback &amp;&amp; new Date(data_day) &gt;= &nbsp;new Date() ) {%&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&lt;br&gt;&amp;nbsp;&lt;a onclick="javascript:answer_to_callback( '&lt;%= event["id"] %&gt;' ); return false;" title="Answer to callback" style="cursor: pointer"&gt;&lt;span class="glyphicon glyphicon-earphone"&gt;+&lt;/span&gt;&lt;/a&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;% }; %&gt;<br/>
<br/>
&#09;&#09;&lt;div class="events-list" data-cal-start="&lt;%= start %&gt;" data-cal-end="&lt;%= end %&gt;"&gt;<br/>
&#09;&#09;&#09;&lt;% _.each(events, function(event) { %&gt;<br/>
&#09;&#09;&#09;&lt;% //alert( var_dump(event) ) %&gt;<br/>
&#09;&#09;&#09;&#09;&lt;a href="&lt;%= event.url ? event.url : 'javascript:void(0)' %&gt;" data-event-id="&lt;%= event['id'] %&gt;" data-event-class="&lt;%= event['class'] %&gt;"<br/>
&#09;&#09;&#09;&#09;&#09;class="pull-left event &lt;%= event['class'] %&gt;" data-toggle="tooltip"<br/>
&#09;&#09;&#09;&#09;&#09;title="&lt;%= event.title %&gt;"&gt;&lt;/a&gt;<br/>
&#09;&#09;&#09;&lt;% }); %&gt;<br/>
&#09;&#09;&lt;/div&gt;<br/>
&#09;&lt;% } %&gt;<br/>
&lt;/div&gt;<br/>
</body></html>