<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>application/views/plain/admin/hostel/hostelstep1.twig</title>
</head><body>{% extends "plain/admin/base.twig" %}<br/>
<br/>
{% block content %}<br/>
<br/>
&nbsp; &nbsp; &lt;script type="text/javascript"&gt;<br/>
<br/>
&nbsp; &nbsp; jQuery(document).ready(function ($) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $(".has-error").bind('change keypress', function () {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $(this).removeClass("has-error");<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //HostelFacilitysLoad()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; /* $(".fancybox-button").fancybox({<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;prevEffect: 'none',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;nextEffect: 'none',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;closeBtn: true,<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;openEffect: 'none',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;closeEffect: 'none',<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;helpers: {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;title: { type: 'inside' },<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;buttons:<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}); &nbsp;*/<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // DisableRoomTypes()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#name").focus()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; onChange_state_id('{{ Hostel.region_id }}', '{{ Hostel.subregion_id }}')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; postal_codeOnChange()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "after onChange_state_id::"+var_dump(1) )<br/>
&nbsp; &nbsp; });<br/>
<br/>
<br/>
&nbsp; &nbsp; function onChange_state_id(p_current_region_id, p_current_subregion_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert( "onChange_state_id p_current_region_id::"+p_current_region_id+" &nbsp;p_current_subregion_id::" + p_current_subregion_id )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var state_id = $("#state_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (current_region_id == "" &amp;&amp; typeof p_current_region_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_region_id = p_current_region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_regions_list_by_state_id/state-id/" + state_id + "/format/html/current-region-id/" + current_region_id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "data::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#region_id").html(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html('&lt;option value=""&gt;Select an Area&lt;/option&gt;')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; onChange_region_id(p_current_subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
&nbsp; &nbsp; function onChange_region_id(p_current_subregion_id, p_current_region_id) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var current_subregion_id = $("#subregion_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert( "onChange_region_id current_subregion_id::"+current_subregion_id + " &nbsp;p_current_subregion_id::"+p_current_subregion_id + " &nbsp;+ region_id::"+region_id )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (current_subregion_id == "" &amp;&amp; typeof p_current_subregion_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; current_subregion_id = p_current_subregion_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (region_id == "" &amp;&amp; typeof p_current_region_id != "undefined") {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; region_id = p_current_region_id<br/>
&nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}main/get_subregions_list_by_region_id/region-id/" + region_id + "/format/html/current-subregion-id/" + current_subregion_id;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert( "get_subregions_list_by_region_id::"+var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode == 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html(data.html)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //onChange_region_id()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function postal_codeOnChange(is_init) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var postal_code = $('#postal_code').val().trim()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; if (postal_code == "") return;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = '{{ base_url }}admin/hostel/get_location_by_postcode/postcode/' + postal_code;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.ErrorCode &gt; 0) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; alert(data.ErrorMessage)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#state_id').val(data.state_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#region_id').val(data.region_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#subregion_id').val(data.subregion_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //onChange_state_id(data.region_id)<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var regionOptionsAsString = '&lt;option value=""&gt; -Select Region- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( 'data.regions_list_count::'+data.regions_list_count )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.regions_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SelectedItem = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.region_id == data.regions_list[i]['region_id']) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SelectedItem = ' selected';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "Selected Region data.region_id ::" + data.region_id + " &nbsp; &nbsp; &nbsp;: &nbsp; "+ var_dump( data.regions_list[i] ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "i::"+i+" &nbsp;: &nbsp;"+var_dump(data.regions_list[i]) );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; regionOptionsAsString += "&lt;option value='" + data.regions_list[i]['region_id'] + "' " + SelectedItem + " &gt;" + data.regions_list[i]['region_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert("regionOptionsAsString::"+regionOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#region_id").html(regionOptionsAsString);<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.suburb_list_count == 1) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#town').val(data.suburb_list[0]['suburb_name'])<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_select_suburb_id").css("display", "none")<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#select_suburb_id").empty()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SuburbOptionsAsString = '&lt;option value=""&gt; -Select Suburb- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.suburb_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SuburbOptionsAsString += "&lt;option value='" + data.suburb_list[i]['suburb_name'] + "'&gt;" + data.suburb_list[i]['suburb_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // alert("SuburbOptionsAsString::"+SuburbOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('select[name="select_suburb_id"]').append(SuburbOptionsAsString);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#span_select_suburb_id").css("display", "block")<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (!is_init) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#town').val('')<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var region_id = $("#region_id option:selected").val()<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "BEFORE region_id::" +region_id )<br/>
<br/>
<br/>
// &nbsp; &nbsp;onChange_region_id(data.subregion_id, data.region_id)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SubregionOptionsAsString = '&lt;option value=""&gt; -Select Subregion- &lt;/option&gt;';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( 'data.subregions_list_count::'+data.subregions_list_count )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; for (var i = 0; i &lt; data.subregions_list_count; i++) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var SelectedItem = '';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (data.subregion_id == data.subregions_list[i]['subregion_id']) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SelectedItem = ' selected';<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "Selected Subregion data.subregion_id ::" + data.subregion_id + " &nbsp; &nbsp; &nbsp;: &nbsp; "+ var_dump( data.subregions_list[i] ) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( "i::"+i+" &nbsp;: &nbsp;"+var_dump(data.subregions_list[i]) );<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SubregionOptionsAsString += "&lt;option value='" + data.subregions_list[i]['subregion_id'] + "' " + SelectedItem + " &gt;" + data.subregions_list[i]['subregion_name'] + "&lt;/option&gt;";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert("SubregionOptionsAsString::"+SubregionOptionsAsString)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //$('select[name="select_subregion_id"]').html($(SubregionOptionsAsString));<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $("#subregion_id").html(SubregionOptionsAsString);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function select_suburb_idOnChange() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $('#town').val($('#select_suburb_id').val())<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function ViewonGoogleMap() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var Addr = encodeURIComponent('Australia ' + ' ' + $('#postal_code').val() + ' ' + $('#town').val() + ' ' + $('#street_addr').val());<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = '{{ base_url }}geocode.php?addr=' + Addr;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; //alert(HRef)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.getJSON(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //alert( var_dump(data) )<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var results = data['results']<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var geometry = results[0].geometry<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var location = geometry.location<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ShowGoogleMap(location.lat, location.lng, Addr)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function ShowGoogleMap(lat, lng, Addr) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var screen_popup_width_indent = 50<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var screen_popup_height_indent = 60<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var H = screen.availHeight - screen_popup_height_indent;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var W = screen.availWidth - screen_popup_width_indent;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var TopCoord = screen_popup_height_indent / 2<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var LeftCoord = screen_popup_width_indent / 2<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var naProps = window.open("{{ base_url }}admin/hostel/show_map/addr/" + encodeURIComponent(Addr) + "/lat/" + encodeURIComponent(lat) + "/lng/" + encodeURIComponent(lng),<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "ShowGoogleMap", "status=no,modal=yes,scrollbars=yes,width=" + W + ",height=" + H + ",left=" + LeftCoord + ", top=" + TopCoord);<br/>
&nbsp; &nbsp; }<br/>
<br/>
&nbsp; &nbsp; function HostelFacilitysLoad() {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var HRef = "{{ base_url }}admin/hostel/load_hostel_facilitys/form_status/edit/CheckedFacilitiesArray/";<br/>
&nbsp; &nbsp; &nbsp; &nbsp; // alert( HRef &nbsp;)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $.get(HRef, function (data) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $('#div_LoadedFacilitys').html(data);<br/>
&nbsp; &nbsp; &nbsp; &nbsp; });<br/>
&nbsp; &nbsp; }<br/>
<br/>
<br/>
&nbsp; &nbsp; function onSubmit(IsReopen) {<br/>
&nbsp; &nbsp; &nbsp; &nbsp; var theForm = $("#form_hostelstep1");<br/>
&nbsp; &nbsp; &nbsp; &nbsp; $("#is_reopen").val(IsReopen)<br/>
&nbsp; &nbsp; &nbsp; &nbsp; theForm.submit();<br/>
&nbsp; &nbsp; }<br/>
&lt;/script&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &lt;div class="row centered-form"&gt; &lt;!-- hostelstep1 List Block Start --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel panel-default"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-heading"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="h3" class="panel-title"&gt;Hostel Management-&gt;New Hostel&lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="panel-body"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;form role="form" class="form-horizontal" action="{{ base_url }}admin/hostel/hostelstep1" method="post" accept-charset="utf-8" id="form_hostelstep1" name="form_hostelstep1" &nbsp;enctype="multipart/form-data"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="hidden" name="{{ csrf_token_name }}" value="{{ csrf_token_hash }}" /&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="row"&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.progress_bar(1, base_url) }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if validation_errors_text != "" %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="error " style="margin-bottom: 20px;"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ validation_errors_text|raw }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endif %}<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group {{ set_field_error_tag("name", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="name" class="col-xs-12 col-sm-4 control-label"&gt;Name&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="name" id="name" class="form-control" value="{% if Hostel != "" %}{{ Hostel.name }}{% endif %}" size="30" maxlength="100" placeholder="Name of Hostel. Must be unique in system" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.header_block_start("Location", "", "", 12, 12, 12) }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("postal_code", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="postal_code" class="col-xs-12 col-sm-4 control-label"&gt;Postal Code&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8 "&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="postal_code" id="postal_code" class="form-control" &nbsp;value="{% if Hostel != "" %}{{ Hostel.postal_code }}{% endif %}" size="4" maxlength="4" placeholder="Postal Code is 4 digits" onchange="javascript:postal_codeOnChange(false)" &gt;&lt;small&gt;ex: "5555"&lt;/small&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("state_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="state_id" class="col-xs-12 col-sm-4 control-label"&gt;State&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8 "&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control" name="state_id" id="state_id" onchange="javascript:onChange_state_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextState in StateValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextState.key }}" {% if Hostel.state_id== nextState.key %} selected {% endif %}&gt;{{ nextState.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;&lt;small&gt;&amp;nbsp;&lt;/small&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("region_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="region_id" class="col-xs-12 col-sm-4 control-label"&gt;Region&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control" name="region_id" id="region_id" onchange="javascript:onChange_region_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextRegion in RegionValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextRegion.key }}" {% if Hostel.region_id== nextRegion.key %} selected {% endif %}&gt;{{ nextRegion.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("subregion_id", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="subregion_id" class="col-xs-12 col-sm-4 control-label"&gt;Area&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select class="form-control " name="subregion_id" id="subregion_id" onchange="javascript:onChange_subregion_id()"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% for nextSubregion in SubregionValueArray %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;option value="{{ nextSubregion.key }}" {% if Hostel.subregion_id== nextSubregion.key %} selected {% endif %}&gt;{{ nextSubregion.value }}&lt;/option&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% endfor %}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("town", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="town" class="col-xs-12 col-sm-4 control-label"&gt;Suburb&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="town" id="town" class="form-control " value="{% if Hostel != "" %}{{ Hostel.town }}{% endif %}" size="20" maxlength="50" placeholder="Enter or select town" &nbsp;&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("street_addr", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="street_addr" class="col-xs-12 col-sm-4 control-label"&gt;Street Address&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="street_addr" id="street_addr" class="form-control " value="{% if Hostel != "" %}{{ Hostel.street_addr }}{% endif %}" size="20" maxlength="50" placeholder="Street name" &nbsp;&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.header_block_end("Location Block End") }}<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.header_block_start("Contact Details", "", "", 12, 12, 12) }}<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("phone", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="phone" class="col-xs-12 col-sm-4 control-label"&gt;Phone&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="phone" id="phone" class="form-control" value="{% if Hostel != "" %}{{ Hostel.phone }}{% endif %}" size="16" maxlength="16" placeholder="Contact Phone" &nbsp;&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="form-group col-xs-12 col-sm-6 {{ set_field_error_tag("email", ' has-error ') }}"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="email" class="col-xs-12 col-sm-4 control-label"&gt;Email&lt;/label&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="col-xs-12 col-sm-8"&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="email" id="email" class="form-control" value="{% if Hostel != "" %}{{ Hostel.email }}{% endif %}" size="20" maxlength="50" placeholder="Hostel contact email address" &nbsp;&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ components.header_block_end("Contact Details Block End") }}<br/>
<br/>
<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class=" btn-group pull-right" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="button" value="Next" class="btn btn-success btn-login-submit" onclick="javascript:onSubmit();" &gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button type="button" class="btn btn-danger btn-cancel-action" style="margin-left: 20px;" onclick="javascript:document.location='{{ base_url }}admin/hostel/index/clearsteps/1' "&gt;Cancel&lt;/button&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="row"&gt; --&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/form&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br/>
&nbsp; &nbsp; &lt;/div&gt; &lt;!-- &lt;div class="row centered-form"&gt; --&gt; &lt;!-- hostelstep1 List Block End --&gt;<br/>
<br/>
{% endblock %}<br/>
</body></html>